body,html,h1,h2,h3,h4,h5,h6,head,header,footer,article {
    font-family: "B Yekan",Tahoma, sans-serif;

}
.topnav {
  overflow: hidden;
  background-color: #f3f1f1;
  direction: rtl;
  unicode-bidi: normal;
  font-family: "B Yekan",Tahoma, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.topnav a {
  float: right;
  display: block;
  color: #090909;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "B Yekan",Tahoma, sans-serif;
  cursor: pointer;
}

/* Leftt-aligned link */
.topnav a.left {
  float: left;
    cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: #0645a1;
}

.topnav a.active {
  /*background-color: #9dbd9e;*/
  color: black;
}

.topnav .icon {
  display: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #f2f2f2;

  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

/* Add a red background color to navbar links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;

}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) , .dropdown .dropbtn
  {display: none;}
  .topnav a.icon {
    /*float: right;*/
    display: block;
    float: left;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    /*right: 0;*/
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
    .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: right;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

.column {
  /*float: left;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 10px;
  text-align: justify;
  background: #393838;
  color: white;
  font-size:18px;
  font-family: "B Yekan",Tahoma, sans-serif;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.footer {
  padding: 5px;
  text-align: center;
  background: #393838;
  color: white;
  /*bottom: 0;*/
  left:0;
  /*position: fixed;*/
  width: 100%;
  font-family: "B Yekan",Tahoma, sans-serif;
}
@media screen and (max-width: 600px) {
  .column,.doublecolumn, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}