{% extends "managementbase.html" %}
{% block title_html %}
ایجاد حساب کاربری
{% endblock %}
{% block h1 %}
<!--<div class="container">-->
ایجاد حساب کاربری
{% endblock %}
{% block article_content %}

<div class="signup-bg-img">
<form method="post" action="{% url "ServiceUser:registration" registmode %}" class="signin-container">
{% csrf_token %}
<div class="infomsg">
    <div class="infoheader">اطلاع</div>
    <p>
        برای استفاده از سامانه هوشمند حساب کاربری خود را ایجاد نمایید
    </p>
</div>
<div class="notemsg">
    <div class="noteheader">نکته</div>
    <p>
      ورود اطلاعاتی که با رنگ قرمز مشخص شده اند اجباری می باشد</p>
</div>
<hr>
    <ul class="errorlist" >
        {% for errfield,errmsg in form.errors.items %}
           {{ errfield }}:{{ errmsg }}
        {% endfor %}
    </ul>
<tr>
    <th><label for="id_fname" >نام:</label></th>
{#   <td> <input  type="text" placeholder="نام خود را وارد کنید" name="fname" maxlength="30" id="id_fname" >#}
{#    </td>#}
    {{ form.fname }}
</tr>
<tr>
    <th><label for="id_lname" >نام خانوادگی:</label></th>
{#   <td> <input  type="text" placeholder="نام خانوادگی خود را وارد کنید" name="lname" maxlength="150" id="id_lname">#}
{#    </td>#}
{{ form.lname }}
</tr>

<tr>
    <th><label for="id_login" class="star">نام کاربری:</label> </th>
{#    <td><input  type="text" placeholder="نام کاربری را وارد کنید" name="login" maxlength="150" required id="id_login">#}
{#    </td>#}
{{ form.login }}
</tr>
<tr>
    <th><label for="id_email" class="star">رایانامه :</label> </th>
{#    <td><input  type="text" placeholder="رایانامه خود را وارد کنید" name="email" maxlength="150" required id="id_email">#}
{#    </td>#}
{{ form.email }}
</tr>
<tr>
    <th><label for="id_password" class="star">گذرواژه:</label> </th>
{#    <td><input  type="password" placeholder="گذرواژه را وارد کنید" name="password" required id="id_password">#}
{#    </td>#}
{{ form.password }}
</tr>
<tr>
    <th><label for="id_password_bis" class="star">تکرار گذرواژه :</label> </th>
{#    <td><input  type="password" placeholder="گذرواژه را تکرار کنید" name="password_bis" required id="id_password_bis">#}
{#    </td>#}
{{ form.password_bis }}
</tr>

<tr>
    <th><label for="id_identifyid" >شماره ملی:</label> </th>
{#    <td><input  type="text" placeholder="شماره ملی خود را وارد کنید" name="identifyid" required id="id_identifyid"#}
{#                maxlength="10" minlength="10" onkeyup="validateid()">#}
{#    </td>#}
{{ form.identifyid }}
</tr>
<tr>
    <th><label for="id_phone" >تلفن همراه :</label> </th>
    <td><input  type="text" placeholder="شماره تلفن خود را با قالب 09170000000 وارد کنید" name="phone"
                 id="id_phone" maxlength="11"
                minlength="11" accept="dig" onkeyup="validatephone()">
    </td>
</tr>

<tr>
    <th><label for="id_organisation">نام سازمان /شرکت:</label> </th>
{#    <td><input  type="text" placeholder="نام شرکت خود را وارد کنید" name="organisation"  id="id_organisation"#}
{#                maxlength="150">#}
{#    </td>#}
{{ form.organisation }}
</tr>


{% if registmode == "custom" %}
   <tr>
    <th><label for="id_max_apps">*تعداد سیستم های خبره:</label> </th>
    <td><input  type="number" placeholder="تعداد سیستم های خبره مورد نیاز را وارد کنید" name="max_apps" required id="id_max_apps" min="1">
   </tr>
    <tr>
    <th><label for="id_max_users">*تعداد کارکنان:</label> </th>
    <td><input  type="number" placeholder="تعداد کارکنان خود را وارد کنید" name="max_users" required id="id_max_users" min="1">
    </td>
    </tr>
{% endif %}
    <hr>
<p><input type="submit" class="registerbtn" value="ثبت عضویت" /></p>
<p>قبلا ثبت نام نموده اید؟ از اینجا
<a href="{% url 'signin' %}"> وارد شوید</a>
</p>
</form>

  </div>
<!--</div>-->
    <script>
    function validatephone() {
var p = document.getElementById('id_phone');
var numbers = /[0-9]/g;
        let isnum = /^\d*$/.test(pval);
        if (! p.value.match(numbers)){
            alert('فقط ورورد اعداد مجاز می باشد');
            p.innerText = '';
        }
    }

        function validateid() {
var idv = document.getElementById('id_identifyid');

var numbers = /[0-9]/g;
        let isnum = /^\d*$/.test(idvval);
        if (! idv.value.match(numbers)){
            alert('فقط ورورد اعداد مجاز می باشد');
            idv.innerText = '';
        }
    }

    </script>
{% endblock %}