{% extends "managementbase.html" %}
{% block title_html %}
ایجاد توسعه دهنده
{% endblock %}
{% block h1 %}
<!--<div class="container">-->
ایجاد توسعه دهنده
{% endblock %}
{% block article_content %}
<form method="post" action="{% url "RuleManager:create_developer" %}" >
<div class="infomsg">
    در این بخش سرپرستان سامانه می توانند کاربران توسعه دهنده سیستم را ایجاد و آنها را بعنوان زیرمجموعه یک سرپرست تعریف نمایند.
</div>
<br>

{% csrf_token %}
<!-- This line inserts a CSRF token. -->
<table>
<!--{{ form.as_table }}-->
<!-- This line displays lines of the form.-->
<thead>
<tr>
<td></td>
<td></td>
</tr>
</thead>
<tbody>
<tr>
    <td><label for="id_name">نام:</label></td>
   <td> <input class="inputdate" type="text" placeholder="نام را وارد کنید" name="name" maxlength="30" required id="id_name">
    </td>
</tr>
<tr>
    <td><label for="id_login">نام کاربری:</label> </td>
    <td><input class="inputdate" type="text" placeholder="نام کاربری را وارد کنید" name="login" maxlength="30" required id="id_login">
    </td>
</tr>
<tr>
    <td><label for="id_password">گذرواژه:</label> </td>
    <td><input class="inputdate" type="password" placeholder="گذرواژه را وارد کنید" name="password" required id="id_password">
    </td>
</tr>
<tr>
    <td><label for="id_supervisor">سرپرست:</label></td>
   <td> <select name="supervisor" required id="id_supervisor">
        <option value="" selected>---------</option>

    </select>
    </td>
</tr>
</tbody>
</table>
<p><input type="submit" class="registerbtn" value="ایجاد" /></p>

</form>
<!--</div>-->
{% endblock %}