{% extends "managementbase.html" %}
{% block title_html %}
ایجاد حساب کاربری
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
ایجاد حساب کاربری
</span>
{% endblock %}
{% block article_content %}

<div class="signup-bg-img w3-container">
<form method="post" action="{% url "register" %}" class="signin-container">
{% csrf_token %}
<h3 class="w3-center">ایجاد حساب کاربری</h3>
<div class="infomsg">
    <div class="infoheader">اطلاع</div>
    <p>
        برای استفاده از سامانه هوشمند حساب کاربری خود را ایجاد نمایید
    </p>
</div>
<div class="notemsg">
    <div class="noteheader">نکته</div>
    <p>
      ورود اطلاعاتی که با رنگ قرمز مشخص شده اند اجباری می باشد</p>
</div>
<hr>
    {% if form.errors %}
    <ul class="w3-panel w3-pale-red w3-round" >
        <h4 class="w3-panel w3-red w3-round w3-center">خطا!</h4>
        {% for errfield,errmsg in form.errors.items %}
           {{ errfield }}:{{ errmsg }}
        {% endfor %}
    </ul>
    {% endif %}
<tr>
    <th><label for="id_fname" >نام:</label></th>
    {{ form.fname }}
</tr>
<tr>
    <th><label for="id_lname" >نام خانوادگی:</label></th>
{{ form.lname }}
</tr>

<tr>
    <th><label for="id_login" class="star">نام کاربری:</label> </th>
{{ form.login }}
</tr>
<tr>
    <th><label for="id_email" class="star">رایانامه :</label> </th>
{{ form.email }}
</tr>
<tr>
    <th><label for="id_password" class="star">گذرواژه:</label> </th>
{{ form.password }}
</tr>
<tr>
    <th><label for="id_password_bis" class="star">تکرار گذرواژه :</label> </th>
{{ form.password_bis }}
</tr>

<tr>
    <th><label for="id_identifyid" >شماره ملی:</label> </th>
{{ form.identifyid }}
</tr>
<tr>
    <th><label for="id_phone" >تلفن همراه :</label> </th>
    <td><input  type="text" placeholder="شماره تلفن خود را با قالب 09170000000 وارد کنید" name="phone"
                 id="id_phone" maxlength="11"
                minlength="11" accept="dig" onkeyup="validatephone()">
    </td>
</tr>

<tr>
    <th><label for="id_organisation">نام سازمان /شرکت:</label> </th>
{{ form.organisation }}
</tr>


    <hr>
<p><input type="submit" class="registerbtn" value="ایجاد حساب" /></p>
<p>قبلا ثبت نام نموده اید؟ از اینجا
<a href="{% url 'signin' %}"> وارد شوید</a>
</p>
</form>

</div>
<!--</div>-->
    <script>
    function validatephone() {
var p = document.getElementById('id_phone');
var numbers = /[0-9]/g;
        let isnum = /^\d*$/.test(pval);
        if (! p.value.match(numbers)){
            alert('فقط ورورد اعداد مجاز می باشد');
            p.innerText = '';
        }
    }

        function validateid() {
var idv = document.getElementById('id_identifyid');

var numbers = /[0-9]/g;
        let isnum = /^\d*$/.test(idvval);
        if (! idv.value.match(numbers)){
            alert('فقط ورورد اعداد مجاز می باشد');
            idv.innerText = '';
        }
    }

    </script>
{% endblock %}