{% extends "managementbase.html" %}
{% block title_html %}
ایجاد سرپرست
{% endblock %}
{% block h1 %}
ایجاد سرپرست
{% endblock %}
{% block article_content %}
<div class="infomsg">
    در این صفحه می توانید کاربران سرپرست سامانه را ایجاد نمایید.
    <br>
    سرپرستان سامانه می توانند عملیات ایجاد و حذف قوانین و حقایق و همچنین ایجاد کاربران عادی را انجام دهند.
</div>
<br>
<form method="post" action="{% url "RuleManager:create_supervisor" %}" >
{% csrf_token %}
<!-- This line inserts a CSRF token. -->
<table>
<!--{{ form.as_table }}-->
<thead>
<tr>
<td></td>
<td></td>
</tr>
</thead>

<tbody>
    <thead> </thead>
<tr>
    <td><label for="id_name">نام :</label></td>
    <td><input type="text" name="name" maxlength="30" required id="id_name" class="inputdate"></td>
</tr>
<tr>
    <td><label for="id_login">نام کاربری:</label></td>
    <td><input type="text" name="login" required id="id_login" class="inputdate"></td>
</tr>
<tr>
    <td><label for="id_email">رایانامه:</label></td>
    <td><input type="email" name="email" required id="id_email" class="inputdate"></td>
</tr>
<tr>
    <td><label for="id_specialisation">تخصص:</label></td>
    <td><input type="text" name="specialisation" required id="id_specialisation" class="inputdate"></td>
</tr>
<tr>
    <td><label for="id_password">گذرواژه:</label></td>
    <td><input type="password" name="password" required id="id_password" class="inputdate"></td>
</tr>
<tr>
    <td><label for="id_password_bis">تکرار گذرواژه:</label></td>
    <td><input type="password" name="password_bis" required id="id_password_bis" class="inputdate"></td>
</tr>

<!-- This line displays lines of the form.-->
</tbody>
</table>
<p><input type="submit" class="registerbtn" value="ایجاد" /></p>
</form>
{% endblock %}