<!--*************** IN CUSTOM_EXPIRATION MESSAGES-START ***************-->

{% if user.is_authenticated  and not user.is_superuser and not user.is_staff%}
    <div class="w3-modal " id="id_expired">
        <div class="w3-modal-content w3-card-4 w3-pale-red w3-round-large">
            <div class="w3-red w3-round-large w3-center" ><h3>اخطار</h3></div>
                <p class= "w3-padding-16 w3-center">
                    <strong>مدت زمان اعتبار حساب شما منقضی شده است</strong><br>
                    لطفا حساب تان را <a href="{{ EXTEND_URL }}"> تمدید </a> کنید.
                </p>
        </div>
    </div>

    <div class="w3-modal " id="id_notactive">
        <div class="w3-modal-content w3-card-4 w3-pale-red w3-round-large">
            <div class="w3-red w3-round-large w3-center" ><h3>اخطار</h3></div>
                <p class= "w3-padding-16 w3-center">
                    <strong>حساب شما فعال نیست.</strong> <br>ممکن است برخی از محدودیت های اشتراک شما  فعال شده باشد. لطفا
                    سعی کنید حساب تان را <a href= "{{ACTIVATE_URL}}"> فعال کنید </a>.
                </p>
        </div>
    </div>


    <div class=" w3-card-4 w3-pale-yellow w3-round-large w3-content w3-hide" id="id_expiresoon">
        <div class="w3-yellow w3-center w3-round-large" ><h3>توجه</h3></div>
            <p class= "w3-padding-16 w3-center">
                    <strong>مدت اعتبار حساب شما بزودی به پایان خواهد رسید( در {{ EXPIRE_IN_DAYS}} روز)</strong> <br>
                    ما توصیه می کنیم حساب تان را<a href= "{{EXTEND_URL}}">  تمدید کنید </a>.
            </p>
    </div>

{% endif %}
<script >
        $(document).ready(function(){
            var acc_exp = '{{ACCOUNT_EXPIRED}}';
            var acc_not_actv = '{{ACCOUNT_NOT_ACTIVE}}';
            var dayleft = {{EXPIRE_IN_DAYS}};
            if (acc_exp == "True"){
                    $('#id_expired').show();
            }else{
             if(acc_not_actv == "True"){
                $('#id_notactive').show();
            }
            if(dayleft >=0 & dayleft <= 14){
                 $('#id_expiresoon').show();
            }
            }
        });
    </script>
<!--*************** IN CUSTOM_EXPIRATION MESSAGES-END ***************-->
