{% extends "managementbase.html" %}
{% block title_html %}
ویرایش اطلاعات شخصی
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
ویرایش اطلاعات شخصی
</span>
{% endblock %}
{% block article_content %}
    <div class="centrecard" >
        <div class="contentheader">
            <h2>ویرایش اطلاعات شخصی
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه امکان ویرایش اطلاعات شخصی کاربر فراهم گردیده است
                    </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" style="max-height: 600px; overflow: auto;">
            <div class="infomsg">
                <div class="infoheader">نکته</div>
                <p>
                    برای تغییر رمز عبور و ایمیل می توانید از منوی <a href="{% url 'ServiceUser:user_account2' %}">حساب کاربری</a> استفاده کنید.
                </p>
            </div>
            <form method="post" action="{% url "ServiceUser:edit_user"  %}" >
                <!-- This line inserts a CSRF token. -->
                {% csrf_token %}
                {% if form.errors.items %}
                    <hr>
                    <ul class="w3-panel w3-rightbar w3-border-red w3-pale-red" >
                        <strong>خطا!</strong><br>
                        {% for errfield,errmsg in form.errors.items %}
                            {{errfield}}:{{ errmsg }}
                        {% endfor %}
                    </ul>
                    <hr>
                {%endif%}
                <p>
                    <input  type="hidden" name="user_auth" value="{{ srvuser.pk }}" id="id_user_auth">
                    <!--<label for="id_login" >نام کاربری:-->
                    <!--    <input  type="text" name="login" value="{{ form.login.value }}" id="id_login">-->
                    <!--</label>-->
                    <label for="id_identifyid" >شماره ملی:
                        <input  type="text" name="identifyid" value="{{ form.identifyid.value }}"
                        id="id_identifyid" maxlength="10" minlength="10">
                    </label><br>
                    <label for="id_phone" >تلفن همراه :
                        <input  type="text" name="phone" value="{{ form.phone.value }}" id="id_phone"
                        maxlength="11" minlength="11">
                    </label><br>
                    <label for="id_organisation" >نام سازمان/شرکت:
                        <input  type="text" name="organisation" value="{{ form.organisation.value }}" id="id_organisation">
                    </label>
                    <br>
                </p>
                <hr>
                <p><input type="submit" class="registerbtn" value="ذخیره" ></p>
            </form>
        </div>
    </div>

{% endblock %}