{% extends "managementbase.html" %}
{% block title_html %}
ورود به سامانه
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
ورود به سامانه
   </span>
{% endblock %}
{% load RuleManager_filters %}
{% block article_content %}
<script>
        let expired = '{{ expired }}';
        $(document).ready(function(){
            if (expired){
                $('#id01').show();
                $('#upgbtn').click(function(){
                    window.location.href ='{% url 'ServiceUser:user_account2'  %}';
                });
            }else {
                $('#id01').hide();
                $('#upgbtn').onclick = "#";
            }
        });
    </script>
{% if user.is_authenticated %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>ورود به سامانه
            </h2>
    </div>
    <div class="contentcontainer" >
     <!--This line checks if the user is connected.-->
    {% if user.is_superuser %}
        <h2>{{ user.username }} شما به عنوان مدیر سیستم وارد سامانه شده اید.</h2>
        {% if msg|length  %}
            {% if  msg != 'admin' %}
                <div class="infomsg">
                    <div class="infoheader">نکته</div>
                    <p>
                 این محتوا مربوط به کاربر زیر می باشد:
                 <br>
                    {{ msg }}
                 <br>
                می توانید از منوی مدیریت سیستم محتوای مربوط به تمامی کاربران را مدیریت نمایید.
                <hr>
                <a href="{% url 'admin:index' %}">مدیریت سیستم</a>
                </p>
                </div>
            {% else %}
                <div class="notemsg">
                    <div class="noteheader">نکته</div>
                    <p>
                    محتوای مربوط به کاربران سیستم فقط از پنل مدیریت قابل دسترسی می باشد. برای رفتن به پنل مدیریت از لینک زیر استفاده نمایید
                    <hr>
                    <a href="{% url 'admin:index' %}">مدیریت سیستم</a>
                    </p>
                </div>
           {% endif %}
        {% endif %}
        <hr>
        <strong>
             <a href="{% url "sinout" %}" class="button button1">خروج از سامانه</a>
            <br><br>
             <a href="{%url "ExpertSystem:expert_initial" %}" class="button button1">سامانه هوشمند</a>
        </strong>
    {% elif user.is_staff %}
        <h2>{{ user.username }} شما به عنوان توسعه دهنده وارد سامانه شده اید.</h2>
        {% if msg|length %}
            <div class="alerttext">
                <div class="alertheader">اخطار</div>
                    <p>
                    شما مجوز دسترسی به مشاهده محتوای درخواست شده را ندارید.این محتوا مربوط به کاربر زیر می باشد:
                    <br>
                    {{ msg }}
                    <br>
                    برای دسترسی به محتوای مورد نظر باید از سامانه خارج شده و مجددا با نام کاربری مورد نظر وارد شوید یا از پنل مدیریت سیستم اقدام نمایید
                    </p>
            </div>
        {% endif %}
        <hr>
        <strong>
             <a href="{% url "sinout" %}" class="button button1">خروج از سامانه</a>
            <br><br>
             <a href="{%url "ExpertSystem:expert_initial" %}" class="button button1">سامانه هوشمند</a>
        </strong>
    {% else %}
        <div class="infomsg">
            <div class="infoheader">اطلاع</div>
            <p>
            {{ user.username }} شما به عنوان کاربر وارد سامانه شده اید .
            <br>
            رایانامه شما: {{ user.email }}
            </p>
        </div>
        {% if msg|length and msg != 'AnonymousUser' and msg != 'not_signed_in' %}
            <div class= 'alerttext'>
                <div class="alertheader">اخطار</div>
                    <p >
                    شما مجوز دسترسی به مشاهده محتوای درخواست شده را ندارید.این محتوا مربوط به کاربر دیگری می باشد:
                    <br>
                    <!--{{ msg }}-->
                    <br>
                    برای دسترسی به محتوای مورد نظر باید از سامانه خارج شده و مجددا با نام کاربری مورد نظر وارد شوید
                    </p>
                </div>
        {% endif %}
        {% if not perms.ExpertSystem %}
            <div class="notemsg">
                <div class="noteheader">نکته</div>
                <p>
                برای دسترسی به امکانات پایگاه دانش می بایست با نام کاربری دارای سطح دسترسی مربوطه یا بعنوان کاربر با نقش توسعه دهنده یا مدیر سامانه وارد شوید.
                </p>
            </div>
        {% elif not perms.admin %}
            <div class="alerttext">
                <div class="alertheader">اخطار!</div>
                <p>
                <strong>
                شما مجوز دسترسی به محتوا یا اقدام درخواست شده را ندارید.
                </strong><br>
                می توانید از سامانه خارج  شده و مجددا با نام کاربر دارای دسترسی مربوطه وارد شوید.
                </p>
            </div>

        {% endif %}
        <hr>
        <p>
             <a href="{% url "sinout" %}" class="button button1">خروج از سامانه</a>
            <!--<br><br>-->
            <!-- <a href="{%url "ExpertSystem:expert_initial" %}" class="button button1">سامانه هوشمند</a>-->
        </>
    {% endif %}
</div>
</div>
{% else %}
<!-- In this line, if the user is not connected, we display the
login form.-->

  <div class="signin-bg-img">
<form method="post" action="{% url "signin" %}" class="signin-container">
    {% csrf_token %}
{% if form.errors %}
              {%  if form.non_field_errors %}
                  <div class="alerttext">
                      <p>{{ form.non_field_errors }}</p>
                  </div>
              {% else %}
                  <div class="alerttext">
                  <div class="alertheader">اخطار</div>
                    <p>نام کاربری و گذرواژه مطابقت ندارند. لطفا دوباره امتحان کنید.</p>
                  </div>
              {% endif %}

              <hr>
          {% endif %}
    <div class="notemsg">
    <div class="noteheader">نکته</div>
    <p>
    برای استفاده از دستیار هوشمند و دسترسی به امکانات پایگاه دانش می بایست وارد سامانه شوید.
    </p>
</div>
  <div class="imgcontainer">
    <img src="/static/UserManagement/images/avatar.png" alt="Avatar" class="avatar">
  </div>
    <label for="id_username">نام کاربری:
    <input type="text" class="w3-input w3-border-bottom w3-hover-border-light-green" name="username" required id="id_username" placeholder="نام کاربری را وارد کنید"></td>
    </label>
    <label for="id_password">گذرواژه:
   <input type="password" class="w3-input w3-border-bottom w3-hover-border-light-green" name="password" required id="id_password" placeholder="گذرواژه را وارد کنید"></td>
   </label>
<hr>
<input type="submit" class="registerbtn"  value="ورود">

<div class= "signin">
    <span class="psw"><a href="{% url "password_reset" %} ">گذرواژه </a>را فراموش کرده اید؟
    <hr>
    آیا هنوز ثبت نام نکرده اید؟<a href="{% url "register"%}">ثبت نام کنید</a>
    </span>
    </div>
</form>
</div>
{% endif %}
{% endblock %}