{% extends "managementbase.html" %}
{% block title_html %}
خروج از سامانه
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
خروج از سیستم
</span>
{% endblock %}
{% block article_content %}
<div class=" w3-content w3-round w3-card-2" >
    <div class="contentheader">
        <h2>خروج از سامانه
        </h2>
    </div>
    <div class="w3-container" >
        <h4 class="w3-center">شما با موفقیت از سامانه خارج شدید.</h4>
        <br><br>
        از اینکه امروز وقت خود را در سامانه سپری کردید سپاسگزاریم
        <br><br>
        <div class="infomsg">
        <div class="infoheader">اطلاع</div>
            <p>برای استفاده از سامانه هوشمند نیاز به ورود به سیستم می باشد.می توانید با رفتن به صفحه تنظیمات اولیه مجددا از سامانه استفاده نمایید.</p>
        </div>
        <br>
        <button class="button button1"  onclick='window.location.href="{% url "ExpertSystem:expert_initial" %}";'>سامانه هوشمند</button>
        <div class="notemsg">
            <div class="noteheader">نکته</div>
                <p>
                    از اینجا می توانید مجددا وارد سیستم شوید
                </p>
            </div>
            <hr>
            <button class="button button1" onclick='window.location.href="{% url "signin" %}";'>ورود به سیستم </button>
        </div>
    </div>
</div>
{% endblock %}