body,html,h1,h2,h3,h4,h5,h6,head,header,footer,article {
    font-family: "B Yekan",Tahoma, sans-serif;

}
div {
  direction: rtl;
  unicode-bidi: normal;
}
div.alerttext {
  border-radius: 2px;
  text-align: justify;
  font-weight: normal;
  /*padding: 10px;*/
  background-color: #f3d3d0;
  }

div.alertheader {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: justify;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: #ea9289;
  }

div.infomsg{
    border-radius: 2px;
    font-weight: normal;
    text-align: justify;
    /*padding: 10px;*/
    background-color: #d0f1d3;
}
div.infoheader{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: justify;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: #6fc25f;

}
div.noteheader{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: justify;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: #57b2d5;

}
div.notemsg{
    border-radius: 2px;
    font-weight: normal;
    text-align: justify;
    /*padding: 10px;*/
    background-color: #c5e4f3;
}

ol {
  background-color: #f2f2f2;
  padding: 10px;
}

ul {
  background-color: #f2f2f2;
  padding: 10px;
}
ul.numbered{
   list-style-type: decimal;

}
ol li {
  background: #e6f9ff;
  padding: 5px;
  margin-right: 20px;
}

ul li {
  background:#e6f9ff;
  margin: 5px;
}

body {
    /*padding-top: 50px;*/
    background-color: #eaf6f6;
    direction: rtl;
    unicode-bidi: normal;
    /*margin:5px;*/
    font-family: "B Yekan",Tahoma, sans-serif;
}
p {
  direction: rtl;
  unicode-bidi: normal;
  padding: 10px;
}
.button {
  background-color: inherit;
  border-radius: 4px;
  border:2px solid #99ceff ;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "B Yekan",Tahoma, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
}

.button1:hover {
  background-color: #ddd;
  color: #0645a1;
}

table {
  /*border-collapse: collapse;*/
  width: auto;
}

td {
  text-align: right;
  padding: 8px;
  /*height: 50px;*/
  vertical-align: middle;
  border-color: #447e9b;
  color: #0e0e0e;
  /*font-size: 18px;*/
}
tr:nth-child(odd){
     background-color: #fdfcfc;
}
tr:nth-child(even){
    background-color: #f5f0f0;
  /*border-color: #447e9b;*/

}

th {
  background-color: #d3dcd6;
  color: #0c0c0c;
  text-decoration: double;
  font-size: large;
  vertical-align: middle;
  border-color: #d6f8d9;
  padding: 8px;
}
thead {
  background-color: #d3dcd6;
  color: #0c0c0c;
  text-decoration: double;
  font-size: large;
  vertical-align: middle;
  border-color: #d6f8d9;
  padding: 8px;
}


input[type=text], select, textarea ,input[type=number]{
  width: 100%;
  padding: 6px;
  border: 2px solid #c6ecc6;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
    overflow: auto;
      border-radius: 2px;
  background-color: #f8f8f8;

}


select:focus {
  background-color: #ccf3ff;
}

textarea:focus {
  background-color: #ccf3ff;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.inputtext {
  background-color: #e6f9ff;
  color: black;
  height: 75px;
  width: 35%;
  border: 2px solid #c6ecc6;
}
.inputtext:focus {
  background-color: #ccf3ff;
}
.inputtext1 {
  background-color: #e6f9ff;
  color: black;
  height: 200px;
  width: 50%;
  text-align: justify;
  border: 2px solid #c6ecc6;
}
.inputtext1:focus {
  background-color: #ccf3ff;
}
.inputdate {
  background-color: #e6f9ff;
  color: black;
  height: 20px;
  /*width: 20%;*/
  text-align: justify;
  border: 2px solid #c6ecc6;
}
.inputdate:focus {
  background-color: #ccf3ff;
}

.inputnarrowlong {
  background-color: #e6f9ff;
  color: black;
  height: 25px;
  width: 60%;
  text-align: justify;
  border: 2px solid #c6ecc6;
}
p.alerttext {
 border-radius: 2px;
  text-align: justify;
  font-weight: bold;
  padding: 10px;
  background-color: #efc4c0;
}
p.infomsg{
    border-radius: 2px;
    font-weight: bold;
    text-align: justify;
    padding: 10px;
    background-color: #d0f1d3;
}

* {
  box-sizing: border-box;
}
/* Style the container */
.about-section {
  padding: 10px;
  text-align: justify;
  background-color: #474e5d;
  color: white;
  /*font-size:18px;*/
}
.contentcontainer {
  border-radius: 2px;
  background-color: #f1fafa;
  padding: 10px;
  width:100%;
}

.contentcolumn {
  float: right;
  width: 100%;
  margin-top: 6px;
  padding: 10px;
}

.centrecard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 60px 25% 60px 25%;
    background-color: white;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .contentcolumn, input[type=submit] ,.contentcontainer{
    width: 100%;
    margin-top: 0;
  }

}

@media screen and (max-width: 900px) {
    .centrecard{
    width: 90%;
    margin: 30px 5% 30px 5%;
  }
}

.helpicon{
  border-radius: 50%;
  background-color: inherit;
  color: #003366;
  cursor: pointer;
  alignment: left;
  text-align: left;
}
.helpicon:hover{
  background-color: #003366;
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  max-height: 250px;
  /*overflow: auto;*/
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -125px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

div.contentheader {
  text-align: center;
  font-weight: bold;
  padding: 2px;
  color: black;
  background-color: #d9e2e2;
  }
