{% extends "managementbase.html" %}
{% block title_html %}
بازیابی گذرواژه موفق بود
{% endblock %}
{% block h1 %}
بازیابی گذرواژه موفق بود
{% endblock %}
{% block article_content %}
<hr>
    <div class="contentcontainer">
        <p class="infomsg">
گذرواژه شما با موفقیت تغییر کرد.
<br>
می توانید از طریق لینک زیر وارد شوید.
<br>
<a class="w3-text-blue" href="{% url 'signin' %}"><strong>ورود</strong></a>
</p>
</div>
{% endblock %}