{% extends "managementbase.html" %}
{% block title_html %}
ارسال پیام
{% endblock %}
{% block h1 %}

{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-content w3-round" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h3>ارسال پیام راهنمایی
            </h3>
        </div>
    <div class="contentcontainer">
        <p class="infomsg">
ما دستورات لازم را برای بازیابی گذرواژه برای شما ارسال نموده ایم، اگر یک حساب با رایانامه ای که شما وارد نموده اید وجود داشته باشد
شما به زودی پیام ما را دریافت خواهید نمود
        </p>
            <hr>
        <p class="alerttext">
اگر شما یک رایانامه دریافت نکردید، لطفا اطمینان پیدا کنید همان رایانامه ای را که با آن ثبت نام نموده اید وارد کرده باشید،
    و پوشه اسپم صندوق پستی تان را بررسی کنید.
        </p>
    </div>
    </div>
{% endblock %}