{% extends "managementbase.html" %}
{% block title_html %}
        فراموشی گذرواژه
{% endblock %}
{% block h1 %}
    <span style="visibility: hidden">
    فراموشی گذرواژه
    </span>
{% endblock %}
{% block article_content %}
    <div class="centrecard" >
        <div class="contentheader">
            <h2>فراموشی گذرواژه
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">
                        اگر رمز عبورتان را فراموش کرده اید رایانامه خود را برای فرستادن دستورات بازیابی رمز وارد کنید.
                    </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" >
            {% for field in form %}
                <p>
                    {{ field.errors }}
                </p>
            {% endfor %}
            <div class="infomsg" style="margin: 20px auto;">
                رایانامه ای را که هنگام ثبت حساب در سامانه وارد نموده اید جهت بازیابی گذرواژه وارد نمایید
            </div>
            <form method="post">
                {% csrf_token %}
                <label for="id_email">رایانامه:
                    <input type="email"  class="w3-input" name="email" autocomplete="email" maxlength="254" required id="id_email">
                </label>
                <button type="submit" class="button button1">ارسال</button>
            </form>
        </div>
    </div>
{% endblock %}