{% extends "managementbase.html" %}
{% block title_html %}
محدودیت حساب
{% endblock %}
{% block h1 %}
{% endblock %}
{% block article_content %}
    <script>
        let expired = '{{ expired }}';
        $(document).ready(function(){
            if (expired){
                $('#id01').show();
                $('#upgbtn').click(function(){
                    window.location.href ='{% url 'ServiceUser:user_account2'  %}';
                });
            }else {
                $('#id01').hide();
                $('#upgbtn').onclick = "#";
            }
        });
    </script>
    <div id="id01" class="w3-modal w3-round-4">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-round-4">
            <header class="w3-container w3-red">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="w3-button w3-green w3-xlarge w3-display-topleft">&times;</span>
                <h3>اشتراک خود را ارتقا دهید</h3>
            </header>
            <p>
            <ul class="w3-ul ">
                {% for msg in expmsg %}
                <li class="w3-pale-red ">{{ msg }}</li>
                {% endfor %}
            </ul>
            </p>
            <div class="w3-container w3-light-grey w3-padding">
                <!--<button class="w3-button w3-right w3-green w3-border w3-round-large " id="upgbtn">ارتقای حساب</button>-->
<button class="w3-button w3-right w3-light-gray w3-hover-green w3-hover-border-pale-yellow w3-border w3-round-large w3-border-green " id="upgbtn">ارتقای اشتراک</button>
            </div>
        </div>
    </div>
<h2 class=" w3-center ">محدودیت حساب</h2>
<div class="w3-row-padding  w3-center ">
  <div class="w3-half w3-center w3-container w3-right" >
     <div class="w3-card w3-pale-yellow w3-round-medium" style=" min-height: 300px;">
        <h2>ایجاد سامانه خبره جدید</h2>
        <hr>
            <p>در اشتراک
            <strong>{{ accountdesc }}</strong>
                شما فقط مجاز به ایجاد
            <strong>{{ maxapp }}</strong>
                سامانه خبره می باشید.
            </p>

        <p><button class="button button1" onclick="upgradeaccount()">برای افزودن سیستم های خبره ، اشتراک خود را ارتقاء دهید</button></p>
      </div>
    </div>
  <div class="w3-half w3-center w3-container w3-right" >
     <div class="w3-card w3-pale-yellow w3-round-medium" style=" min-height: 300px;">
        <h2>ایجاد کاربر جدید</h2>
        <hr>
          {% if ismanager %}
            <p>در اشتراک
            <strong>{{ accountdesc }}</strong>
                شما فقط مجاز به ایجاد
            <strong>{{ maxuser }}</strong>
                کاربر می باشید.
            </p>
          {% else %}
              <p>در اشتراک
                <strong>{{ accountdesc }}</strong>
                شما  مجاز به ایجاد کاربر نمی باشید
              </p>
          {% endif %}
        <p><button class="button button1" onclick="upgradeaccount()">برای افزودن کاربران ، اشتراک خود را ارتقاء دهید</button></p>
      </div>
    </div>
</div>
  <script>
    function upgradeaccount() {
        window.location.href = "{% url 'ServiceUser:user_account2' %}";
    }


  </script>
{% endblock %}