{% extends "managementbase.html" %}
{% block title_html %}
    تنظیمات موتور استنتاج
{% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% block h1 %}
    <span style="visibility: hidden">
        تنظیمات موتور استنتاج
    </span>
{% endblock %}
{% block article_content %}
    <div class="w3-content w3-card-2 w3-light-gray w3-round" >
        <div class="contentheader" style="margin-bottom: 10px">
            <h2>تنظیمات موتور استنتاج
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">برای شخصی سازی پیام های نمایش داده شده توسط سامانه هوشمند از این فرم استفاده نمایید.
                    </span>
                </span>
            </h2>
        </div>
        <div class="w3-container w3-responsive" style="max-height: 600px">
            <form method="post" id="id_form" action="{% url "ServiceUser:engineconfig"  %}" onload="initform()">
                {% csrf_token %}
                <script>
                    curr_user = '{{ user.username }}';
                    facttoken = '{{ csrf_token }}';
                </script>
                {% load static %}
                <script src="{% static 'ServiceUser/javascript/servicescripts.js' %}" defer></script>
                {{ form.non_field_errors }}
                <div class="notemsg">
                    <div class="noteheader">نکته</div>
                     <p>برای بازیابی پیام های پیش فرض سامانه از دکمه بازیابی مقادیر اولیه و سپس ذخیره تغییرات استفاده نمایید.</p>
                </div>
                {% for field in form %}
                    <p>
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field.label_tag }}
                        {{ field }}
                    </p>
                {% endfor %}
                <hr>
                <p>
                    <input type="button" class="button button1" value="ذخیره تغییرات" onclick="sendform()">
                    <input type="button" id="id_restore_btn" class="button button1" value="بازیابی مقادیر اولیه"  onclick="restoredefaults()">
                    <span id="result" style="background-color: #fffccf">{{ status }}</span>
                </p>
            </form>
        </div>
    </div>
    <script>
    function sendform() {
        document.getElementById('id_restore_btn').enabled = true;
        document.getElementById('id_form').submit();

    }
    </script>
{% endblock %}