{% extends "expertbase.html" %}
{% block title_html %}
بررسی مغایرت قوانین
{% endblock %}


{% block h1 %}
<!--قوانین دارای مغایرت با پایگاه حقایق-->
{% endblock %}
{% block article_content %}
<h2>
    کنترل قوانین
</h2>
<hr>
{% load plan_custom_tags %}
<div class="infomsg">
        <div class="infoheader">اطلاع</div>
    <p>

    در صورتی که بخش های شرط اولیه و نتیجه قوانین دارای مغایرت با حقایق موجود در پایگاه داده باشند، در این بخش نمایش داده می شوند.
لازم به ذکر است در صورت ویرایش حقایق قوانین مرتبط با آنها نیز اصلاح و در صورت حذف حقایق، قوانین مرتبط با آنها حذف می گردند.
</p>
</div>
<br>
{% if corruptrules|length > 0 %}
<table>
<thead>
<tr>
<td>شناسه</td>
<td>شرط</td>
<td>نتیجه</td>
<td></td>
</tr>
</thead>
<tbody>
{% for rule  in page_obj %}
<tr>
<td>{{ rule.pk }}</td>
<td>{{ rule.condition }}</td>
<td>{{ rule.consequence }}</td>
<td><button type="button" id="edtBtn" name="edtBtn" class="button button1" onclick=
        "window.location.href ='{% url "ServiceUser:user_expertrule_edit" exp_id rule.pk %}';" >ویرایش این قانون</button></td>
 </tr>

{% endfor %}
</tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<!--<span>-->
    <div class="w3-light-blue w3-container w3-center w3-content w3-round-large">
        <!--<div class="alertheader">توجه</div>-->
        <p>
            هیچ یک از قوانین دارای مغایرت نمی باشند.
        </p>
    </div>
<!--</span>-->
{% endif %}
{% endblock %}