{% extends "managementbase.html" %}
{% block title_html %}
ایجاد مدیر سیستم

{% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% block h1 %}
<span style="visibility: hidden">
ایجاد مدیر سیستم
</span>
{% endblock %}
{% block article_content %}
    <div class="centrecard" >
        <div class="contentheader">
            <h2>ایجاد مدیر سیستم
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">مدیران سیستم راهبران سامانه می باشند که امکان مدیریت کامل کاربران و پایگاه دانش را دارند
                    </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" style="max-height: 600px; overflow: auto;">
            <div class="alerttext">
                <div class="alertheader">توجه</div>
                <p>ورود اطلاعاتی که با رنگ قرمز مشخص شده اند الزامی می باشد.</p>
            </div>
        <form method="post" action="{% url "ServiceUser:create_supervisor" %}" >
    <!-- This line inserts a CSRF token. -->
    {% csrf_token %}
    <label for="id_user_auth" class="star">کاربر سیستمی:
        {{ form.user_auth }}
        <a  href="{% url 'ServiceUser:create_user' %}" target="popup" onclick='newuserpop()' title="ایجاد کاربر جدید">
            <i class="fa fa-plus-square" aria-hidden="true"></i></a>
    </label>
    <label for="id_identifyid" class="star">کد ملی:
        {{ form.identifyid }}
    </label>
    <label for="id_phone" class="star">تلفن:
        {{ form.phone }}
    </label
    <label for="id_specialisation" class="star">تخصص :
        {{ form.specialisation }}
    </label>
    <label for="id_last_connection" class="star">تاریخ ثبت نام
        {{ form.last_connection }}
    </label>
    <p><input type="submit" class="registerbtn" value="ایجاد" /></p>
    </form>
    <script>
    function newuserpop() {
        window.open("{% url 'ServiceUser:create_user' %}",'popup','width=600,height=600');
        return false;
    }
    </script>
        </div>
  </div>

{% endblock %}