{% extends "managementbase.html" %}
{% block title_html %}
ایجاد سامانه هوشمند
{% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% block h1 %}
    <span style="visibility: hidden">
ایجاد سامانه هوشمند
    </span>
{% endblock %}
{% block article_content %}
    <div class="centrecard" >
        <div class="contentheader">
            <h2>ایجاد سیستم خبره
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه می توانید سامانه هوشمند جدید را ایجاد نمایید.
                    </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" style="max-height: 600px; overflow: auto;">
            <form method="post" action="{% url "ServiceUser:create_expertmodel" %}" >
                <!-- This line inserts a CSRF token. -->
                {% csrf_token %}
                <div class="alerttext">
                    <div class="alertheader">توجه</div>
                    <p>ورود اطلاعاتی که با رنگ قرمز مشخص شده اند الزامی می باشد.</p>
                </div>
                <hr>
                <div class="errorlist" style="direction: ltr; padding-left: 10px">
                    {% for errfield,errmsg in form.errors.items %}
                        {{ errfield }}: {{ errmsg }}
                    {% endfor %}
                </div>
            <p>
                <label for="id_appuser">*مالک :
                    {{ form.appuser }}
                </label><br>
                <label for="id_name">*نام سیستم خبره:
                    {{ form.name }}
                </label><br>
                <label for="id_accesstype">*نحوه دسترسی به سیستم خبره:
                    {{ form.accesstype }}
                </label>
            </p>
                <hr>
                <p><input type="submit" class="registerbtn" value="ایجاد" /></p>
            </form>
            <!--</div>-->
            <script>
                function newuserpop() {
                    window.open("{% url 'ServiceUser:create_user' %}",'popup','width=600,height=600');
                    return false;
                }
            </script>
        </div>
    </div>

{% endblock %}