{% extends "managementbase.html" %}
{% block title_html %}
    ایجاد توسعه دهنده سیستم
{% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% block h1 %}
    <span style="visibility: hidden">
        ایجاد توسعه دهنده سیستم
    </span>
{% endblock %}
{% block article_content %}
    <div class="centrecard" >
        <div class="contentheader">
            <h2>ایجاد توسعه دهنده سیستم
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه می توانید توسعه دهنده جدید ایجاد کنید.
                    </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" >
            <div class="alerttext">
            <div class="alertheader">توجه</div>
            <p>ورود اطلاعاتی که با رنگ قرمز مشخص شده اند الزامی می باشد.</p>
            </div>
            <form method="post" action="{% url "ServiceUser:create_developer" %}"  >
                <!-- This line inserts a CSRF token. -->
                {% csrf_token %}
                <hr>
                <div class="errorlist" style="direction: rtl; padding-right: 10px">
                    {% for errfield,errmsg in form.errors.items %}
                        {{ errmsg }}
                    {% endfor %}
                </div>
                <p>
                    <label for="id_user_auth" class="star">کاربر سیستمی:

                        {{ form.user_auth }}
                        <a  href="{% url 'ServiceUser:create_user' %}" target="popup" onclick='newuserpop()' title="ایجاد کاربر جدید">
                            <i class="fa fa-plus-square" aria-hidden="true"></i></a>

                    </label><br>
                    {#                </p>#}
                    {#            <p>#}
                    <label for="id_senior_supervisor" class="star">مدیر مافوق:
                        {{ form.senior_supervisor }}
                        <a  href="{% url 'ServiceUser:create_supervisor' %}" target="popup" onclick='newsuperpop()' title="ایجاد مدیر جدید">
                            <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                    </label><br>
                    {#                </p>#}
                    {#            <p>#}
                    <label for="id_identifyid" class="star">کد ملی:
                        {{ form.identifyid }}
                    </label><br>
                    {#                </p>#}
                    {#            <p>#}
                    <label for="id_phone">*تلفن:
                        {{ form.phone }}
                    </label><br>
                    {#                </p>#}
                    {#            <p>#}
                    <label for="id_last_connection">تاریخ ثبت نام:
                        {{ form.last_connection }}
                    </label>
                </p>
                <hr>
                <p><input type="submit" class="registerbtn" value="ذخیره" /></p>
            </form>
            <script>
                function newuserpop() {
                    window.open("{% url 'ServiceUser:create_user' %}",'popup','width=600,height=600');
                    return false;
                }
                function newsuperpop() {
                    window.open("{% url 'ServiceUser:create_supervisor' %}",'popup','width=600,height=600');
                    return false;
                }

            </script>
        </div>
    </div>

{% endblock %}