{% extends "managementbase.html" %}
{% block title_html %}
    ایجاد توسعه دهنده / بهره بردار سامانه

{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
    ایجاد توسعه دهنده / بهره بردار سامانه
</span>
{% endblock %}
{% block article_content %}
    <div class="centrecard" >
        <div class="contentheader">
            <h2>ایجاد توسعه دهنده / بهره بردار سامانه
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">چنانچه غیر از کاربر اصلی سامانه می خواهید کاربر دیگری به سامانه دسترسی داشته باشد از طریق این فرم آنها را ثبت نام کنید. این کاربر می تواند یک توسعه دهنده داخلی سامانه یا یک کاربر نهایی جهت استفاده از سامانه نهایی باشد
                    </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" style="max-height: 600px; overflow: auto;">
            <div class="alerttext">
                <div class="alertheader">توجه</div>
                <p>ورود اطلاعاتی که با رنگ قرمز مشخص شده اند الزامی می باشد.</p>
            </div>
            <form method="post" action="{% url "ServiceUser:create_userstaff" %}" >
                <!-- This line inserts a CSRF token. -->
                {% csrf_token %}
                {% if form.errors %}
                    <hr>
                    <ul class="w3-panel w3-rightbar w3-border-red w3-pale-red" >
                        <strong>خطا!</strong>
                        {% for errfield,errmsg in form.errors.items %}
                            {{ errmsg }}
                        {% endfor %}
                    </ul>
                    <hr>
                {%endif%}
                <p>
                    <label for="id_fname" >نام:
                        <input  type="text" placeholder="نام را وارد کنید" name="fname" value="{{ form.data.fname }}" maxlength="30" id="id_fname" >
                    </label><br>
                    <label for="id_lname" >نام خانوادگی:
                        <input  type="text" placeholder="نام خانوادگی را وارد کنید" name="lname" value="{{ form.data.lname }}" maxlength="150" id="id_lname">
                    </label><br>
                    <label for="id_login" class="star">نام کاربری:
                        <input  type="text" placeholder="نام کاربری را وارد کنید" name="login" value="{{ form.data.login }}" maxlength="150" required id="id_login">
                    </label><br>
                    <label for="id_email" class="star">رایانامه :
                        <input  type="text" placeholder="رایانامه را وارد کنید" name="email" value="{{ form.data.email }}" maxlength="150" required id="id_email">
                    </label><br>
                    <label for="id_password" class="star">گذرواژه:
                        <input  type="password" placeholder="گذرواژه را وارد کنید" name="password"  required id="id_password">
                    </label><br>
                    <label for="id_password_bis" class="star">تکرار گذرواژه :
                        <input  type="password" placeholder="گذرواژه را تکرار کنید" name="password_bis" required id="id_password_bis">
                    </label><br>
                    <label for="id_identifyid" >شماره ملی:
                        <input  type="text" placeholder="شماره ملی را وارد کنید" name="identifyid" value="{{ form.data.identifyid }}"  id="id_identifyid"
                                maxlength="10" minlength="10" onkeyup="validateid()">
                    </label><br>
                    <label for="id_phone" >تلفن همراه :
                        <input  type="text" placeholder="شماره تلفن را با قالب 09170000000 وارد کنید" name="phone"
                                value="{{ form.data.phone }}"  id="id_phone" maxlength="11"
                                minlength="11" accept="dig" onkeyup="validatephone()">
                    </label><br>
                    <label for="id_manager" class="star">مدیر مافوق:
                        <select name="manager" id="id_manager">
                            {% for man in manager %}
                                <option value="{{ man.pk }}">{{ man }}</option>
                            {% endfor %}
                        </select>
                        </label>
                        <a  href="{% url 'ServiceUser:create_user' %}" target="popup" onclick='newuserpop()' title="ایجاد کاربر جدید">
                            <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                    <br>
                    <label for="id_alowedexperts" class="star">سامانه های قابل دسترسی:
                        <select name="alowedexperts" id="id_alowedexperts" multiple>
                            {% for exp in alowedexperts %}
                                <option value="{{ exp.pk }}">{{ exp }}</option>
                            {% endfor %}
                        </select>
                        </label>
                        <a  href="{% url 'ServiceUser:create_expertmodel'  %}" target="popup" onclick='newexpertpop()' title="ایجاد سامانه جدید">
                            <i class="fa fa-plus-square" aria-hidden="true"></i></a>

                </p>
                <hr>
                <p><input type="submit" class="registerbtn" value="ایجاد" ></p>
            </form>
            <script>
                function newuserpop() {
                    window.open("{% url 'ServiceUser:create_user' %}",'popup','width=600,height=600');
                    return false;
                }
                function newexpertpop() {
                    window.open("{% url 'ServiceUser:create_expertmodel' %}",'popup','width=600,height=600');
                    return false;
                }

            </script>
        </div>
    </div>

{% endblock %}