{% extends "managementbase.html" %}
{% block title_html %}
    ایجاد کاربر سیستمی
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
    ایجاد کاربر سیستمی
</span>
{% endblock %}
{% block article_content %}
    <div class="centrecard" >
        <div class="contentheader">
            <h2>ایجاد کاربر سیستمی
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">تمامی کاربران سامانه(مدیران، توسعه دهندگان ، کارکنان و کاربران عمومی) می بایست در ابتدا در سیستم مدیریت کاربران تعریف شوند.
                    </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" style="max-height: 600px; overflow: auto;">
            <div class="alerttext">
                <div class="alertheader">توجه</div>
                <p>ورود اطلاعاتی که با رنگ قرمز مشخص شده اند الزامی می باشد.</p>
            </div>
        <form method="post" action="{% url "ServiceUser:create_user" %}">
    <label for="id_first_name">* نام:
        <input type="text" name="first_name" required maxlength="150" id="id_first_name"placeholder="نام را در حداکثر 150 کاراکتر وارد کنید">
    </label>
    <label for="id_last_name">* نام خانوادگی:
        <input type="text" name="last_name" required maxlength="150" id="id_last_name"placeholder="نام خانوادگی را در حداکثر 150 کاراکتر وارد کنید">
    </label>
    <label for="id_username">* نام کاربری:
        <input type="text" name="username" maxlength="150" required id="id_username" placeholder="نام کاربری را وارد کنید">
    </label>
    <label for="id_password">* رمز عبور:
        <input type="password" name="password" required id="id_password" placeholder="گذرواژه را وارد کنید">
    </label>
    <label for="id_password_bis">* تکرار رمز عبور:
        <input type="password" name="password_bis" required id="id_password_bis"placeholder="گذرواژه را مجددا تکرار کنید">
    </label>
    <p><input type="submit" class="button button1" value="ایجاد" /></p>
</form>
        <script>
    function newuserpop() {
        window.open("{% url 'ServiceUser:create_user' %}",'popup','width=600,height=600');
        return false;
    }
    </script>
        </div>
  </div>
{% endblock %}