{% extends "managementbase.html" %}
{% block title_html %}
{{ user.username}}: داشبورد
{% endblock %}
{% block h1 %}



{% endblock %}

{% block article_content %}
<style>
    body,html,h1,h2,h3,h4,h5,h6,head,header,footer,article {
    font-family: "B Yekan",Tahoma, sans-serif;

}
</style>
 <h1 class=" w3-center ">داشبورد مدیریتی</h1>
    <hr>
<div class="w3-row-padding  w3-center ">
  <div class="w3-third w3-center w3-container w3-right" >
     <div class="w3-card w3-pale-green w3-round-medium" style=" min-height: 300px;">

        <h2>حساب کاربری</h2>
          <p>
              امکانات مدیریت حساب کاربری از قبیل تغییر نوع اشتراک، گذرواژه و ایمیل
          </p>

          <p><button class="button button1"onclick="window.location.href='{% url 'ServiceUser:user_account2' %}';">مدیریت حساب</button></p>

    </div>
  </div>
  <div class="w3-third w3-center w3-container w3-right" >
     <div class="w3-card w3-light-green w3-round-medium" style=" min-height: 300px;">

        <h2> سفارشات </h2>
          <p>
             فهرست کلیه سفارش های صادر شده توسط کاربر
          </p>

          <p><button class="button button1"onclick="window.location.href='{% url 'order_list' %}';">لیست سفارشات</button></p>

    </div>
  </div>
  <div class="w3-third w3-center w3-container w3-right " >
     <div class="w3-card w3-cyan w3-round-medium" style=" min-height: 300px;">

        <h2> تراکنش های مالی </h2>
          <p>
              فهرست کلیه پرداخت های موفق صورت گرفته توسط کاربر
          </p>

          <p><button class="button button1"onclick="window.location.href='{% url 'ServiceUser:user_payments' %}';">فهرست پرداخت ها</button></p>

    </div>
  </div>


</div>
<hr>
<div class="w3-row-padding w3-center w3-padding-16">
  {% for quata in allquata %}
    <div class="w3-third w3-container w3-center w3-right " >
     <div class="w3-card w3-sand w3-round-medium" style=" min-height: 300px;">
        <h2 >{{ quata.name }} </h2>
        <p class="title">{{ quata.description }}</p>
        <hr>
        {% for key , value in userquata.items %}
            {% if quata.codename == key %}
                <p>
                <strong>
                    تعداد مجاز:
                    {% if value < 0 %}
                        0
                    {% else %}
                        {{ value }}
                    {% endif %}
                    </strong>
                <br>
                {% for code, tot in userusedquata.items %}
                    {% if code == key %}
                        استفاده شده: {{tot}}
                        </p>
                    {% endif %}
                {% endfor %}
                {% if quata.codename == "Max_Assist" %}
                    <p><button  class="button button1"onclick="manageexperts();">مدیریت دستیارهای هوشمند </button></p>
                {% elif quata.codename == "Max_User" %}
                    <p><button  class="button button1"onclick="manageemployee();">مدیریت کاربران </button></p>
                {% endif%}
            {% endif %}
        {% endfor %}

     </div>
    </div>
  {% endfor %}
</div>
  <script>

    function manageexperts() {
        window.location.href = "{% url 'ServiceUser:user_expertmodel' %}";
    }


    function manageemployee() {

        window.location.href ="{% url 'ServiceUser:user_staffs' %}";
    }

  </script>
{% endblock %}