{% extends "managementbase.html" %}
{% block title_html %}
{{ user.username}}: داشبورد
{% endblock %}
{% block h1 %}
داشبورد
{% endblock %}
{% block article_content %}
    <hr>
<div class="row">
  <div class="doublecolumn" >
     <div class="card">
      <div class="contentcontainer" style="   min-height: 340px;">
        <h2>حساب کاربری</h2>
          <p>
              امکانات مدیریت حساب کاربری از قبیل تغییر نوع اشتراک، گذرواژه و ایمیل
          </p>

          <p><button class="button button1"onclick="window.location.href='{% url 'ServiceUser:user_account' %}';">مدیریت حساب</button></p>
      </div>
    </div>
  </div>

  <div class="doublecolumn" >
     <div class="card">
      <div class="contentcontainer" >
        <h2>کاربران</h2>
          <p>
              این بخش برای مدیریت کاربران و کارکنان زیر مجموعه کاربر فعلی می باشد.
          </p>
           {% if usercount > 0 %}

               <p class="title">
                   <strong>
                   تعداد کاربرهای فعال: {{ usercount }}<br>
                       حداکثر تعداد کاربر های مجاز: {{ userlimit }}
                   </strong>
               </p>
           {% else %}
                <strong>هنوز هیچ کاربری ثبت نشده است</strong>
            {% endif %}
        <p><button class="button button1"onclick="manageemployee()">مدیریت کاربران</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="doublecolumn" >
    <div class="card">
      <div class="contentcontainer">
        <h2>سیستم های خبره</h2>
            <p>در این بخش کلیه سیستم های خبره ای که ایجاده شده است نمایش داده می شود</p>
           {% if installedapp > 0 %}

               <p class="title">
                   <strong>
                   تعداد سیستم های خبره نصب شده: {{ installedapp }} <br>
                     تعداد سیستم های مجاز: {{ maxapp }}
                   </strong>
               </p>
           {% else %}
                <strong>           هیچ سیستم خبره ای نصب نگردیده است</strong>
            {% endif %}
        <p><button class="button button1" onclick="manageexperts()">مدیریت سیستم های خبره</button></p>
      </div>
    </div>
  </div>
</div>
  <script>
    function manageexperts() {
        window.location.href = "{% url 'ServiceUser:user_expertmodel' %}";
    }


    function manageemployee() {

        window.location.href ="{% url 'ServiceUser:user_staffs' %}";
    }

  </script>
{% endblock %}