{% extends "managementbase.html" %}
{% block title_html %}
حذف سوپروایزر
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
     </span>
حذف سوپروایزر
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>حذف سوپروایزر
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه سوپروایزر انتخاب شده قابل حذف می باشد.
                    </span>
                </span>
            </h2>
    </div>
    <div class="contentcontainer" >
        <div class="alerttext">
        <div class="alertheader">اخطار</div>
            <p>در صورت حذف مدیر سیستم، کاربران مرتبط با آن حذف خواهند شد</p>
        </div>
<form method="post" action="{% url "ServiceUser:delete_supervisor" supervisor.user_auth_id %}" >
<!-- This line inserts a CSRF token. -->
{% csrf_token %}
<table>
<tr>
    <th >
        شناسه
    </th>
    <th>
        نام مدیر
    </th>
</tr>
<tr>
    <td >
        {{ supervisor.user_auth_id }}
    </td>
    <td>
        {{ supervisor.user_auth }}
    </td>
</tr>
</table>
<hr>
<strong>
کاربران مرتبط:
</strong>

<div class="contentcontainer" style="max-height:700; overflow:auto;">
        <ul >
        {% for dev in developers %}
            <li>
                 {{dev}}
            </li>
        {% empty %}
            هیچ کاربر مرتبطی با این مدیر سیستم وجود ندارد
        {% endfor %}
        </ul>
</div>
<hr>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
<p >
    آیا از حذف این مدیر سیستم اطمینان دارید؟
    این عمل قابل برگشت نمی باشد
    <input type="submit" value="بلی"  class="button button1" />
    <input type="button" value="خیر"     class="button button1"  onclick="window.location.href='{% url 'ServiceUser:supervisorlist' %}'"/>
</p>
</form>
    </div>
</div>
<script>
</script>
{% endblock %}