{% extends "managementbase.html" %}
{% block title_html %}
حذف توسعه دهنده
{% endblock %}
{% block h1 %}
حذف توسعه دهنده
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>حذف قانون
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه توسعه دهنده انتخاب شده قابل حذف می باشد.
                    </span>
                </span>
            </h2>
    </div>
    <div class="contentcontainer" >
<form method="post" action="{% url "ServiceUser:delete_developer" developer.user_auth_id %}" >
<!-- This line inserts a CSRF token. -->
    {% csrf_token %}
    <table>
        <tr>
            <th >
                شناسه
            </th>
            <th >
                نام توسعه دهنده
            </th>
        </tr>
        <tr>
            <td >
                {{ developer.user_auth_id }}
            </td>
            <td>
                {{ developer.user_auth }}
            </td>
        </tr>
    </table>
<hr>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
<p >
    آیا از حذف این توسعه دهنده اطمینان دارید؟
    این عمل قابل برگشت نمی باشد
    <input type="submit" value="بلی"  class="button button1" />
    <input type="button" value="خیر"     class="button button1"  onclick="window.location.href='{% url 'ServiceUser:developerlist' %}'"/>
</p>
</div>
<script>
</script>

</form>
    </div>
</div>
{% endblock %}