{% extends "base.html" %}
{% block title_html %}
جزئیات توسعه دهنده
{% endblock %}
{% load RuleManager_filters %}
{% block h1 %}
<span style="visibility: hidden">
جزئیات توسعه دهنده
</span>
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>جزئیات توسعه دهنده
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه جزئیات توسعه دهنده انتخاب شده نمایش داده می شود
                    </span>
                </span>
            </h2>
    </div>
    <div class="contentcontainer" >
<hr>
<h4 >نام توسعه دهنده : </h4>{{ developer.user_auth.username }}
<hr>
<h4 >نام مدیر مافوق : </h4>{{ developer.senior_supervisor }}
<hr>
        <h4 >ایمیل : </h4>{{ developer.user_auth.email }}
<hr>
    <h4 >کد ملی : </h4>{{ developer.identifyid }}
<hr>
    <h4 >تلفن : </h4>{{ developer.phone }}
<hr>
    <h4 >تاریخ آخرین ورود : </h4>{{ developer.last_connection }}
<hr>
<p>
<button type="button" id="edtBtn" class="button button1" name="edtBtn" onclick="editdev()">ویرایش این توسعه دهنده</button>
<button type="button" id="delBtn" class="button button1" name="delBtn" onclick="deletedev()">حذف این توسعه دهنده</button>
</p>
<script>
    function editdev()
{
    window.location.href = '{% url "ServiceUser:edit_developer" developer.pk %}';
    {#window.location.href = '{% url "expert_initial" %}';#}
}
function deletedev() {
    window.location.href ='{% url "ServiceUser:delete_developer" developer.pk %}';
}
</script>
{% endblock %}