{% extends "managementbase.html" %}
{% block title_html %}
فهرست توسعه دهندگان
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
{% block h1 %}
<span style="visibility: hidden">
فهرست توسعه دهندگان
</span>
{% endblock %}
{% block article_content %}
<div class='notemsg'>
    <div class="noteheader">نکته</div>
    <p>
    در این بخش کلیه توسعه دهندگان که در سیستم ثبت گردیده نمایش داده می شود.
کلیه عملیات ایجاد وحذف و ویرایش توسعه دهندگان در این صفحه قابل انجام می باشد.
</p>
</div>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
        <p>
تذکر: هر گونه عملیات ویرایش یا حذف توسعه دهندگان نیاز به دسترسی در سطح مدیر سیستم دارد
</p>
</div>
<hr>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:create_developer' %}'">
        <i class="fa fa-plus-square fa-lg" ></i>ایجاد توسعه دهنده جدید
    </button>
    <hr>
<div class="contentcontainer">
{% csrf_token %}
{% if developer_list|length > 0 %}

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>
    <div class="w3-responsive">
    <table id="id_tablesuper" class=" w3-hoverable" style="width:100%">
        <thead>
            <tr>
                <th>شناسه</tdh
                <th>نام توسعه دهنده</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="id_tbody">
            {% for dev in page_obj %}
                <tr>
                    <td>{{ dev.pk }}</td>
{#                    <td>{{ sup.user_auth.pk }}</td>#}
                    <td><a href="{% url 'ServiceUser:developerdetail' dev.user_auth.id %}">{{ dev }}</a></td>
                    <td><button  id="edtBtn" name="edtBtn" class="button button1"  onclick=
                        "window.location.href ='{% url "ServiceUser:edit_developer" dev.user_auth.id %}';"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                        ویرایش این توسعه دهنده</button></td>
                    <td><button  id="delBtn" name="delBtn" class="button button1" onclick=
                        "window.location.href ='{% url "ServiceUser:delete_developer" dev.user_auth.id %}';"><i class="fa fa-trash fa-lg" ></i>
                        حذف این توسعه دهنده</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>

    <hr>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:create_supervisor' %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد توسعه دهنده جدید
    </button>

{% else %}
    <span>فاقد توسعه دهنده!!</span>
{% endif %}
    </div>
    <script>
    </script>
{% endblock %}