{% extends "base.html" %}
{% block title_html %}
ویرایش توسعه دهنده
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
ویرایش توسعه دهنده
</span>
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>ویرایش توسعه دهنده
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">دراین بخش امکان اصلاح کلیه اطلاعات توسعه دهنده وجود دارد.
                    </span>
                </span>
            </h2>
        </div>
    <div class="contentcontainer" >
<form method="post" action="{% url "ServiceUser:edit_developer" adev.pk %}" >
<!-- This line inserts a CSRF token. -->
{% csrf_token %}
        <label class="required" for="id_senior_supervisor">مدیر مافوق:
        <select name="supervisor" required id="id_senior_supervisor">
            <option value="">---------</option>
            {% for sup in supers %}
                {% if adev.senior_supervisor == sup %}
                    <option value="{{ sup.id }}" selected>{{ sup }}</option>
                {% else %}
                    <option value="{{ sup.id }}" >{{ sup }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </label>
        <label class="required" for="id_identifyid">شماره ملی:<
        <input type="text" name="identifyid" value="{{ form.data.identifyid }}" class="vTextField inputdate" maxlength="10" required id="id_identifyid">
        </label>
        <label for="id_phone">شماره تلفن همراه:
        <input type="text"  name="phone" value="{{ form.data.phone }}" class="vTextField inputdate" maxlength="10" id="id_phone" placeholder="09111111111">
        </label>
        <label for="id_last_connection">تاریخ آخرین اتصال:
        <input type="text" name="last_connection" value="{{ form.data.last_connection }}" class="vTextField inputdate"
           maxlength="40" id="id_last_connection" placeholder="2006-10-25 14:30:59">
        </label>
<hr>
<p>
    <input type="submit"  class="button button1" value="ذخیره" />
</p>
</div>
</form>
        </div>
    </div>
{% endblock %}