{% extends "base.html" %}
{% block title_html %}
ویرایش سوپروایزر
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
ویرایش سوپروایزر
</span>
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
             <h2>ویرایش سوپروایزر
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">دراین بخش امکان اصلاح کلیه اطلاعات سوپروایزر وجود دارد.
                    </span>
                </span>
            </h2>
        </div>
    <div class="contentcontainer" >
<form method="post" action="{% url "ServiceUser:edit_supervisor" asup.pk %}" >
<!-- This line inserts a CSRF token. -->
    {% csrf_token %}
    <label class="required" for="id_identifyid">شماره ملی:
    <input type="text" name="identifyid" value="{{ form.data.identifyid }}" class="vTextField inputdate" maxlength="10" required id="id_identifyid">
    </label>
    <label for="id_phone">شماره تلفن همراه:
    <input type="text"  name="phone" value="{{ form.data.phone }}" class="vTextField inputdate" maxlength="10" id="id_phone" placeholder="09111111111">
    </label>
    <label for="id_last_connection">تاریخ آخرین اتصال:
    <input type="text" name="last_connection" value="{{ form.data.last_connection }}" class="vTextField inputdate"
           maxlength="40" id="id_last_connection" placeholder="2006-10-25 14:30:59">
    </label>
    <label class="required" for="id_specialisation">توصیف تخصص:
    <input type="text" name="specialisation" value="{{ form.data.specialisation }}" id="id_specialisation" class="inputnarrowlong" required maxlength="50">
    </label>
    <hr>
<p>
    <input type="submit"  class="button button1" value="ذخیره" />
</p>
</form>
        </div>
    </div>
{% endblock %}