{% extends "managementbase.html" %}
{% block title_html %}
 جزئیات سیستم خبره :{{ expert }}: {{ user.username }}
{% endblock %}
{% load static %}

{% block h1 %}
<span style="visibility: hidden">
     جزئیات سیستم خبره :{{ expert }}: {{ user.username }}
</span>
{% endblock %}
{% block article_content %}
    <script src="{% static 'ServiceUser/javascript/servicescripts.js' %}" defer></script>
<div class="w3-row-padding">
  <div class="w3-third w3-right w3-margin-bottom" >
    <div class="w3-card-2 w3-round w3-light-gray">
      <div class="w3-container w3-responsive" style="max-height:350px;">
        <h2>سیستم های خبره</h2>
        <p class="w3-bottombar w3-border-blue-gray">
            <button class="button button1" onclick="newexpert()"><i class="fa fa-plus-square fa-lg" ></i>
            افزودن سیستم خبره جدید</button>
            <button class="button button1" onclick="engineconfig('{{ user.username }}')"><i class="fa fa-cogs fa-lg" ></i>
                            تنظیمات موتور استنتاج</button>
        </p>
          {% for model in allexperts %}
                        <button class="button button1 {% ifequal model.pk 1 %} glow {% endifequal %}"
                        onclick="expert_detail('{{ user.username }}', {{ model.pk }} )">{{ model }}</button>
                        <p class="w3-bottombar w3-border-green">
                           {% if model.get_related_rules|length %}
                            <button class="button button1" id="runbtn" onclick="runexpert('{{ user.username }}', {{ model.id }})" title="اجرای سیستم خبره" style="border:none;padding:12px;">
                                <i class="fa fa-play fa-lg"></i>
                            </button>
                            {% else %}
                              <button class="button button1" disabled id="runbtn" onclick="runexpert('{{ user.username }}', {{ model.id }})"
                                      title='برای اجرای دستیار هوشمند باید در ابتدا حقایق و قوانین را ایجاد کنید' style="border:none;padding:12px;background-color: #ffcccc">
                                <i class="fa fa-play fa-lg"></i>
                            </button>
                            {% endif %}
                            <button class="button button1" onclick="editexpert('{{ user.username }}', {{ model.id }})" title="ویرایش سیستم خبره" style="border:none;padding:12px;">
                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                            </button>

                            <button class="button button1" onclick="deleteexpert('{{ user.username }}', {{ model.id }})" title="حذف سیستم خبره" style="border:none;padding:12px;">
                                <i class="fa fa-trash fa-lg" ></i>
                            </button>
                        {% if model.get_related_rules|length %}
                            <button class="button button1" id="controlbtn" onclick="controlpanel( {{ model.id }})" title="کنترل صحت قوانین" style="border:none;padding:12px;">
                                <i class="fa fa-check-square-o fa-lg"></i>
                            </button>
                        {% else %}
                        <button class="button button1" id="controlbtn" disabled onclick="controlpanel( {{ model.id }})"
                                title='ابتدا قوانین را در سیستم ثبت نمایید' style="border:none;padding:12px;background-color: #ffcccc">
                                <i class="fa fa-check-square-o fa-lg"></i>
                            </button>
                        {% endif %}
                        </p>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="w3-twothird w3-right" >
     <div class="w3-card-2 w3-round">
         <div class="w3-container">
      <div class="w3-half w3-right">
        <h3 id="id_experttitle">مدیریت دانش  {{ expert }}</h3>
        <p class="title">تعداد قوانین:
            {{ expert.get_related_rules|length }}</p>
            <button class="button button1" onclick="managerules( '{{ user.username }}',
            {{ expert.id }} )" title="عملیات ایجاد، ویرایش و حذف حقایق">
                مدیریت قوانین
            </button>
        <hr>
        <p class="title">تعداد حقایق:
            {{ expert.get_related_facts|length }}</p>
              <button class="button button1" onclick="managefacts( '{{ user.username }}',
              {{ expert.id }} )" title="عملیات ایجاد، ویرایش و حذف حقایق">
                  مدیریت حقایق
              </button>

              <!--<a class="w3-button w3-indigo w3-round-large" href=-->
              <!--target="popup" onclick="window.open('{% url 'ServiceUser:user_expert_uploadfact' expert.id %}','popup','width=600,height=600'); return false;"-->
              <!--title="بارگذاری حقایق بصورت فایل">-->
              <!--    <i class="fa fa-upload w3-large" ></i>-->
              <!--</a>-->

        <hr>
        <p class="title">تعداد حوزه های دانش:
            {{ expert.get_related_domains|length }}</p>
              <button class="button button1" onclick="managedomains( '{{ user.username }}',
              {{ expert.id }} )" title="عملیات ایجاد، ویرایش و حذف حوزه دانش">
                  مدیریت حوزه های دانش
              </button>
      </div>
     </div>
    </div>
  </div>
</div>

{% endblock %}