{% extends "base.html" %}
{% block title_html %}
 فهرست قوانین: {{ expert }}
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
{% block h1 %}
فهرست قوانین
{% endblock %}
{% block article_content %}
<div class='infomsg'>
    در این بخش فهرست تمامی قوانین موجود در بانک اطلاعاتی که سامانه جهت استنتاج از آنها استفاده می نماید نمایش داده می شود.
    در این فهرست امکان ویرایش یا حذف قوانین با دکمه های روبروی هر قانون امکان پذیر گشته است.
    <div class="alerttext">تذکر: هر گونه عملیات ویرایش یا حذف قوانین نیاز به دسترسی مربوطه در سطح مدیر کاربری دارد</div>
</div>
 <hr>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'RuleManager:create_rule_by_model'%}'">ایجاد قانون جدید
    </button>
<hr>
{% csrf_token %}
{% if Rule_list|length > 0 %}
            <script>
                totalpages = ' {{page_obj.paginator.num_pages}}';
                currentpage = ' {{ page_obj.number }}';
                csrf = '{{ csrf_token }}';
            </script>
    <script src="{% static 'RuleManager/javascript/rulescripts.js' %}" defer></script>

    <div class="contentcontainer">
        <div class="about-section" >
            <label for="id_condition" >بخشی از شرط:</label>
            <input type="text" name="condition" id="id_condition" class="inputdate" >
            <label for="id_consequence" > بخشی از نتیجه:</label>
            <input type="text" name="consequence" id="id_consequence" class="inputdate" >
            <label for="id_domain" > حوزه دانش:</label>
            <select name="domain" id="id_domain" >
                {% for  dom in domains%}
                    <option value="{{ dom.pk }}" >{{ dom }}</option>
                {% endfor %}
            </select>
            <hr>
            <input type="button" class="button button1" onclick="filterrules()" value="اعمال فیلتر">

        </div>

    </div>

    <table id="id_tablerule">
{#<button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=#}
{#        "window.location.href ='{% url 'RuleManager:create_rule_by_model'%}'">ایجاد قانون جدید</button>#}
{#<hr>#}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            صفحه {{ page_obj.number }} از  {{ page_obj.paginator.num_pages }}

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
    </span>
</div>

<thead>
<tr>
<td>شناسه</td>
<td>
    شرط قانون

</td>
<td>نتیجه قانون</td>
<td>حوزه دانش قانون</td>
<td></td>
<td></td>
</tr>
</thead>
<tbody id="id_tbody">
{% for rule in page_obj %}
<tr>
<td><a href="{% url "RuleManager:detail" rule.pk %}">{{ rule.pk }}</a></td>
<td>{{ rule.condition|topersian|truncatechars:100 }}</td>
<td>{{ rule.consequence }}</td>
<td>{{ rule.domain }}</td>
<td><button type="button" id="edtBtn" name="edtBtn" class="button button1" onclick=
        "window.location.href ='{% url "RuleManager:edit_rule" rule.pk %}';">ویرایش این قانون</button></td>
<td><button type="button" id="delBtn" name="delBtn" class="button button1" onclick=
        "window.location.href ='{% url "RuleManager:delete_rule" rule.pk %}';">حذف این قانون</button></td>

</tr>
{% endfor %}
</tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }}از-->
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
    </span>
</div>
    <hr>
<button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url "RuleManager:create_rule_by_model"%}'">ایجاد قانون جدید</button>

{% else %}
<span>فاقد قانون</span>

{% endif %}

    <script>
    </script>
{% endblock %}