{% extends "managementbase.html" %}
{% block title_html %}
{{ user.username}}: تنظیمات سیستم های خبره
{% endblock %}
{% block h1 %}

{% endblock %}
{% block article_content %}
    <hr>
<div class="row">
  <div class="doublecolumn" >
    <div class="card">
{#      <img src="/static/ExpertSystem/images/author3.jpg" alt="Rahman" style="width:100% ">#}
      <div class="contentcontainer">
        <h2>سیستم های خبره</h2>
           {% if expertmodels|length %}
               {% for model in expertmodels %}
                <p><button class="button button1" onclick="expertdetail( '{{ user.username }}', {{ model.id }})">{{ model }}</button></p>
               {% endfor %}
           {% else %}
                 هیچ سیستم خبره ای نصب نگردیده است
            {% endif %}
        <p><button class="button button1" onclick="newexpert()">افزودن سیستم خبره جدید</button></p>
      </div>
    </div>
  </div>
{% if expertmodels %}
  <div class="doublecolumn" >
     <div class="card">
{#      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">#}
      <div class="container">

        <h3 id="id_experttitle">تنظیمات   {{ expertmodels.first }}</h3>

        <p class="title">تعداد قوانین:
            {{ expertmodels.first.get_related_rules|length }}
            <button class="button button1" onclick="managerules()" style="width: 33.3%;">مدیریت قوانین</button>
        </p>
          <p class="title">تعداد حقایق:
            {{ expertmodels.first.get_related_facts|length }}
              <button class="button button1" onclick="managefacts()" style="width: 33.3%">مدیریت حقایق</button>
        </p>


      </div>
    </div>
  </div>
{% endif %}

</div>

  <script>
    function newexpert() {
        window.location.href = " {% url 'ServiceUser:create_expertmodel'  %}";
    }
    function managerules() {
        {#window.location.href = "{% url 'ServiceUser:user_expertrules'  exp_id %}";#}
    }
    function managefacts() {
        {#window.location.href = "{% url 'RuleManager:factlist' %}"#}
    }
    {#function expertdetail(expmodel) {#}
    {#    var eid = expmodel.id#}
    {#    var uname = expmodel.appuser.user_auth.username#}
    {#    window.location.href = "{% url 'ServiceUser:user_expertdetail' eid    %}"#}

  </script>
{% endblock %}