<!--*************** IN TOPNAV MENU-START ***************-->
{% load static %}

<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
div.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

</style>

<div class="w3-top w3-card-4">
<div class="w3-bar w3-blue-grey  w3-large">
  <div class="w3-dropdown-hover w3-right">
    <span class="w3-button w3-hover-pale-green w3-green  "><i class="fa fa-diamond" aria-hidden="true"></i>سامانه هوشمند <i class="fa fa-caret-down"></i></apan>
     <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-right ">
        <a class="w3-bar-item w3-button  w3-right" href="{% url 'ExpertSystem:expert_initial' %}">نسخه مدرن</a>
        <a class="w3-bar-item w3-button  w3-right" href="{% url 'ExpertSystem:expert_initial_classic' %}">نسخه کلاسیک</a>
     </div>
  </div>
  <div class="w3-dropdown-hover w3-right w3-hide-small  ">
    <span class="w3-button "><i class="fa fa-cog" aria-hidden="true"></i> داشبورد مدیریتی <i class="fa fa-caret-down"></i></span>
     <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-hide-small  w3-right">
        <a class="w3-bar-item w3-button  w3-hide-small w3-right" href="{% url 'ServiceUser:user_expertmodel'  %}">مدیریت سامانه های هوشمند</a>
        <a class="w3-bar-item w3-button  w3-hide-small w3-right" href="{% url 'ServiceUser:user_account2'  %}">مدیریت حساب</a>
        <a class="w3-bar-item w3-button  w3-hide-small w3-right" href="{% url 'ServiceUser:user_staffs'  %}">مدیریت کاربران</a>
     </div>
  </div>
  <a class="w3-bar-item w3-button  w3-right w3-hide-small " href="{% url "ExpertSystem:about"%}"><i class="fa fa-info"></i>  درباره</a>
  <a class="w3-bar-item w3-button  w3-right w3-hide-small " href="{% url "ExpertSystem:contact"%}"><i class="fa fa-envelope"></i> تماس با ما</a>
  <a class="w3-bar-item w3-button  w3-right w3-hide-small w3-hover-pale-blue w3-blue" href="{% url 'ExpertSystem:luncher' %}" ><i class="fa fa-home"></i> خانه</a>
  <a class="w3-bar-item w3-button  w3-hide-small" href="{% url "register"%}" class="left" id="id_register"><i class="fa fa-user-plus" aria-hidden="true"></i>
          ثبت نام</a>
  <a  class="w3-bar-item w3-button  w3-hide-small" id="id_signin"><i class="fa fa-sign-in"></i> ورود</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-left w3-hide-large w3-hide-medium" onclick="Collmenu()">
      <i class="fa fa-bars"></i></a>


<div id="collapsable" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium  w3-right w3-light-grey">
  <div class="w3-dropdown-hover  w3-right  w3-right ">
    <button class="w3-button w3-bottombar "><i class="fa fa-cog" aria-hidden="true"></i> داشبورد مدیریتی <i class="fa fa-caret-down"></i></button>
     <div class="w3-dropdown-content w3-bar-block w3-card-4  w3-right">
        <a class="w3-bar-item w3-button  w3-right  w3-right" href="{% url 'ServiceUser:user_expertmodel'  %}">مدیریت سامانه های هوشمند</a>
        <a class="w3-bar-item w3-button  w3-right  w3-right" href="{% url 'ServiceUser:user_account2'  %}">مدیریت حساب</a>
        <a class="w3-bar-item w3-button  w3-right  w3-right" href="{% url 'ServiceUser:user_staffs'  %}">مدیریت کاربران</a>
     </div>
  </div>
  <a class="w3-bar-item w3-button  w3-right  w3-right" href="{% url "ExpertSystem:about"%}"><i class="fa fa-info"></i>  درباره</a>
  <a class="w3-bar-item w3-button  w3-right  w3-right" href="{% url "ExpertSystem:contact"%}"><i class="fa fa-envelope"></i> تماس با ما</a>
  <a class="w3-bar-item w3-button  w3-right  w3-right w3-hover-pale-blue w3-blue" href="{% url 'ExpertSystem:luncher' %}" ><i class="fa fa-home"></i> خانه</a>
  <a class="w3-bar-item w3-button  w3-right" href="{% url "register"%}" class="left" id="id_register"><i class="fa fa-user-plus" aria-hidden="true"></i>
          ثبت نام</a>
  <a  class="w3-bar-item w3-button  w3-right" id="id_signin"><i class="fa fa-sign-in"></i> ورود</a>
</div>
</div>
</div>
<script>
function Collmenu() {
  var x = document.getElementById("collapsable");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

function manageuser(user)
{
    if(user!=='not_signed_in' && user!='')
    {
        document.getElementById('id_signin').innerText = user;
        document.getElementById('id_signin').style.textShadow = "2px 2px 4px #000000";
        document.getElementById('id_signin').style.borderBottomStyle = "outset  ";
        document.getElementById('id_signin').style.borderColor='black';
        document.getElementById('id_signin').style.borderBottomWidth="medium";
        document.getElementById('id_register').remove();
    }else
        {
        var sinin_link = document.getElementById('id_signin');
        sinin_link.innerHtml = '<i class="fa fa-sign-in"></i> ورود';
        sinin_link.href = " {% url 'signin' %}";
        var navlinks = document.getElementById('myTopnav');
        var len = navlinks.children.length;
        if(navlinks.children[len-1].innerText!=='ثبت نام')
        {
            var reglink = document.createElement("a");               // Create a <a> element
            reglink.innerText = "ثبت نام";
            reglink.href= '{% url "register"%}';
            reglink.className = "left";
            reglink.id = 'id_register';
            navlinks.splice(len-1, 0, reglink);
        }
    }
}

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("activecontent");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

