{% extends "base.html" %}
{% block title_html %}
ایجاد دستیار هوشمند
{% endblock %}
{% block h1 %}
    <span style="visibility: hidden">
راهبر ایجاد دستیار هوشمند
    </span>
{% endblock %}

{% block article_content %}
    <style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

#expertinitial {
  background-color: #ffffff;
  {#font-family: Tahoma;#}
  margin: auto;
  padding: 25px;
  width: 75%;
  min-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  {#margin: 8px;#}

}

h1, h2 {
  text-align: right;
}

/* Mark elements that gets an error on validation: */
.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  {#width: 100%;#}
}

#prevBtn {
  background-color: #97b5ce;
}

#prevBtn:hover {
  background-color: #9ec9a9;
}


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
@media screen and (max-width: 350px) {
   .tab, select {
    width: 100%;
    margin-top: 0;

  }
}

@media screen and (max-width: 350px) {
  #expertinitial {
    width: 100%;

  }
}
</style>
<div class="centrecard" >
    <div class="contentheader">
            <h2 class="w3-center">راهبر ایجاد دستیار هوشمند
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">دستیار هوشمند یک سیستم خبره است که برای کمک به کاربران در مورد یک زمینه خاص ایجاد می شود.
                هر دستیار هوشمند بر اساس دانشی که مدیر سیستم در قالب قوانین و حقایق در سیستم ذخیره می نماید و با استفاده از روش های هوش مصنوعی
                مانند یک متخصص به سوالات کاربران پاسخ می دهد.
                </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" >
    <form id="expertinitial" method="post"  action="{% url "ServiceUser:create_expertmodel" %}">
        {% csrf_token %}
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
        <div style="margin-bottom: 60px; width:inherit;">
            <label for="id_appuser">گام اول-انتخاب مدیر
                {{ form.appuser }}
            </label>
        </div>
            <div class="notemsg" style="margin: 20px auto;">
                <div class="noteheader ">راهنمایی</div>
                <p >
                    مدیر کسی است که در مراحل بعد می تواند دستیار هوشمند را مدیریت کند.
                    تعریف حقایق و قوانین و حوزه کاربرد دستیار هوشمند توسط مدیر صورت می گیرد.
                </p>
            </div>
            <div class="alerttext" style="margin: 20px auto;">
                <div class="alertheader">توجه</div>
                <p>
                    پس از انتخاب مدیر، برای ادامه کار دکمه "مرحله بعد" را کلیک کنید.
                </p>
            </div>
        </div>

        <div class="tab">
            <div style="margin-bottom: 60px; ">
            <label for="id_name">گام دوم-انتخاب نام
                {{ form.name }}
            </label>
            </div>
            <div class="notemsg" style="margin: 20px auto;">
                <div class="noteheader ">راهنمایی</div>
                <p >
                    نام دستیار هوشمند در واقع توصیف کننده حوزه ای است که برای کمک به کاربران مربوطه
                    انتخاب گردیده و می تواند کوتاه یا نسبتا طولانی باشد.
                    <br>
                    <strong>
                    حداکثر طول مجاز 200 حرف می باشد.
                    </strong>
                </p>
            </div>
            <div class="alerttext" style="margin: 20px auto;">
                <div class="alertheader">توجه</div>
                <p>
                    پس از انتخاب نام، برای ادامه کار دکمه "مرحله بعد" را کلیک کنید.
                </p>
            </div>

        </div>

        <div class="tab">
            <div style="margin-bottom: 60px; ">
            <label for="factlist-subject"> گام سوم-انتخاب نحوه دسترسی
                {{ form.accesstype }}
            </label>
            </div>
            <div class="notemsg" style="margin: 20px auto;">
                <div class="noteheader ">راهنمایی</div>
                <p >
                    یک دستیار هوشمند می تواند بصورت خصوصی یا عمومی قابل دسترسی باشد.
                    <br>
                     در صورت اتخاب گزینه "دسترسی فقط برای کاربران" فقط کاربرانی که توسط مدیر سیستم مشخص می گردند می توانند به دستیار هوشمند دسترسی داشته باشند.
                    در صورت انتخاب گزینه "دسترسی عمومی" کلیه کاربران به امکانات دستیار هوشمند دسترسی خواهند داشت
            </div>
            <div class="alerttext" style="margin: 20px auto;">
                <div class="alertheader">توجه</div>
                <p>
                    برای ثبت دستیار هوشمند "ذخیره" را کلیک کنید.
                    <br>
                    <strong>
                    پس از ثبت دستیار هوشمند می بایست به ترتیب حوزه دانش، حقایق و قوانین مرتبط آن را ایجاد نمایید.
                        <br>
                    برای این کار از پنل "داشبورد مدیریتی" استفاده نمایید.
                    </strong>
                </p>
            </div>

        </div>

        <div style="overflow:auto;">
            <div style="float:left;">
                <button type="button" id="prevBtn" class="button " onclick="nextPrev(-1)">مرحله قبل</button>
                <button type="button" id="nextBtn" class="button button1" onclick="nextPrev(1)">مرحله بعد</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>
    </div>
    </div>
<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form ...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        // ... and fix the Previous/Next buttons:
        if (n === 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
            document.getElementById('prevBtn').classList.add('button1');
        }
        if (n === (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "ذخیره";
        } else {
            document.getElementById("nextBtn").innerHTML = "مرحله بعد";
        }
        // ... and run a function that displays the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n === 1 && !validateForm())
        {#if (!validateForm())#}
            return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form... :
        if (currentTab >= x.length) {
            //...the form gets submitted:
            document.getElementById("expertinitial").submit();
            {#return false;#}
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        {#y = x[currentTab].getElementsByTagName("select");#}
        y = x[currentTab].querySelectorAll("[required]");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++)
        {
            {#alert(y[i].value);#}
            // If a field is empty...
            if (y[i].value === "")
            {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                y[i].style.backgroundColor= '#ffe6e6';
                {#y[i].classList.add('invalid');#}
                // and set the current valid status to false:
                valid = false;
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++)
        {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class to the current step:
        x[n].className += " active";
    }

    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("activecontent");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        }
        });
    }
</script>
{% endblock %}
