{% extends 'plans_base.html' %}
{% block title_html %}
لیست پرداخت ها
{% endblock %}

{% load i18n jalali_tags plan_custom_tags %}
{% block body %}
    <h1 class="w3-center">
       لیست پرداخت های موفق
    </h1>

    {% if page_obj %}
    <div class="w3-container">
    {% include "plans/pagination.html" %}
    </div>
    <div class="w3-content  w3-responsive">
    <table class="w3-table w3-striped w3-bordered w3-centered " >
        <!--<thead>-->
            <tr>
                <th>
                    ردیف</th>
                <th>
                    شماره ارجاع
                </th>
                <th>
                    سفارش
                </th>
                <th>
                    مبلغ پرداختی
                </th>
                <th>
                    تاریخ
                </th>
            </tr>
        <!--</thead>-->
        <tbody>
            {% for pay in page_obj %}
            <tr >
                <td>{{ pay.pk }}</td>
                <td>{{ pay.ref_id }}</a></td>
                <td><a href="{{ pay.order.get_absolute_url }}">{{ pay.order.name }}</a></td>
                <td >{{ pay.amount }}&nbsp;{{ CURRENCY|ir_currency }}</td>
                <td class="persiandp">{{ pay.completed|to_jalali:'%y/%m/%d' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="w3-container">
    {% include "plans/pagination.html" %}
    </div>

    {% else %}
        {% blocktrans %}You do not have any payment so far.{% endblocktrans %}
    {% endif %}
{% endblock %}
