<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>دسترسی ممنوع!!</title>
</head>
<body>
    <div style="background-color: #e6f7ff;">
{{ msg }}
Forbidden!!
</div>
</body>
</html>