{% extends "managementbase.html" %}
{% block title_html %}
انواع حساب ها و نرخ ها
{% endblock %}
{% block h1 %}
انواع حساب ها و نرخ ها
{% endblock %}
<style>
h1,h2,h3,h4,h5,h6,body,html {font-family: "B Yekan",Tahoma, sans-serif;}
</style>

{% block article_content %}


{% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <script>
        curracc_sub_rate = {{ curracc.subscription_rate }};
    </script>
    <script src="{% static 'UserManagement/javascript/userscripts.js' %}" defer></script>
<div class="notemsg">
    <div class="noteheader">اطلاع</div>
    <p>
       با توجه به اینکه پلتفرم نرم افزاری در نسخه Beta می باشد، لذا در حال حاضر فقط اشتراک آزمایشی رایگان جهت ثبت نام فعال می باشد و پس از نهایی شدن سامانه سایر اشتراک ها نیز فعال خواهند گردید.
    </p>
</div>
<div class="w3-container w3-center " style="padding:24px 6px;background-color: #e0ebeb;" id="pricing">
    <p class="w3-xlarge w3-center">اولین گام جهت ثبت نام انتخاب نوع اشتراک بر مبنای نیاز شما می باشد.
    </p>
<hr>
  <h3>نوع اشتراک خود را انتخاب کنید</h3>
  <div class="row" style="margin-top:24px;direction: rtl">
      <div class="centrecard" >
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-green w3-xlarge w3-padding-36">آزمایشی
        <p style="font-size: large">
             یک اشتراک رایگان محدود به مدت یک ماه که امکان ایجاد یک دستیار هوشمند با تعداد نامحدود حقایق و قوانین به همراه پنل مدیریتی را دارد.
        </p>
        <p style="font-size: x-large">
             همین حالا بطور رایگان شروع کن!
        </p>
        </li>
        <li class="w3-padding-16"> سامانه های قابل اجرا <b>1</b></li>

        <li class="w3-padding-16"> تعداد کاربران <b>1</b></li>
          <li class="w3-padding-16"> دوره آزمایشی <b>یک ماه</b></li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">{{ free }}</h2>
          <span class="w3-opacity">هزینه اشتراک در هر ماه(ریال)</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="button button1 w3-padding-large" onclick="sendorder('free')">ثبت نام</button>
        </li>
      </ul>


      </div>
  </div>
  <div class="row" style="margin-top:24px">
    <div class="onefourcolumn">
          <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-green w3-xlarge w3-padding-32">شخصی سازی شده</li>
        <li class="w3-padding-16" > سامانه های قابل اجرا<b><input type="number" id="id_expert" name="expert" min="1" max="100" value="1" onchange="calccost()"></b></li>
        <li class="w3-padding-16"> تعداد کاربران <b><input type="number" id="id_user" name="user" min="1" max="5000" value="1" onchange="calccost()"></b></li>
        <li class="w3-padding-16"> دوره پشتیبانی <b>نامحدود</b></li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><div id="id_cost">{{ curracc.monthlycost }}</div></h2>
          <span class="w3-opacity">هزینه اشتراک در هر ماه(ریال)</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="button button1  w3-padding-large" onclick="sendorder('custom')" disabled>ثبت نام</button>
        </li>
      </ul>

    </div>
    <div class="onefourcolumn">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-green w3-xlarge w3-padding-32">ویژه</li>
        <li class="w3-padding-16"> سامانه های قابل اجرا <b>10</b></li>

        <li class="w3-padding-16"> تعداد کاربران <b>101 تا 250 نفر</b></li>
          <li class="w3-padding-16"> دوره پشتیبانی <b>نامحدود</b></li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">{{ premium }}</h2>
          <span class="w3-opacity">هزینه اشتراک در هر ماه(ریال)</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="button button1 w3-padding-large" onclick="sendorder('special')" disabled>ثبت نام</button>
        </li>
      </ul>
    </div>
    <div class="onefourcolumn">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-green w3-xlarge w3-padding-32">حرفه ای</li>
        <li class="w3-padding-16"> سامانه های قابل اجرا <b>5</b></li>

        <li class="w3-padding-16"> تعداد کاربران <b>26 تا 100 نفر</b></li>
          <li class="w3-padding-16"> دوره پشتیبانی <b>نامحدود</b></li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">{{ pro }}</h2>
          <span class="w3-opacity">هزینه اشتراک در هر ماه(ریال)</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="button button1 w3-padding-large" onclick="sendorder('pro')" disabled>ثبت نام</button>
        </li>
      </ul>
    </div>
    <div class="onefourcolumn">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-blue w3-xlarge w3-padding-32">استاندارد</li>
        <li class="w3-padding-16"> سامانه های قابل اجرا <b>2</b></li>

        <li class="w3-padding-16"> تعداد کاربران <b>25</b></li>
          <li class="w3-padding-16"> دوره پشتیبانی <b>نامحدود</b></li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">{{ standard }}</h2>
          <span class="w3-opacity">هزینه اشتراک در هر ماه(ریال)</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="button button1 w3-padding-large" onclick="sendorder('standard')" disabled>ثبت نام</button>
        </li>
      </ul>
    </div>

  </div>
</div>
<script>
</script>
{% endblock %}