{% extends "base.html" %}
{% block title_html %}
فهرست کارکنان
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
{% block h1 %}
فهرست کارکنان
{% endblock %}
{% block article_content %}
<div class='notemsg'>
    <div class="noteheader">نکته</div>
        <p>
            در این بخش کلیه کاربران سازمانی که در سیستم ثبت گردیده و امکان دسترسی به سامانه های خبره را دارند نمایش داده می شود.
            کلیه عملیات ایجاد وحذف و ویرایش کاربران در این صفحه قابل انجام می باشد.
        </p>
</div>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
        <p>
        تذکر: هر گونه عملیات ویرایش یا حذف کاربران نیاز به دسترسی در سطح مدیر دارد
        </p>
</div>
<hr>

<div class="w3-container">
{% csrf_token %}
{% if staff_list|length > 0 %}
    <script>
        totalpages = ' {{page_obj.paginator.num_pages}}';
        currpage = ' {{ page_obj.number }}';
        csrf = '{{ csrf_token }}';
    </script>
    <script src="{% static 'ServiceUser/javascript/servicescripts.js' %}" defer></script>
    <!--<script src='static/RuleManager/javascript/rulescripts.js'  defer></script>-->
    <div class="w3-container">
        <div class="about-section" >
            <label for="id_experts" >سامانه های قابل دسترسی:
            <select name="experts" id="id_experts" multiple>
                {% for key, value in experts.items %}
                    <option value={{ key }} >{{ value }}</option>
                {% endfor %}
            </select>
            </label>
            <hr>
            <input type="button" class="button button1" onclick="filterstaffs()" value="اعمال فیلتر">
        </div>

    </div>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:create_userstaff'  %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد کاربر جدید
    </button>
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>
    <div class="w3-responsive">
    <table id="id_tablesuper" class=" w3-hoverable" style="width:100%">
        <thead>
            <tr>
                <th>شناسه</th>
                <th>نام کاربر</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="id_tbody">
            {% for staff in page_obj %}
                <tr>
                    <td><a href="{% url 'ServiceUser:user_staffdetail'  staff.pk%}">{{ staff.pk }}</a></td>
                    <td>{{ staff }}</td>
                    <td><button  id="edtBtn" name="edtBtn" class="button button1" onclick=
                        "window.location.href ='{% url "ServiceUser:edit_userstaff"  staff.pk %}';">ویرایش </button></td>
                    <td><button  id="delBtn" name="delBtn" class="button button1" onclick=
                        "window.location.href ='{% url "ServiceUser:delete_userstaff"  staff.pk %}';">حذف </button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>
    <hr>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:create_userstaff'  %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد کاربر جدید
    </button>

{% else %}
        <div class="w3-panel w3-pale-red w3-text-red w3-center">
        <strong>
        فاقد کاربر !!</strong></div>
    <hr>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:create_userstaff'  %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد کاربر جدید
    </button>
{% endif %}
</div>
    <script>
    </script>
{% endblock %}