{% extends "base.html" %}
{% block title_html %}
جزئیات کاربر سازمانی
{% endblock %}
{% load RuleManager_filters %}
{% block h1 %}
<span style="visibility: hidden">
جزئیات کاربر سازمانی
</span>
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>جزئیات کاربر سازمانی
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه جزئیات کاربر سازمانی انتخاب شده نمایش داده می شود
                    </span>
                </span>
            </h2>
    </div>
    <div class="contentcontainer" >
<hr>
<h4 >نام کاربر سازمانی : </h4>{{ staff.user_auth.username }}
<hr>
<h4 >نام مدیر مافوق : </h4>{{ staff.manager}}
<hr>
        <h4 >ایمیل : </h4>{{ staff.user_auth.email }}
<hr>
    <h4 >کد ملی : </h4>{{ staff.identifyid }}
<hr>
    <h4 >تلفن : </h4>{{ staff.phone }}
<hr>
    <h4 >تاریخ آخرین ورود : </h4>{{ staff.last_connection }}
<hr>
<p>
<button type="button" id="edtBtn" class="button button1" name="edtBtn" onclick="editstaff()">ویرایش</button>
<button type="button" id="delBtn" class="button button1" name="delBtn" onclick="deletestaff()">حذف </button>
</p>
<script>
    function editstaff()
{
    window.location.href = '{% url "ServiceUser:edit_userstaff" staff.pk %}';
}
function deletestaff() {
    window.location.href ='{% url "ServiceUser:delete_userstaff" staff.pk %}';
}
</script>
{% endblock %}