{% extends "managementbase.html" %}
{% block title_html %}
{{ user.username}}: داشبورد
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
داشبورد
</span>
{% endblock %}
{% block article_content %}
    {% load static %}
     <script src="{% static 'ServiceUser/javascript/servicescripts.js' %}" defer></script>
     <hr>
    <div class="centrecard" >
        <div class="contentheader">
            <h2>{{ user.username}}: داشبورد
                <span style="font-size: medium; " class="tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="tooltiptext">در این بخش کلیه سیستم های خبره ای که قابل دسترس می باشد نمایش داده می شود
                    </span>
                </span>
            </h2>
    </div>
        <div class="contentcontainer" >
           {% if allowed|length > 0 %}
               {% for exp in allowed %}
                   <button class="button button1" onclick="runexpert('{{ exp.getowneruser }}',
                           {{ exp.id }})">{{ exp }}</button>
                   <br>
               {% endfor %}
           {% else %}
                <strong>در حال حاضر شما به هیچ سامانه ای دسترسی ندارید.</strong>
            {% endif %}
        </div>
    </div>
{% endblock %}