{% extends "managementbase.html" %}
{% block title_html %}
فهرست مدیران سرویس
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
{% block h1 %}
فهرست مدیران سرویس
{% endblock %}
{% block article_content %}
<div class='notemsg'>
    <div class="noteheader">نکته</div>
    <p>
    در این بخش کلیه مدیران سیستم که در سیستم ثبت گردیده نمایش داده می شود.
کلیه عملیات ایجاد وحذف و ویرایش مدیران در این صفحه قابل انجام می باشد.
</p>
</div>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
        <p>
تذکر: هر گونه عملیات ویرایش یا حذف مدیران نیاز به دسترسی در سطح مدیر ارشد سیستم دارد
</p>
</div>
<hr>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:create_supervisor' %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد مدیر جدید
    </button>
    <hr>
    <div class="contentcontainer">
{% csrf_token %}
{% if supervisor_list|length > 0 %}
    <script>
        totalpages = ' {{page_obj.paginator.num_pages}}';
        currpage = ' {{ page_obj.number }}';
        csrf = '{{ csrf_token }}';
    </script>
    <script src="{% static 'RuleManager/javascript/rulescripts.js' %}" defer></script>

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>
    <div class="w3-responsive">
    <table id="id_tablesuper" class=" w3-hoverable" style="width:100%">>
        <thead>
            <tr>
                <td>شناسه</td>
                <td>نام کاربری</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="id_tbody">
            {% for sup in page_obj %}
                <tr>
                    <td>{{ sup.pk }}</td>
{#                    <td>{{ sup.user_auth.pk }}</td>#}
                    <td><a href="{% url 'ServiceUser:supervisordetail' sup.user_auth.id %}">{{ sup }}</a></td>
                    <td><button  id="edtBtn" name="edtBtn" class="button button1" onclick=
                        "window.location.href ='{% url "ServiceUser:edit_supervisor" sup.user_auth.id %}';">ویرایش این سوپروایزر</button></td>
                    <td><button  id="delBtn" name="delBtn" class="button button1" onclick=
                        "window.location.href ='{% url "ServiceUser:delete_supervisor" sup.user_auth.id %}';">حذف این سوپروایزر</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>

    <hr>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:create_supervisor' %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد مدیر جدید
    </button>

{% else %}
    <span>فاقد مدیر سیستم!!</span>
{% endif %}
    </div>
    <script>
    </script>
{% endblock %}