{% extends "base.html" %}
{% block title_html %}
جزئیات سوپروایزر
{% endblock %}
{% load RuleManager_filters %}
{% block h1 %}
<span style="visibility: hidden">
جزئیات سوپروایزر
</span>
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>جزئیات سوپروایزر
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه جزئیات سوپروایزر انتخاب شده نمایش داده می شود
                    </span>
                </span>
            </h2>
    </div>
    <div class="contentcontainer" >
    <hr>
    <h4 >نام کاربری : </h4>{{ supervisor.user_auth.username }}
    <hr>
    <h4 >ایمیل : </h4>{{ supervisor.user_auth.email }}
    <hr>
    <h4 >کد ملی : </h4>{{ supervisor.identifyid }}
    <hr>
    <h4 >تلفن : </h4>{{ supervisor.phone }}
    <hr>
    <h4 >تاریخ آخرین ورود : </h4>{{ supervisor.last_connection }}
    <hr>
    <p>
    <button type="button" id="edtBtn" class="button button1" name="edtBtn" onclick="editsuper()">ویرایش این سوپروایزر</button>
    <button type="button" id="delBtn" class="button button1" name="delBtn" onclick="deletesuper()">حذف این سوپروایزر</button>
    </p>
    </div>
</div>
<script>
    function editsuper()
{
    window.location.href = '{% url "ServiceUser:edit_supervisor" supervisor.pk %}';
    {#window.location.href = '{% url "expert_initial" %}';#}
}
function deletesuper() {
    window.location.href ='{% url "ServiceUser:delete_supervisor" supervisor.pk %}';
}
</script>
{% endblock %}