<!--*************** IN TOPNAV MENU-START ***************-->
{% load static %}

<link href="{% static "/ExpertSystem/css/expertstyle.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "/ExpertSystem/css/menustyle.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "/UserManagement/css/managementstyle.css" %}" rel="stylesheet" type="text/css" />
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav" >
        <div class="dropdown">
            <button class="dropbtn" style="border-bottom: 5px solid mediumseagreen; color: black"><i class="fa fa-diamond" aria-hidden="true"></i>
                سامانه هوشمند
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'ExpertSystem:expert_initial' %}">نسخه مدرن</a>
                <a href="{% url 'ExpertSystem:expert_initial_classic' %}">نسخه کلاسیک</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" style="color: black"><i class="fa fa-cog" aria-hidden="true"></i>
            تنظیمات
            <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdown-content">
                <a href="{% url 'ServiceUser:user_dashboard2'  %}">داشبورد مدیریتی</a>
                <hr>
                <a href="{% url 'ServiceUser:user_expertmodel'  %}">مدیریت سامانه های هوشمند</a>
                <a href="{% url 'ServiceUser:user_account2'  %}">مدیریت حساب</a>
                <a href="{% url 'ServiceUser:user_staffs'  %}">مدیریت کاربران</a>
            </div>
        </div>
        <a href="{% url 'ExpertSystem:about'%}"><i class="fa fa-info"></i>  درباره</a>
        <a href="{% url 'ExpertSystem:contact'%}"><i class="fa fa-envelope"></i> تماس با ما</a>
        <a href="{% url 'register'%}" class="left" id="id_register"><i class="fa fa-user-plus" aria-hidden="true"></i>
          ثبت نام</a>
        <a class="left" id="id_signin"><i class="fa fa-sign-in"></i> ورود</a>
        <a href="{% url 'ExpertSystem:luncher' %}" style="border-bottom: 5px solid deepskyblue;"><i class="fa fa-home"></i> خانه</a>
        <a href="#" class="icon" onclick="responsemenu()">
            <i class="fa fa-bars"></i>
        </a>
</div>





<!--*************** IN TOPNAV MENU-END ***************-->