<!--<div id="id_uploadmodal" class="w3-modal">-->
    <!--<div class="w3-modal-content w3-card-4 w3-animate-zoom w3-round " style='width:25%'>-->
        <div class="w3-container">
        <!--<div class="w3-red ">-->
        <!--    <span onclick="document.getElementById('id_uploadmodal').style.display='none'"-->
        <!--        class="w3-button  w3-round w3-display-topright ">&times;-->
        <!--    </span>-->
        <!--</div>-->
        <div  class="w3-container w3-padding-16 w3-pale-green w3-margin-bottom" style="margin-top:45px" >

            <div class="w3-panel w3-pale-yellow w3-border w3-border-yellow">
                <p>
                    فقط فایل های با فرمت csv و xls مجاز می باشند
                    <br>
                    حداکثر اندازه مجاز 2.5 MB  می باشد.
                </p>
            </div>
            <div class="w3-container w3-padding-16" >
                {% if form.errors %}
                    <p class="w3-panel w3-pale-red">
                        {% for errfield,errmsg in form.errors.items %}
                            {{ errmsg }}
                        {% endfor %}
                    </p>
                {% endif %}
                <form enctype="multipart/form-data" method="post"
                    action="{% url 'ServiceUser:user_expert_uploadfact' expert.id %}">
                    {% csrf_token %}
                    <label for="id_content">فایل محتوی حقایق را انتخاب کنید
                    <input type="file" id="id_content" name="content" class="w3-button w3-round-large">
                    </label>
                    <hr>
                    <input type='submit' class="w3-button w3-green w3-round" value="بررسی و استخراج حقایق">

                </form>

            </div>
        </div>
        </div>
    <!--</div>-->
<!--</div>-->
