{% extends "base.html" %}
{% block title_html %}
ویرایش سامانه خبره
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
ویرایش سامانه خبره
</span>
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>ویرایش سامانه خبره
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">
                        در این فرم سامانه خبره انتخاب شده قابل ویرایش می باشد.
                    </span>
                </span>
            </h2>
    </div>
    <div class="contentcontainer" >
    <form method="post" action="{% url "ServiceUser:user_expert_edit" exp_id  %}" >
<!-- This line inserts a CSRF token. -->
{% csrf_token %}
    <label for="id_appuser">
       کاربر سامانه
        <select id="id_appuser" name="appuser" >
{#           {% for usr in currexp %}#}
            <option value="{{ owner.pk }}"> {{ owner }}</option>
{#            {% endfor %}#}
        </select>
    </label>
    <label for="id_name">
       نام سامانه
        {{ form.name }}
    </label>
    <label for="id_accesstype">
        نحوه دسترسی به سامانه
        {{ form.accesstype }}
</label>
<hr>
<p><input type="submit"  class="button button1" value="ذخیره" /></p>
</form>
    </div>
</div>
{% endblock %}