
{% extends "base.html" %}
{% block title_html %}
حذف سیستم خبره
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">
{% block h1 %}
<span style="visibility: hidden">
حذف سیستم خبره
    </span>
{% endblock %}
{% block article_content %}
<div class="centrecard" >
    <div class="contentheader">
            <h2>حذف سیستم خبره
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه می توانید سیستم خبره انتخاب شده را حذف نمایید.
                    </span>
                </span>
            </h2>
    </div>
    <div class="contentcontainer" >
        <div class="alerttext">
            <div class="alertheader">اخطار</div>
                <p>
                    در صورت حذف سیستم خبره، قوانین و حقایق مربوط به آن حذف خواهند شد:
                </p>
        </div>
    <hr>
<form method="post" action="{% url "ServiceUser:user_expert_delete" exp_id  %}" >
{% csrf_token %}
<table style:"width:100%">
    <tr>
    <th >
        شناسه
    </th>
    <th>
        نام سامانه خبره
    </th>
    <th>
        کاربر مالک
    </th>
    <th>
       نحوه دسترسی
    </th>
</tr>
<tr>
    <td >
        {{ aexpert.pk }}
    </td>
    <td >
        {{ aexpert.name }}
    </td>
    <td>
        {{ aexpert.appuser }}
    </td>
    <td>
        {{ aexpert.accesstype }}
    </td>
</tr>
</table>
<hr>
<strong>
    قوانین مرتبط:
</strong>
<div class="contentcontainer" style="max-height:400px; overflow:auto;">
        <ul >
        {% for rule in relatedrules %}
            <li>
                 {{rule.condition|topersian}} ==> {{rule.consequence}}
            </li>
        {% empty %}
            هیچ قانون مرتبطی با این سامانه خبره وجود ندارد
        {% endfor %}
        </ul>
</div>
<hr>
<strong>
    حقایق مرتبط:
</strong>
<div class="contentcontainer" style="max-height:400px; overflow:auto;">

        <ul >
        {% for fact in relatedfacts %}
            <li>
                  {{fact}}
            </li>
        {% empty %}
            هیچ حقیقت مرتبطی با این سامانه خبره وجود ندارد
        {% endfor %}
        </ul>
</div>
<hr>
<strong>
    حوزه های دانش مرتبط:
</strong>
<div class="contentcontainer" style="max-height:250px; overflow:auto;">
        <ul >
        {% for dom in relateddomains %}
            <li>
                  {{dom}}
            </li>
        {% empty %}
            هیچ حوزه دانش مرتبطی با این سامانه خبره وجود ندارد
        {% endfor %}
        </ul>
</div>
<hr>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
    <p>
    آیا از حذف این سامانه خبره اطمینان دارید؟
    این عمل قابل برگشت نمی باشد
    <input type="submit" value="بلی"  class="button button1" />
    <input type="button" value="خیر"     class="button button1"  onclick="window.location.href='{% url "ServiceUser:user_expertmodel"  %}';"/>
</p>
</div>
</form>
</div>
</div>
<script>
</script>

{% endblock %}