<!--*************** IN USERPANEL-START ***************-->
<div id="id_userpanel" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-left w3-round " style='width:25%'>
            <div class="w3-container w3-center w3-padding-16" >
                <span onclick="document.getElementById('id_userpanel').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
               <p><strong>{{user}} </strong></p>
               {% if user.first_name or user.last_name %}
                    <p>{{user.last_name}} {{user.first_name}}</p>
                {% endif%}
               <p class="w3-text-grey">{{user.email}}</p>
                <hr>
                <button class="w3-button w3-center  w3-hover-light-gray
                    w3-hover-border-gray w3-border w3-round-xlarge w3-border-light-gray "
                    id="editbtn">ویرایش اطلاعات شخصی</button>
                <hr>
                <button class="w3-button w3-center  w3-hover-light-gray
                    w3-hover-border-gray w3-border w3-round w3-border-light-gray"
                    id="logoffbtn">خروج</button>
                </div>
            </div>
        </div>

<!--*************** IN USERPANEL-END ***************-->