<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="fa">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ایجاد کاربر سیستمی</title>
    {% load static %}
    <link href="{% static "/RuleManager/css/style.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "/ExpertSystem/css/menustyle.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body >
<div class="w3-container">
    <h3>ایجاد کاربر سیستمی
    </h3>
    {% if status == 'activated' %}
        <div class="w3-panel w3-rightbar w3-right w3-pale-green w3-border-green w3-block w3-card-4"  >
            <h4>فعال سازی حساب</h4>
            <hr>
            <p>کاربر <strong>{{ username }}</strong>
                حساب شما با موفقیت فعال گردید.
                <br>
                می توانید از طریق
                <a href="{% url 'signin' %}">این لینک</a>
                وارد شوید.
            </p>
        </div>
    {% elif status == 'disabled' %}
        <div class="w3-panel w3-rightbar w3-right w3-border-blue w3-pale-blue w3-block w3-card-4"  >
            <h4>اطلاع</h4>
            <hr>
            <p>کاربر <strong>{{ username }}</strong>
                حساب شما با موفقیت ایجاد شد. لینک فعال سازی حساب به ایمیل شما ارسال گردیده است.</p>
        </div>
    {% else %}
        <div class="w3-panel w3-rightbar w3-right w3-border-red w3-pale-red w3-block w3-card-4"  >
            <h4>خطا</h4>
            <hr>
            <p>کاربر <strong>{{ username }}</strong>
                لینک فعال سازی معتبر نمی باشد. ممکن است این لینک قبلا استفاده شده یا زمان اعتبار آن سپری شده باشد.
            </p>
        </div>
    {% endif %}
</div>
</body>
</html>