{% extends "managementbase.html" %}
{% block title_html %}
:حساب کاربری:{{ user.username }}
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
حساب کاربری
</span>
{% endblock %}
{% block article_content %}
<style>
body,html,h1,h2,h3,h4,h5,h6,head,header,footer,article {font-family: "B Yekan",Tahoma, sans-serif;}
</style>
{% csrf_token %}
{% load static %}
<script>
    pmode ='{{ mode }}';
</script>
<script src="{% static 'UserManagement/javascript/userscripts.js' %}" defer></script>
<script src="{% static 'ServiceUser/javascript/servicescripts.js' %}" defer></script>

<div class="card" >
    <div class="contentheader" style=" margin-bottom:16px">
            <h2>حساب کاربری
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity "> در این بخش امکان مدیریت و تغییر مشخصات حساب کاربری از قبیل نوع اشتراک، رمز ورود و ایمیل فراهم گردیده است.
                    </span>
                </span>
            </h2>
    </div>
    <button class="tablink" onclick="openPage('id_Upgrade', this, '#0086b3')" id="DefaultOpen">تغییر اشتراک</button>
    <button class="tablink" onclick="openPage('id_Security', this, '#0086b3')" id="SequrityOpen">امنیت</button>
    <button class="tablink" onclick="openPage('id_Email', this, '#0086b3')" id="EmailOpen">ایمیل</button>
    <div id="id_Upgrade" class="tabcontent">
        <div class="alerttext" style="color:#0e0e0e;">
        <div class="alertheader">نکته</div>
        <p >
            چنانچه قصد تغییر(ارتقاء یا تنزل) نوع اشتراک خود را دارید یکی از اشتراک های زیر را انتخاب کنید.
            اگر می خواهید از انعطاف پذیری بیشتری در تعداد دستیارهای خبره مورد نیاز و کاربران(کارکنان) خود برخوردار باشید، اشتراک شخصی سازی شده را انتخاب کنید.
            <br>
            <strong>
                با توجه به اینکه پلتفرم نرم افزاری در نسخه Beta می باشد، لذا در حال حاضر فقط اشتراک آزمایشی رایگان جهت ثبت نام فعال می باشد
                و پس از نهایی شدن سامانه سایر اشتراک ها نیز فعال خواهند گردید.
            </strong>
        </p>
        </div>
        <div class="w3-container w3-center " style="padding: 16px;background-color: #e0ebeb;" id="pricing">
            <h3 style="color: black;">یکی از اشتراک های زیر را انتخاب کنید</h3>
            <div class="row" style="margin-top:32px">
      {% for acc in allaccounttype %}
                  {% if acc.subscription_type != useraccount.subscription_type %}
                    {% if acc.subscription_type == 'CUSTOM' %}
                        <script>
                            curracc_sub_rate = {{ acc.subscription_rate }};
                            curracc_usermulty = 2.6;
                            acc_user = '{{ user.username }}';
                            acc_csrf = '{{ csrf_token }}';
                        </script>
                        <div class="onefourcolumn">
                            <ul class="w3-ul w3-white w3-hover-shadow">

                                <li class="w3-green w3-xlarge w3-padding-32">شخصی سازی شده</li>
                                <li class="w3-padding-16" > سامانه های قابل اجرا<input type="number" id="id_expert" name="expert"
                                                         min="1" max="{{ acc.app_limit }}" value="{{ acc.custom_app_limit }}" onchange="calccost()"></li>
                                <li class="w3-padding-16"> تعداد کاربران <input type="number" id="id_user" name="user" min="1"
                                                         max="{{ acc.user_range }}" value="{{ acc.custom_user_limit }}" onchange="calccost()"></li>
                                <li class="w3-padding-16"> دوره پشتیبانی <b>{{ acc.support_period }}</b></li>
                                <li class="w3-padding-16">
                                <h2 class="w3-wide" id="id_cost">{{ acc.monthlycost }}</h2>
                                <span class="w3-opacity">هزینه اشتراک در هر ماه(ریال)</span>
                                </li>
                                <li class="w3-light-grey w3-padding-24">
                                    <button class="button button1  w3-padding-large" onclick="upgradeaccount('subscription', 'custom')" disabled>
                                        جابجایی به این اشتراک
                                    </button>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <script>
                            acc_user = '{{ user.username }}';
                            acc_csrf = '{{ csrf_token }}';
                        </script>

                        <div class="onefourcolumn">
                            <ul class="w3-ul w3-white w3-hover-shadow">
                                <li class="w3-green w3-xlarge w3-padding-32">{{ acc }}</li>
                                <li class="w3-padding-16"> سامانه های قابل اجرا <b>{{ acc.app_limit }}</b></li>
                                <li class="w3-padding-16"> تعداد کاربران <b>{{ acc.user_range }}</b></li>
                                <li class="w3-padding-16"> دوره پشتیبانی <b>{{ acc.support_period }}</b></li>
                                <li class="w3-padding-16">
                                <h2 class="w3-wide">{{ acc.monthlycost }}</h2>
                                <span class="w3-opacity">هزینه اشتراک در هر ماه(ریال)</span>
                                </li>
                                <li class="w3-light-grey w3-padding-24">
                                    <button class="button button1 w3-padding-large" onclick="upgradeaccount('subscription', '{{ acc.subscription_type }}')"
                                       disabled >جابجایی به این اشتراک</button>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                  {% endif %}
      {% endfor %}
  </div>
            <div class="row" style="margin-top:32px">
      {% for acc in allaccounttype %}
                  {% if acc.subscription_type == useraccount.subscription_type %}
                    {% if acc.subscription_type == 'CUSTOM' %}
                        <div class="centrecard">
                            <ul class="w3-ul w3-white ">

                                <li class="w3-green w3-xlarge w3-padding-32">شخصی سازی شده</li>
                                <p>
                                    یک حساب با تعداد
                                    <b>{{ acc.custom_app_limit }}</b>
                                    سامانه قابل اجرا و تعداد
                                    <b>{{ acc.custom_user_limit }}</b>
                                  کاربر و دوره پشتیبانی
                                    <b>{{ acc.support_period }}</b>
                                     روزه
                                </p>
                                <hr>
                                <p>
                                    <strong>شما در حال حاضر این اشتراک را دارید</strong>
                                </p>
                            </ul>
                        </div>
                    {% else %}
                        <div class="centrecard">
                            <ul class="w3-ul w3-white ">
                                <li class="w3-green w3-xlarge w3-padding-32">{{ acc }}</li>
                                <p>
                                    یک حساب با تعداد
                                    <b>{{ acc.app_limit }}</b>
                                    سامانه قابل اجرا و تعداد
                                    <b>{{ acc.user_range }}</b>
                                  کاربر و دوره پشتیبانی
                                    <b>{{ acc.support_period }}</b>
                                     روزه
                                </p>
                                <hr>
                                <p>
                                    <strong>شما در حال حاضر این اشتراک را دارید</strong>
                                </p>
                            </ul>
                        </div>
                    {% endif %}
                  {% endif %}
      {% endfor %}
  </div>
        </div>
    </div>
    <div id="id_Security" class="tabcontent">
        <div class="w3-container w3-center " style="padding: 16px;background-color: #e0ebeb;" id="Security">
        <div class="column">
            <h3 style="color: black;">تغییر رمز ورود</h3>
            <div class="card w3-white">

           <form method="post" action="{% url "ServiceUser:upgrade_user_account" %}" >
               {% csrf_token %}
           {% if passform.errors|length %}
                <div class="alerttext">
                <ul class="errorlist " >
                {% for errfield,errmsg in passform.errors.items %}
                    {{ errmsg }}
                {% endfor %}
                </ul>
                </div>
           {% endif %}
            <hr>

            <tr>
            <th><label for="oldpass" style="color: black;">گذرواژه قدیمی</label></th><br>
            <td><input type="password" id="oldpass" name="oldpass" placeholder="گذرواژه قدیمی را وارد کنید"></td>
            </tr>
               <hr>
            <tr>
            <th><label for="newpass" style="color: black;" >گذرواژه جدید</label></th><br>
            <td><input type="password" id="newpass" name="newpass" placeholder="گذرواژه جدید را وارد کنید"></td>
            </tr>
               <hr>
             <tr>
            <th><label for="newpass_bis" style="color: black;" >تکرار گذرواژه جدید</label></th><br>
            <td><input type="password" id="newpass_bis" name="newpass_bis" placeholder="گذرواژه جدید را تکرار کنید"></td>
            </tr>
{#               <table>#}
{#               {{ passform.as_table }}#}
{#                   </table>#}
               <input type="hidden" value="password" name="mode">
            <hr >
                <input type="submit"  class="button button1 w3-padding-large" value="ذخیره">
               </form>
            </div>
        </div>
    </div>
    </div>
    <div id="id_Email" class="tabcontent">
        <div class="w3-container w3-center " style="padding:16px;background-color: #e0ebeb;" id="Email">
        <div class="column">
            <h3 style="color: black;">تغییر ایمیل</h3>
            <div class="card w3-white">

           <form method="post" action="{% url "ServiceUser:upgrade_user_account" %}" >
               {% csrf_token %}
           {% if mailform.errors|length %}
                <div class="alerttext">
                <ul class="errorlist " >
                {% for errfield,errmsg in mailform.errors.items %}
                    {{ errmsg }}
                {% endfor %}
                </ul>
                </div>
           {% endif %}
            <hr>

            <tr>
            <th><label for="newemail" style="color: black;">ایمیل جدید</label></th><br>
            <td><input type="email" id="newemail" name="newemail" placeholder="example@domain.com"></td>
            </tr>
               <hr>
               <input type="hidden" value="email" name="mode">
            <hr >
                <input type="submit"  class="button button1 w3-padding-large" value="ذخیره">
               </form>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
{#function openPage(pageName,elmnt,color) {#}
{#  var i, tabcontent, tablinks;#}
{#  tabcontent = document.getElementsByClassName("tabcontent");#}
{#  for (i = 0; i < tabcontent.length; i++) {#}
{#    tabcontent[i].style.display = "none";#}
{#  }#}
{#  tablinks = document.getElementsByClassName("tablink");#}
{#  for (i = 0; i < tablinks.length; i++) {#}
{#    tablinks[i].style.backgroundColor = "";#}
{#  }#}
{#  document.getElementById(pageName).style.display = "block";#}
{#  elmnt.style.backgroundColor = color;#}


// Get the element with id="defaultOpen" and click on it

</script>


{% endblock %}