{% extends 'ServiceUser/UserPlan/Fa_plan_base.html' %}
{% block title_html %}
{% endblock %}
{% load i18n jalali_tags plan_custom_tags %}
<style>
        body,h1,h2,h3,h4,h5,h6,header,thead, footer, table, div,p {
            font-family: "B Yekan",Tahoma, sans-serif;
            direction: rtl;
            unicode-bidi: normal;
        }
    </style>
{% block body %}
<h1>{% trans "Your account" %}</h1>
<hr>
    <dl class="dl-horizontal">
        <dt>{% trans "Account" %}:</dt>
        <dd><strong>{{ user }}</strong></dd>
        <dt>{% trans "State" %}:</dt>
        <dd><strong>{% if userplan.active %} {% trans "active" %} {% else %}
            {% trans "expired" %} {% endif %}</strong></dd>
        <dt>{% trans "Expire" %}:</dt>
        <dd><strong> {{ userplan.expire|to_jalali }}</strong></dd>
        <dt>{% trans "Plan" %}:</dt>
        <dd><strong>{{ userplan.plan }} </strong><a href="{% url 'upgrade_plan' %}" class="w3-tag">{% trans "upgrade" %}</a></dd>
    </dl>

    <h2>{% trans "Plan details" %}</h2>


    <div class="row ">
        <div class="col-md-5 w3-responsive">
            {% include "plans/plan_table.html" %}
        </div>
    </div>

    <!--<h1>{% trans "Need more?" %}</h1>-->

    <!--{% url 'upgrade_plan' as upgrade_url %}-->
    <!--{% blocktrans %}-->
    <!--    Please see other <a href="{{ upgrade_url }}">currently available plans</a>.-->
    <!--{% endblocktrans %}-->


{% endblock %}
