{% load i18n jalali_tags plan_custom_tags %}
{% if logo_url %}
<img src="{{ logo_url }}" alt="company logo">
{% endif %}

<div class="w3-container w3-border">
<div class="w3-blue-gray w3-border w3-margin-top " >
        <h2 class="w3-center">
            مدیریت سفارشات دستیار هوشمند
        </h2>
</div>
<div class="w3-container ">
    <h1 class=" w3-right">
        <p >
        <label>
            <span class="w3-right">
            {% if invoice.type == invoice.INVOICE_TYPES.INVOICE %}
            {% trans 'Faktura' %}
            {% endif %}
            {% if invoice.type == invoice.INVOICE_TYPES.PROFORMA %}
            {% trans 'Faktura PROFORMA' %}
            {% endif %}
            {% if invoice.type == invoice.INVOICE_TYPES.DUPLICATE %}
            {% trans 'Faktura VAT DUPLIKAT' %}
            {% endif %}
            </span>
            <br>
            <span class="w3-right w3-text-gray">
            {% if invoice.type == invoice.INVOICE_TYPES.INVOICE %}
            {% trans 'Invoice ID' %}
            {% endif %}
            {% if invoice.type == invoice.INVOICE_TYPES.PROFORMA %}
            {% trans 'Order confirmation ID' %}
            {% endif %}
            {% if invoice.type == invoice.INVOICE_TYPES.DUPLICATE %}
            {% trans 'Invoice (duplicate) ID' %}
            {% endif %}
            </span>
        </label>
        <span id="full_number" class="w3-right w3-text-gray">
            {{ invoice.full_number }}
        </span>
        </p>
    </h1>
    <br>
    <h2 class=" w3-right">
        <p >
        {% if not copy %}
            {% trans 'ORYGINAŁ' %}
        {% else %}
            {% trans 'KOPIA'  %}
        {% endif %}
        </p>

        </h2>
        <br>
    <h5 class=" w3-left">
    <p class="w3-right">
        <label>
             <span class=" w3-right">
                {% trans 'Data wystawienia:' %}
            </span>
        </label>
            {{ invoice.issued|to_jalali:'%y/%m/%d' }}

    <br>
    {% if invoice.type != invoice.INVOICE_TYPES.PROFORMA %}
    {# Not a PROFORMA #}

             <label>
                <span class="pl">
                    {% trans 'Data sprzedaży:' %}
                </span>
            </label>
            {{ invoice.selling_date|to_jalali:'%y/%m/%d' }}

    {% else %}
        <p class=" w3-right">&nbsp;</p>
    {% endif %}
            </p>
    </h5>
</div>
    <div class=" w3-responsive ">
<table style="margin-bottom: 40px;  direction: rtl" class= "w3-table w3-bordered w3-centered " id="items">
    <thead class="w3-light-gray">
    <tr class="">
        <td>
            <span class="pl">
                {% trans 'L.p.'%}
            </span>
        </td>
        <td>
            <span class="pl">
                {%trans 'Nazwa&nbsp;usługi' %}
            </span><br>
        </td>

        <td>
            <span class="pl">
                {%trans 'Cena&nbsp;j.&nbsp;netto' %}
            </span><br>
        </td>
        <td>

            <span class="pl">
                {%trans 'Ilość' %}
            </span><br>
        </td>
        <td>
            <span class="pl">
                {%trans 'J.m.' %}
            </span>
        </td>
        {% if invoice.rebate %}

        <td>
            <span class="pl">
               {%trans 'Rabat'%}
            </span><br>
        </td>
        {%  endif %}
        <td>
            <span class="pl">
               {%trans 'Wartość&nbsp;netto'%}
            </span><br>
        </td>
        <td style="width: 3%;">
            <span class="pl">
               {%trans  'VAT'%}
            </span><br>
        </td>
        <td>
            <span class="pl">
                {%trans  'Kwota&nbsp;VAT'%}
            </span><br>
        </td>
        <td style="width: 8%;">

            <span class="pl">
                {%trans 'Wartość&nbsp;brutto'%}
            </span><br>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            1
        </td>
        <td class="center">{{ invoice.item_description }}</td>
        <td class="number">{{ invoice.unit_price_net|floatformat:2 }}&nbsp;{{ invoice.currency|ir_currency }}</td>
        <td class="center">{{ invoice.quantity }}</td>
        <td class="center">
            <span class="pl">
                {%trans 'sztuk'%}
            </span><br>
        </td>
        {% if invoice.rebate %}
        <td class="number">{{ invoice.rebate|floatformat:2 }}&nbsp;%</td>
        {%  endif %}
        <td class="number">{{ invoice.total_net|floatformat:2 }}&nbsp;{{ invoice.currency|ir_currency }}</td>
        <td class="number">
            {% if invoice.tax != None %}
            {{ invoice.tax|floatformat:2 }}&nbsp;%
            {% else %}
            <span class="pl">
                {%trans 'n.p.'%}
            </span><br>
            {% endif %}
        </td>
        <td class="number">{% if invoice.tax_total != None %}
            {{ invoice.tax_total|floatformat:2 }}&nbsp;{{ invoice.currency|ir_currency }}
            {% else %}
            <span class="pl">
                {%trans 'n.p.'%}
            </span><br>
            {% endif %}
        </td>
        <td class="number">{{ invoice.total|floatformat:2 }}&nbsp;{{ invoice.currency|ir_currency }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <strong>
        <td colspan="{% if invoice.rebate %}6{% else %}5{%  endif %}" style="background-color: #d7f5f8;"><label>
            <span class="pl">
                {%trans 'Razem:'%}
            </span>
            </label>
        </td>
        <td>{{ invoice.total_net|floatformat:2 }}&nbsp;{{ invoice.currency|ir_currency }}</td>
        <td>{% if invoice.tax != None %}
            {{ invoice.tax|floatformat:2 }}&nbsp;%
            {% else %}<span class="pl">
                {%trans 'n.p.'%}
            </span><br>
            {% endif %}</td>
        <td>{% if invoice.tax_total != None %}
            {{ invoice.tax_total|floatformat:2 }}&nbsp;{{ invoice.currency|ir_currency }}
            {% else %}
            <span class="pl">
                {%trans 'n.p.'%}
            </span><br>
            {% endif %}
        </td>
        <td>{{ invoice.total|floatformat:2 }}&nbsp;{{ invoice.currency|ir_currency }}</td>
    </strong>
    </tr>
    </tfoot>
</table>
</div>
<div style="width: 100%;">
<!--<div class="w3-container ">-->
    {% if invoice.type != invoice.INVOICE_TYPES.PROFORMA %}
    <strong>
        <label>
            <span class="pl">
                {%trans 'Sposób zapłaty:'%}:
            </span>
        </label>
    </strong>
    <label>
        <span class="pl">
            {%trans 'płatność elektroniczna'%}
        </span>
    </label>
    <br><br>
    {% endif %}

    <p>
    <strong>
        <label>
        <span class="pl">
            {%trans 'Termin zapłaty:'%}
        </span>
        </label>
    </strong>
    </p>
    {% if invoice.type == invoice.INVOICE_TYPES.PROFORMA %}

    {% else %}
    <label> <span class="pl">
        {%trans 'zapłacono dnia'%}
    </span>
        </label>
    {% endif %}

    {{ invoice.payment_date|to_jalali:'%y/%m/%d' }}
    <br><br>
    <hr>

    {% if invoice.type == invoice.INVOICE_TYPES.PROFORMA %}
    <p><span >
        .این سند یک فاکتور<strong>نیست</strong>

    </span>
        </p>
    {% endif %}

    {% if invoice.tax == None and invoice.is_UE_customer %}
    <p>
        <span class="pl">
            {%trans 'Odwrotne obciążenie.'%}
        </span>
    </p>
    {% endif %}

</div>
</div>