{% load i18n jalali_tags plan_custom_tags %}
<table class="w3-table w3-bordered w3-centered  w3-striped">
    <thead >
    <tr class="w3-blue-grey">
    <th>{% trans "Name" %}</th>
    <th>{% trans "Net price" %}</th>
    <th>{% trans "VAT" %}</th>
    <th>{% trans "VAT total" %}</th>
    <th>{% trans "Total" %}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>{{ order.name }}</td>
    <td>{{ order.amount }} {{ order.currency|ir_currency }}</td>
    <td>{% ifequal order.tax None %}n/a{% else %}{{ order.tax }} %{% endifequal %}</td>
    <td>{% ifequal order.tax_total None %}n/a{% else %}{{ order.tax_total }} {{ order.currency|ir_currency }}{% endifequal %}</td>
    <td class="number total">{{ order.total }} {{ order.currency|ir_currency }}</td>
    </tr>
    </tbody>
</table>

{% ifequal order.tax None %}
    <h2>{% trans "EU VAT" %}</h2>
    <div class="alert alert-info">
        {% blocktrans %}
            VAT is not applied to order.
        {% endblocktrans %}
    </div>
{% endifequal %}