<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title_html %}{% endblock %}
    </title>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{% static "favicon.ico" %}" rel='shortcut icon' type='image/x-icon'  />
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="{% static '/plans/css/plans_base.css' %}" rel='stylesheet' type="text/css" />
    {% block extra_js %}
    {% endblock %}
    {% load i18n jalali_tags plan_custom_tags %}
    <style>
        body,h1,h2,h3,h4,h5,h6,header,thead, footer, table, div,p {
            font-family: "B Yekan",Tahoma, sans-serif;
            direction: rtl;
            unicode-bidi: normal;
        }
    </style>
</head>
<body>

<div class="w3-container w3-card-2 w3-round-small  w3-padding-16 w3-light-gray w3-margin-top" >

    <h1 class="w3-rightbar w3-border-blue w3-light-blue ">
        <p class="w3-center">
        مدیریت اشتراک ها
        </p>
    </h1>

    {% block body %}
    {% endblock %}
</div>
</body>
</html>
