{% extends 'ServiceUser/UserPlan/Fa_plan_base.html' %}
{% load i18n jalali_tags plan_custom_tags %}

{% block body %}
<h2 class="w3-center">{% trans "See our great value plans" %}</h2>
    <div class="w3-responsive">
    {% include "plans/plan_table.html" %}
    </div>
{% endblock %}
