{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'RuleManager/css/style.css' %}">
{% block title_html %}
Create Rule
{% endblock %}
{% block h1 %}
Create Rule
{% endblock %}
{% block article_content %}
<form method="post" action="{% url "RuleManager:create_rule" %}" >
<table>
<tr>
<td>Condition</td>
<td>
<input type="text" name="condition" />
</td>
</tr>
<tr>
<td>Consequence</td>
<td>
<input type="text" name="consequence" />
</td>
</tr>
<tr>
<td>Date Created</td>
<td>
<input type="datetime-local" name="Date Created" />
</td>
</tr>
<tr>
<td></td>
<td>
<input type="submit" value="Create" />
</td>
</tr>
</table>
{% csrf_token %}
</form>
{% endblock %}