{% extends "base.html" %}
{% block title_html %}
ایجاد شرط
{% endblock %}
{% block h1 %}
<span style="visibility: hidden;">
ایجاد شرط اولیه
</span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h3>ایجاد شرط
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">    در این بخش امکان ایجاد شرط وجود دارد.با انتخاب یک یا چند حقیقت اولیه شرط قانون را ایجاد نمایید. برای ترکیب حقایق از لیست عملگرهای ارتباطی
                        یکی از گزینه های " و " یا " یا " را انتخاب کنید.
                    </span>
                </span>
            </h3>
        </div>
    <div class="w3-container" >
    <div class="notemsg">
        <div class= "noteheader">نکته</div>
        <p>
        برای استفاده از حالت منفی یک حقیقت، قبل از انتخاب آن  گزینه "درج حقیقت بصورت منفی" را  انتخاب کنید.
        </p>
    </div>
<form method="post" action="{% url "ServiceUser:user_expert_createcondition"  exp_id %}"  >
{% csrf_token %}
<tr>
    <td id="condition" >
        <label for="factselect">حقیقت:
        <select id="factselect" class="js-example-basic-single" name="factselect" autofocus
        onchange="addtext()" requierd data-placeholder="یک یا چند گزینه را انتخاب کنید">
            {% for afact in facts %}
                <option value='{{afact.id}}'>{{ afact}}</option>
            {% endfor %}
        </select>
        <input  type="button" class="button button1" value="افزودن حقیقت جدید" onclick="addfact()"><br>
        </label>
    </td>
    <td>
        <label for="relation">عملگر ارتباطی:
        <select id="relation" disabled>
            <option value="AND">"و"</option>
            <option value="OR">"یا"</option>
        </select>
        </label>
        <input type="checkbox" class="button button1" id="notfact" value="NOT" >
        <label for="notfact"> درج حقیقت بصورت منفی(معکوس) </label><br>
    </td>
</tr>
<tr>
    <td id="composed" >
        <label for="composedcondition">شرط نهایی :
        <textarea rows="4" cols="150" name="composedcondition" id="composedcondition" readonly></textarea>
        </label>
        <input  type="button" class="button button1" value="پاک کردن" onclick="clearcontent()">
    </td>
</tr>

<hr>
    <input  type="submit" class="button button1" value="ثبت شرط و برگشت"><br><br>


<script>
function clearcontent() {
    document.getElementById('composedcondition').value = '';
}
function addtext() {
    var x = document.getElementById("factselect").selectedIndex;
    {#alert(x.toString());#}
    if (x > 0) {
        if (document.getElementById("composedcondition").value === '') {
            if (document.getElementById('notfact').checked) {
                {#alert(document.getElementById('notfact').value);#}
                document.getElementById("composedcondition").value = document.getElementById('notfact').value + ' ' + document.getElementsByTagName("option")[x].textContent;
                {#alert(document.getElementById('composedcondition').value);#}
            } else {
                document.getElementById("composedcondition").value = document.getElementsByTagName("option")[x].textContent;
            }
            {#document.getElementById("composedcondition").value=document.getElementsByTagName("option")[x].textContent;#}
            document.getElementById('relation').disabled = false;
            {#document.getElementById('notfact').disabled=false;#}
        } else {
            {#alert(document.getElementById("factselect").innerText);#}
            var temp = document.getElementById("composedcondition").value;
            {#document.getElementById('notfact').disabled=false;#}
            document.getElementById('relation').disabled = false;
            if (document.getElementById('notfact').checked) {
                document.getElementById("composedcondition").value = temp + ' ' + document.getElementById("relation").value +
                    ' ' + document.getElementById('notfact').value + ' ' + document.getElementsByTagName("option")[x].textContent;
            } else {
                document.getElementById("composedcondition").value = temp + ' ' + document.getElementById("relation").value +
                    ' ' + document.getElementsByTagName("option")[x].textContent;
            }
        }

    }
}

function addfact()
{
window.sessionStorage.setItem("comptext", document.getElementById("composedcondition").value);
window.sessionStorage.setItem('responsepage',"{% url "ServiceUser:user_expert_createcondition"  exp_id %}");
window.location.href ="{% url "ServiceUser:user_expertnewfact"   exp_id%}";
}
function initcomp()
{
    var comptext = window.sessionStorage.getItem("comptext");
    var domaintype = window.sessionStorage.getItem('domain');
    {#alert('dom:'+domaintype.toString());#}
    if (comptext !== "" || comptext !== null)
    {
        document.getElementById("composedcondition").value = comptext;
        window.sessionStorage.setItem("comptext", "");
        {#window.sessionStorage.setItem('redirectpage','');#}
    }

    setfactbydomain(domaintype);
}
function setfactbydomain(dtype)
{
  var csrftoken = '{{ csrf_token }}';
  var  xmlhttp, ResponseObj;
  xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
      ResponseObj = JSON.parse(this.responseText);
      var factlist = document.getElementById('factselect');
      factlist.innerText='';
      for (x in ResponseObj) {
          var opt =document.createElement('option');
          opt.text = ResponseObj[x].fact;
          opt.value = ResponseObj[x].id;
          factlist.options.add(opt);
      }
      }else{
        {#alert('not success--rt:'+this.responseText);#}
    }
    };
  xmlhttp.open("POST", "{% url 'RuleManager:update_facts' %}", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
  xmlhttp.send('domain='+dtype.toString()+'&facteffect=condition');

}
if(window.attachEvent) {
    window.attachEvent('onload', initcomp);
} else {
    if(window.onload) {
        var curronload = window.onload;
        var newonload = function(evt) {
            curronload(evt);
            initcomp(evt);
        };
        window.onload = newonload;
    } else {
        window.onload = initcomp;
    }
}
</script>

</form>
        </div>
    </div>
{% endblock %}
