{% extends "base.html" %}
{% block title_html %}
ایجاد حقیقت
{% endblock %}
<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">-->
{% block h1 %}
<span style="visibility: hidden">
ایجاد حقیقت
</span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>ایجاد حقیقت
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">    حقایق اولیه دانش پایه ای در مورد حوزه دانش مربوطه می باشند. در این بخش می توانیداطلاعات پایه ای و صحیح را در سامانه ثبت کنید.
                    </span>
                </span>
            </h2>
        </div>
    <div class="w3-container" >
<form id="myform" method="post" action="{% url "ServiceUser:user_expertnewfact" form.data.ownerexpert.id %}" >
{% csrf_token %}
<script>
     facttoken = '{{ csrf_token }}';
     expert_id = '{{  form.data.ownerexpert.id }}';
     auser = '{{ user.usename }}';
 </script>
<script src="{% static 'RuleManager/javascript/factscripts.js' %}" defer></script>

<tr>

    <label for="id_ownerexpert">
        سامانه خبره:
    <td >
            <select class="js-example-basic-single" name="ownerexpert" id="id_ownerexpert"  required >
                <option value={{ form.data.ownerexpert.id }}>
                    {{ form.data.ownerexpert }}
                </option>
            </select>
    </td>
    </label>
</tr>
<tr>

    <label for="id_domain">
        حوزه دانش:
    <td >
            <select class="js-example-basic-single" name="domain" id="id_domain"  required >
                {% for dom in form.data.domain %}
                    <option value="{{ dom.id }}"> {{ dom }}</option>
                {% endfor %}
            </select>
            <input type="button" class="button button1" value="افزودن حوزه دانش جدید" onclick="adddomain()"><br>
    </td>
    </label>
</tr>

<tr>
    <label for="id_fact">
       حقیقت:
    <td  >
        <input name = "fact" id="id_fact" type="text" class="inputnarrowlong" value='{{ form.data.fact }}' autofocus>
    </td>
    </label>
</tr>
<tr>

    <label for="id_fact_type">
        نوع حقیقت:
    <td >
            <select class="js-example-basic-single" name="fact_type" id="id_fact_type"  required >
                {% for ftype in form.fact_type %}
                    {{ ftype}}
                {% endfor %}
            </select>
    </td>
    </label>
</tr>
<tr>

    <label for="id_fact_effect">
        حوزه اثر حقیقت:
    <td >
            <select class="js-example-basic-single" name="fact_effect" id="id_fact_effect"  required >
                {% for feffect in form.fact_effect %}
                    {{ feffect}}
                {% endfor %}
            </select>
    </td>
    </label>
</tr>
<hr>
<p>
    <input type="button" class="button button1" value="ذخیره حقیقت و برگشت به صفحه قبل" onclick="AddFactAndReturn()"/>
    <input type="button" class="button button1" value="ذخیره حقیقت و ادامه" onclick="AddFactAndContinue()"/>
</p>
<div id="result" class="infomsg">

</div>

<script>

function adddomain() {
    window.sessionStorage.setItem('responsepage',"{% url "ServiceUser:user_expertnewfact"   form.data.ownerexpert.id %}");
    window.location.href ="{% url "ServiceUser:user_expertnewdomain"  form.data.ownerexpert.id %}";
}
</script>
</form>
        </div>
    </div>
{% endblock %}