{% extends "base.html" %}
{% block title_html %}
ایجاد قانون
{% endblock %}
{% block h1 %}
    <span style="visibility: hidden">
ایجاد قانون
    </span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>ایجاد قانون
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">هر قانون بخشی از دانش ثبت شده در سامانه هوشمند می باشد.<br>در این صفحه می توانید قوانین جدید را بر اساس حقایق موجود در بانک اطلاعاتی ایجاد کنید.
                    </span>
                </span>
            </h2>
        </div>
    <div class="w3-container" >

<form method="post" action="{% url "ServiceUser:user_expertnewrule" exp_id%}"  onload="initform()">
{% csrf_token %}
{{ form.non_field_errors }}
    {% for field in form %}
        {% if field.errors %}
            <div class="alerttext">
                {{ field.label }}:{{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}
<div class="notemsg">
    <div class="noteheader">نکته</div>
    <p>
    برای ایجاد شرط اولیه از دکمه انتخاب و ترکیب حقایق استفاده کنید.</p>
</div>
<tr>
    <label for="id_condition">
        شرط:
    <td >
        <textarea rows="4" cols="50" name="condition" id="id_condition" readonly>{{ condition }}</textarea>
        <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url "ServiceUser:user_expert_createcondition"  exp_id %}'">انتخاب و ترکیب حقایق</button>   <br>
    </td>
    </label>
</tr>
<tr>
    <label for="id_consequence">
        نتیجه:
    <td>
        <select class="js-example-basic-single" name="consequence" id="id_consequence"  required >
        {% for cons in consequence %}
            <option value="{{ cons.id }}">{{ cons }}</option>
        {% endfor %}

        </select>
        <input type="button" class="button button1" value="افزودن حقیقت جدید" onclick="addfact()"><br>
    </td>
    </label>
</tr>

<tr>
    <label for="id_ownerexpert">
         سامانه هوشمند:
    <td>
        <select class="js-example-basic-single" name="ownerexpert" id="id_ownerexpert"  required >
               <option value=" {{ ownerexpert.id }}"> {{ ownerexpert|truncatechars:100}}</option>
        </select>
    </td>
    </label>
</tr>
<tr>
    <label for="id_domain">
        حوزه دانش قانون:
    <td>
        <select class="js-example-basic-single" name="domain" id="id_domain"  required onchange=" setdomain()">
            {% for dom in domain %}
                <option value= "{{ dom.id }}"> {{ dom|truncatechars:100}}</option>
            {% endfor %}
        </select>
        <input type="button" class="button button1" value="افزودن حوزه دانش جدید" onclick="adddomain()"><br>
    </td>
    </label>
</tr>
<div>
                    {{ form.pub_date.label_tag }}
                    {{ form.pub_date }}
                    {% if form.pub_date.help_text %}
                        <div class="title">
                            {{ form.pub_date.help_text|safe }}
                        </div>
                    {% endif %}

                </div>
<hr>
<p>
    <input type="submit" class="button button1" value="ذخیره قانون" />
</p>
<script>
function addtext() {
    var itemselected = parseInt(document.getElementById("id_factlist").value);
    var itemtext = document.getElementById("id_factlist").children[itemselected].innerHTML;
    var condtext = document.getElementById("id_condition").value;
    document.getElementById("id_condition").value = itemtext;
    document.getElementById("test").value = itemtext;
     }
function addfact() {
    window.sessionStorage.setItem('responsepage',"{% url "ServiceUser:user_expertnewrule"  exp_id %}");
    window.sessionStorage.setItem('domain', {{ exp_id}});
    window.location.href ="{% url "ServiceUser:user_expertnewfact"  exp_id %}";
}

function adddomain() {
    window.sessionStorage.setItem('responsepage',"{% url "ServiceUser:user_expertnewrule"  exp_id %}");
    window.location.href ="{% url "ServiceUser:user_expertnewdomain" exp_id %}";
}

function initform() {
        {#alert('in init');#}
        window.sessionStorage.setItem('redirectpage','');
        var domainval = document.getElementById('id_domain').value;
        {#alert(domainval);#}
        window.sessionStorage.setItem('domain',domainval);
        {#setdomain();#}
}
function setdomain() {
    {#alert('in setdomain');#}
  var csrftoken = '{{ csrf_token }}';
  var condstr = document.getElementById('id_condition').value;
  {#alert('in setdomain2');#}
  var currdomain = window.sessionStorage.getItem('domain') ;
  var domainval = document.getElementById('id_domain').value;
  {#alert(typeof domainval);#}
  window.sessionStorage.setItem('domain',domainval);
  {#alert('in setdomain3:--'+domainval);#}
  {#var condfact = extractafact(condstr);#}
  {#if (condfact===''){#}
      {#alert('in setdomain4 empty cond');#}
  {#    return#}

  {#alert('in setdomain4=='+condfact);#}
  var  xmlhttp, ResponseObj;
  xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
        {#alert('in resp');#}
        {#alert('rt:'+this.responseText);#}
      ResponseObj = JSON.parse(this.responseText);
      {#alert('my parsed resp is:---'+ResponseObj);#}
      var factlist = document.getElementById('id_consequence');
      if(currdomain !== domainval) {
          document.getElementById('id_condition').innerText = '';
      }
      factlist.innerText='';
      {#alert('ty:'+typeof ResponseObj)#}
      for (x in ResponseObj) {
          var opt =document.createElement('option');
          opt.text = ResponseObj[x].fact;

          opt.value = ResponseObj[x].pk;

          factlist.options.add(opt);
      }
      }else{
        {#alert('not success--rt:'+this.responseText);#}
        {#alert('not success--rs:'+(this.readyState).toString());#}
    }
    };
  xmlhttp.open("POST", "{% url 'RuleManager:update_facts' %}", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
  {#xmlhttp.send('domain='+domainval+'&fact='+condfact);#}
  xmlhttp.send('domain='+domainval+'&facteffect=consequence');
}

function extractafact(conds) {
    var tempres = [];
    if (conds===''){
        return ''
    }
    {#alert('in extractafact');#}
    var splited = conds.split(' AND ', 1);
    {#alert('spl:'+splited.toString()+'rrr:'+splited[0]);#}
    {#alert('gggggggggggg');#}
    if (!splited.includes(' AND ')) {
        {#alert('in extractafact not and');#}
        if (!splited[0].includes(' OR ')) {
            {#alert('in extractafact not or');#}
            tempres.push((splited[0]));
            {#alert('in extractafact tempres:'+tempres.toString());#}
        } else {
            {#alert('in extractafact not else or:'+splited[0]);#}
            splited = splited[0].split(' OR ', 1);
            tempres.push(splited[0]);
            tempres.push(extractfactdomain(splited[1]))
        }
    } else {
        {#alert('in extractafact and contains');#}
        tempres.push((splited[0]));
        {#alert('in extractafact'+tempres.toString());#}
        tempres.push(extractfactdomain(splited[1]))
    }
    {#alert('in extractafact ==========');#}
    if (!tempres[0].includes('NOT')) {
        {#alert('in extractafact tempres[0]:'+tempres[0]);#}
        return tempres[0];
    } else {
        splited = tempres[0].split('NOT',1);
        return splited[1];
    }
}

if(window.attachEvent) {
    window.attachEvent('onload', initform);
} else {
    if(window.onload) {
        var curronload = window.onload;
        var newonload = function(evt) {
            curronload(evt);
            initform(evt);
        };
        window.onload = newonload;
    } else {
        window.onload = initform;
    }
}
</script>

</form>
        </div>
    </div>

{% endblock %}