{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'RuleManager/style.css' %}">
{% block title_html %}
Create Rule
{% endblock %}
{% block h1 %}
Create Rule
{% endblock %}
{% block article_content %}
<form method="post" action="{% url "create_rule" %}" >
{% csrf_token %}
<!-- This line inserts a CSRF token. -->
<table>
{{ form.as_table }}
<!-- This line displays lines of the form.-->
</table>
<p><input type="submit" value="Add Rule" /></p>
</form>
{% endblock %}