{% extends "base.html" %}
{% block title_html %}
ایجاد حوزه دانش :{{ ownerexpert }}:{{ user.username }}
{% endblock %}
<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">-->
{% block h1 %}
<span style="visibility: hidden">
ایجاد حوزه دانش :{{ ownerexpert }}:{{ user.username }}
    </span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>ایجاد حوزه دانش
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">    حوزه دانش نشان دهنده زمینه ای است که حقایق و قوانین موجود در سیستم خبره، جهت پاسخگویی به مسائل آن طراحی می شود. در این بخش می توانیداطلاعات پایه ای حوزه دانش را در سامانه ثبت کنید.
                    </span>
                </span>
            </h2>
        </div>
    <div class="w3-container" >
        <form id="myform" method="post" action="{% url "ServiceUser:user_expertnewdomain"  ownerexpert.id %}" >
{% csrf_token %}
    <script>
     ruletoken = '{{ csrf_token }}';
     expert_id = '{{  ownerexpert.id }}';
     auser = '{{ user.usename }}';
 </script>
<script src="{% static 'RuleManager/javascript/rulescripts.js' %}" defer></script>
<br>
<tr>

    <label for="id_ownerexpert">
        سیستم خبره حوزه دانش:
    <td >
        <select class="js-example-basic-single" name="ownerexpert" id="id_ownerexpert"  required >
            <option value={{ ownerexpert.id }} >
                {{ ownerexpert }}
            </option>
        </select>
    </td>
    </label>
</tr>
<tr>

    <label for="id_description">
        توصیف حوزه دانش:
    <td >
            <textarea rows="4" cols="150" name="desc" id="id_description"  required placeholder="شرح مختصری از توصیف حوزه دانش در حداکثر 300 کاراکتر"></textarea>
    </td>
    </label>
</tr>

<hr>
<p>
    <input type="button" class="button button1" value="ذخیره و برگشت به صفحه قبل" onclick="add_and_return()"/>
    <input type="button" class="button button1" value="ذخیره و ادامه" onclick="add_and_continue()"/>
</p>
<p id="result">

</p>

<script>

function add_and_return() {
    var resppage = window.sessionStorage.getItem('responsepage');
    if(resppage == ''){
    window.sessionStorage.setItem('responsepage',"{% url "ServiceUser:user_expertdomains"   ownerexpert.id %}");
    }
    AddAndReturn();
}
function add_and_continue() {
    var resppage = window.sessionStorage.getItem('responsepage');
    if(resppage == ''){
    window.sessionStorage.setItem('responsepage',"{% url "ServiceUser:user_expertdomains"   ownerexpert.id %}");
    }

    AddAndContinue();
}
</script>
</form>
    </div>
    </div>
{% endblock %}