
{% extends "base.html" %}
{% block title_html %}
حذف حوزه دانش
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">
{% block h1 %}
<span style="visibility: hidden">
حذف حوزه دانش
    </span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>حذف حوزه دانش
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه می توانید حوزه دانش انتخاب شده را حذف نمایید.
                    </span>
                </span>
            </h2>
    </div>
    <div class="w3-container" >
        <div class="alerttext">
            <div class="alertheader">اخطار</div>
                <p>
                    در صورت حذف حوزه دانش، قوانین و حقایق مربوط به آن حذف خواهند شد و این عمل قابل برگشت نخواهد بود
                </p>
        </div>
    <hr>
<form method="post" action="{% url "ServiceUser:user_expertdomain_delete" exp_id adomain.pk %}" >
{% csrf_token %}
<strong>جزئیات حوزه دانش:</strong>
<table>
<tr>
    <td style="background-color: #4CAF50" >
        شناسه
    </td>
    <td >
        {{ adomain.pk }}
    </td>
</tr>
<tr>
    <td style="background-color: #4CAF50">
        سامانه خبره
    </td>
    <td >
        {{ adomain.ownerexpert }}
    </td>
</tr>
<tr>
    <td style="background-color: #4CAF50">
        توصیف
    </td>
    <td>
        {{ adomain.desc|truncatechars:100 }}
    </td>

</tr>
</table>
<hr>
        <strong>
        قوانین مرتبط:
        </strong>

<div class="contentcontainer" style="max-height: 300px; overflow: auto;">
    <!--<strong>-->
        <ul >
        {% for rule in relatedrules %}
            <li>
                 {{rule.condition|topersian}} ==> {{rule.consequence}}
            </li>
        {% empty %}
            هیچ قانون مرتبطی با این حوزه دانش وجود ندارد
        {% endfor %}
        </ul>
    <!--</strong>-->
</div>
<hr>
        <strong>
        حقایق مرتبط:
        </strong>

<div class="contentcontainer" style="max-height: 300px; overflow: auto;">
    <!--<strong>-->
        <ul >
        {% for fact in relatedfacts %}
            <li>
                  {{fact}}
            </li>
        {% empty %}
            هیچ حقیقت مرتبطی با این حوزه دانش وجود ندارد
        {% endfor %}
        </ul>
    <!--</strong>-->
</div>
<hr>
<div class="w3-container ">
    <input type="submit" value="تایید"  class="button button1 w3-pale-red w3-hover-red" >
    <input type="button" value="انصراف" class="button button1 w3-pale-green w3-hover-green  w3-mobile" onclick="window.location.href='{% url "ServiceUser:user_expertdomains" exp_id  %}';"/>
</div>
<script>
</script>

</form>
</div>
</div>
{% endblock %}