
{% extends "base.html" %}
{% block title_html %}
حذف قانون
{% endblock %}
{% load RuleManager_filters %}
{% block h1 %}
<span style="visibility: hidden">
حذف قانون
 </span>
{% endblock %}

{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>حذف قانون
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه قانون انتخاب شده قابل حذف می باشد.
                    </span>
                </span>
            </h2>
    </div>
    <div class="w3-container" >
<form method="post" action="{% url "ServiceUser:user_expertrule_delete" exp_id rule.pk %}" >
{% csrf_token %}
<!-- This line inserts a CSRF token. -->
<table>
    <th >
        شناسه:
    </th>
    <th>
        شرط:
    </th>
    <th>
        نتیجه:
    </th>

<tbody>
<tr>
    <td >
        {{ rule.pk }}
    </td>
    <td>
        {{ rule.condition|topersian }}
    </td>
    <td>
        {{ rule.consequence }}
    </td>
</tr>
</tbody>
</table>
<hr>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
    <p>
        آیا از حذف این قانون اطمینان دارید؟
        این عمل قابل برگشت نمی باشد
       </p>
</div>
<div class="w3-container ">
        <input type="submit" value="تایید"  class="button button1 w3-pale-red w3-hover-red" >
        <input type="button" value="انصراف" class="button button1 w3-pale-green w3-hover-green  w3-mobile"  onclick="window.location.href=
                '{% url 'ServiceUser:user_expertrules' exp_id %}' "/>
</div>
<script>
function deleterule() {
window.location.href = "{% url "ServiceUser:user_expertrule_delete" exp_id rule.pk %}" ;
}
</script>

</form>
    </div>
</div>
{% endblock %}