{% extends "base.html" %}
{% block title_html %}
حذف حقیقت
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">
{% block h1 %}
<span style="visibility: hidden">
حذف حقیقت
</span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>حذف حقیقت
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه حقیقت انتخاب شده قابل حذف می باشد.
                    </span>
                </span>
            </h2>
    </div>
    <div class="w3-container" >
        <div class="alerttext">
        <div class="alertheader">اخطار</div>
            <p>در صورت حذف حقیقت، قوانین مرتبط با آن حذف خواهند شد و این عمل قابل برگشت نمی باشد</p>
        </div>
        <form method="post" action="{% url "ServiceUser:user_expertfact_delete" exp_id fact.pk %}" >
{% csrf_token %}
<table>
<tr>
    <th >
        شناسه
    </th>
    <th>
        حقیقت
    </th>
    <th>
        نوع حقیقت
    </th>
    <th>
        حوزه اثر حقیقت
    </th>
    <th>
        محدوده دانش حقیقت
    </th>

</tr>
<tr>
    <td >
        {{ fact.pk }}
    </td>
    <td>
        {{ fact.fact }}
    </td>
    <td>
        {{ fact.fact_type|facttypedesc }}
    </td>
    <td>
        {{ fact.fact_effect|facteffectdesc }}
    </td>
    <td>
        {{ fact.domain }}
    </td>

</tr>
</table>
<hr>
<strong>
    قوانین مرتبط
</strong>
<div class="contentcontainer" style="max-height:700; overflow:auto;">
        <ul >
        {% for rule in relatedrules %}
            <li>
                 {{rule.condition|topersian}} ==> {{rule.consequence}}
            </li>
        {% empty %}
            هیچ قانون مرتبطی با این حقیقت وجود ندارد!
        {% endfor %}
        </ul>
</div>
<hr>
<div class="w3-container ">
    <input type="submit" value="تایید"  class="button button1 w3-pale-red w3-hover-red" >
    <input type="button" value="انصراف" class="button button1 w3-pale-green w3-hover-green  w3-mobile" onclick="window.location.href='{% url 'ServiceUser:user_expertfacts'  exp_id %}'">
</div>
<script>
function deletefact() {
{#window.location.href = '{% url "RuleManager:delete_fact" fact.pk%}';#}
}
</script>

</form>
    </div>
</div>

{% endblock %}