{% extends "base.html" %}
{% block title_html %}
جزئیات قانون
{% endblock %}
{% load RuleManager_filters %}
{% block h1 %}
<span style="visibility: hidden">
جزئیات قانون
</span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>جزئیات قانون
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه جزئیات قانون انتخاب شده نمایش داده می شود
                    </span>
                </span>
            </h2>
    </div>
    <div class="w3-container" >
<hr>
<h4>شرط قانون: </h4><strong>{{ Rule.condition|topersian }}</strong>
<hr>
<h4>نتیجه قانون: </h4><strong>{{ Rule.consequence }}</strong>
<hr>
<h4>حوزه دانش قانون: </h4><strong>{{ Rule.domain }}</strong>
<hr>
<p>
<button type="button" class="button button1" id="edtBtn" name="edtBtn" onclick="editrule()">ویرایش این قانون</button>
<button type="button" class="button button1" id="delBtn" name="delBtn" onclick="deleterule()">حذف این قانون</button>
</p>
<script>
    function editrule()
{
    window.location.href = '{% url "ServiceUser:user_expertrule_edit" exp_id Rule.pk %}';
    }
function deleterule() {
    window.location.href ='{% url "ServiceUser:user_expertrule_delete" exp_id Rule.pk %}';
}
</script>
</div>
</div>
{% endblock %}