{% extends "base.html" %}
{% block title_html %}
جزئیات حوزه دانش
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">
{% block h1 %}
 <span style="visibility: hidden">
    جزئیات حوزه دانش
    </span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-round w3-content" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>جزئیات حوزه دانش
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity "> حوزه دانش نشان دهنده زمینه ای است که برای حل مسائل آن قوانین سیستم خبره تعریف می شوند
                    </span>
                </span>
            </h2>
    </div>
    <div class="w3-container" >
<h4> توصیف حوزه دانش: </h4>{{ domain.desc}}
<hr>
<p>
<button type="button" id="edtBtn" class="button button1" name="edtBtn" onclick="editdomain()">ویرایش این حوزه</button>
<button type="button" id="delBtn" class="button button1" name="delBtn" onclick="deletedomain()">حذف این حوزه</button>
</p>
<script>
    function editdomain()
{
    window.location.href = '{% url "ServiceUser:user_expertdomain_edit" exp_id domain.id %} ';
    {#window.location.href = '{% url "expert_initial" %}';#}
}
function deletedomain() {
    window.location.href ='{% url "ServiceUser:user_expertdomain_delete" exp_id domain.id %} ';
}
</script>
</div>
</div>
{% endblock %}