{% extends "base.html" %}
{% block title_html %}
فهرست حوزه های دانش
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
{% block h1 %}
فهرست حوزه های دانش
{% endblock %}
{% block article_content %}
<div class="w3-container" >
<div class="notemsg">
    <div class="noteheader">نکته</div>
    <p>
    در این بخش کلیه حوزه های دانش که در سیستم ثبت گردیده و سامانه برای استنتاج از انها استفاده می کند نمایش داده می شود.
    کلیه عملیات ایجاد وحذف و ویرایش حوزه های دانش در این صفحه قابل انجام می باشد.
    </p>
</div>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
    <p>
     هر گونه عملیات ویرایش یا حذف حوزه های دانش نیاز به دسترسی در سطح مدیر سیستم دارد
    </p>
</div>
<hr>

{% csrf_token %}
{% if domain_list|length > 0 %}
    <script>
        totalpages = ' {{page_obj.paginator.num_pages}}';
        currpage = ' {{ page_obj.number }}';
        csrf = '{{ csrf_token }}';
    </script>
    <script src="{% static 'ServiceUser/javascript/servicescripts.js' %}" defer></script>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:user_expertnewdomain' exp_id %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد حوزه دانش جدید
    </button>
    <div class="w3-responsive">
    <table id="id_tabledomain" class=" w3-hoverable w3-strip w3-border" style="width:100%;">
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>
            <tr>
                <th>شناسه</th>
                <th>توصیف</th>
                <th></th>
                <th></th>
            </tr>


        <tbody id="id_tbody" >
            {% for domain in page_obj %}
                <tr>
                    <td><a href="{% url 'ServiceUser:user_expertdomain_detail' exp_id domain.pk %}">{{ domain.pk }}</a></td>
                    <td>{{ domain }}</td>
                    <td><button  id="edtBtn" name="edtBtn" style="border: none;" class="button button1" title="ویرایش  " onclick=
                        "window.location.href ='{% url "ServiceUser:user_expertdomain_edit" exp_id domain.pk %}';">
                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                        </button></td>
                    <td><button  id="delBtn" name="delBtn" style="border: none;" class="button button1" title="حذف " onclick=
                        "window.location.href ='{% url "ServiceUser:user_expertdomain_delete" exp_id domain.pk %}';">
                        <i class="fa fa-trash fa-lg" ></i>
                        </button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:user_expertnewdomain' exp_id %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد حوزه دانش جدید
    </button>
<hr>
{% else %}
    <div class="w3-panel w3-pale-red w3-text-red w3-center">
        <strong>
        فاقد حوزه دانش!!</strong></div>
    <hr>
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:user_expertnewdomain' exp_id %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد حوزه دانش جدید
    </button>
{% endif %}
</div>
    <script>
    </script>
{% endblock %}