{% extends "base.html" %}
{% block title_html %}
ویرایش حوزه دانش
{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">
{% block h1 %}
<span style="visibility: hidden">
ویرایش حوزه دانش
</span>
{% endblock %}
{% block article_content %}
    <div class="w3-content w3-card-2 w3-light-gray w3-round" >
        <div class="contentheader" style="margin-bottom: 10px">
            <h2>ویرایش حوزه دانش
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه می توانید هر یک از بخش های حوزه دانش را با انتخاب آنها اصلاح کنید.
                    </span>
                </span>
            </h2>
    </div>
    <div class="w3-container " >
<form method="post" action="{% url "ServiceUser:user_expertdomain_edit" exp_id domain.pk %}" >
{% csrf_token %}
    <label for="id_owner">
       سیستم خبره
        <select class="js-example-basic-single" id="id_owner" name="ownerexpert" required>
            {% for exp in ownerexpert %}
            <option value="{{ exp.id }}"> {{ exp }}</option>
            {% endfor %}
        </select>
    </label>
    <label for="id_description">
        توصیف حوزه دانش
        <textarea rows="4" cols="150" name="desc" id="id_description"  required>{{ domain.desc }}</textarea>
   </label>

<hr>
<p><input type="submit"  class="button button1" value="ذخیره" /></p>
</form>
        </div>
    </div>

{% endblock %}