{% extends "base.html" %}
{% block title_html %}
ویرایش قانون
{% endblock %}
{% block h1 %}
<span style="visibility: hidden">
ویرایش قانون
</span>
{% endblock %}
{% block article_content %}
    <div class="w3-content w3-card-4 w3-light-gray w3-round" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h2>ویرایش قانون
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">
                        دراین بخش امکان اصلاح کلیه قسمت های قانون وجود دارد.
                    </span>
                </span>
            </h2>
        </div>
    <div class="w3-container " >
        {% load jalali_tags %}
<form method="post" action="{% url "ServiceUser:user_expertrule_edit" exp_id rule.pk %}" onload="initform()">
{% csrf_token %}
<script>
    rule_id = '{{ rule.pk }}';
    exp_id = '{{ ownerexpert.id }}';
    curr_user = '{{ user.username }}';
</script>
{% load static %}
<script src="{% static 'RuleManager/javascript/rulescripts.js' %}" defer></script>
{{ form.non_field_errors }}
                {% for field in form %}
                        {% if field.errors %}
                            <div class="alerttext">
                         {{ field.label }}:{{ field.errors }}
                            </div>
                        {% endif %}
                {% endfor %}
<div class="notemsg">
<div class="noteheader">نکته</div>
<p> برای ویرایش شرط از دکمه انتخاب و ترکیب حقایق استفاده کنید.</p>
</div>
    <label for="id_condition">
        شرط:
        <textarea rows="4" cols="50" name="condition" id="id_condition" readonly>{{ condition }}</textarea>
        <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
        "window.location.href ='{% url "ServiceUser:user_expert_createcondition"  exp_id%}'">انتخاب و ترکیب حقایق</button><br>
    </label>
    <label for="id_consequence">
        نتیجه:
        <select class="js-example-basic-single" name="consequence" id="id_consequence"  required >
            {% for cons in consequence %}
            <option value="{{ cons.id }}">{{ cons }}</option>
            {% endfor %}
        </select>
        <input type="button" class="button button1" value="افزودن حقیقت جدید" onclick="addfactforeditrule()"><br>
    </label>

    <label for="id_ownerexpert">
        سیستم خبره قانون:
        <select class="js-example-basic-single" name="ownerexpert" id="id_ownerexpert"  required onchange="setdomains()">
            {% for exp in ownerexpert %}
            <option value="{{ exp.id }}">{{ exp|truncatechars:100 }}</option>
            {% endfor %}
        </select>
    </label>
    <label for="id_domain">
        حوزه دانش قانون:
        <select class="js-example-basic-single" name="domain" id="id_domain"  required onchange=" setfacts()">
            {% for dom in domain %}
            <option value="{{ dom.id }}">{{ dom|truncatechars:100 }}</option>
            {% endfor %}
        </select>
        <input type="button" class="button button1" value="افزودن حوزه دانش جدید" onclick="adddomainforeditrule()"><br>
    </label>
    <label for="id_pub_date">
        تاریخ ایجاد:
        <!--<input type="text" name="pub_date" class='persiandp' id="id_pub_date" value="{{ form.pub_date.value }}">-->
        {{form.pub_date}}
    </label>
<hr>
<p>
    <input type="submit" class="button button1" value="ذخیره تغییرات" />
</p>
<script>
function addtext() {
    var itemselected = parseInt(document.getElementById("id_factlist").value);
    var itemtext = document.getElementById("id_factlist").children[itemselected].innerHTML;
    var condtext = document.getElementById("id_condition").value;
    document.getElementById("id_condition").value = itemtext;
    document.getElementById("test").value = itemtext;
     }

function initform() {
        {#alert('in init');#}
        window.sessionStorage.setItem('redirectpage','');
        var domainval = document.getElementById('id_domain').value;
        window.sessionStorage.setItem('domain',domainval);
        let expval = document.getElementById('id_ownerexpert').value;
        window.sessionStorage.setItem('ownerexpert',expval);
        window.sessionStorage.setItem('responsepage',"");
        setdomains();
        setfacts();

}

function setfacts() {
  var csrftoken = '{{ csrf_token }}';
  var condstr = document.getElementById('id_condition').value;
  var currdomain = window.sessionStorage.getItem('domain') ;
  var domainval = document.getElementById('id_domain').value;
  window.sessionStorage.setItem('domain',domainval);
  var  xmlhttp, ResponseObj;
  xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
      ResponseObj = JSON.parse(this.responseText);
      var factlist = document.getElementById('id_consequence');
      if(currdomain !== domainval) {
          document.getElementById('id_condition').innerText = '';
      }
      factlist.innerText='';
      for (x in ResponseObj) {
          var opt =document.createElement('option');
          opt.text = ResponseObj[x].fact;
          opt.value = ResponseObj[x].id;
          factlist.options.add(opt);
      }
      }else{
          # show some help msg
    }
    };
  xmlhttp.open("POST", "{% url 'RuleManager:update_facts' %}", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
  {#xmlhttp.send('domain='+domainval+'&fact='+condfact);#}
  xmlhttp.send('domain='+domainval+'&facteffect=consequence');
}

function setdomains() {
  var csrftoken = '{{ csrf_token }}';
  var currexpert = window.sessionStorage.getItem('ownerexpert') ;
  var expertval = document.getElementById('id_ownerexpert').value;
  window.sessionStorage.setItem('ownerexpert',expertval);
  var  xmlhttp, ResponseObj;
  xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
      ResponseObj = JSON.parse(this.responseText);
      var domlist = document.getElementById('id_domain');
      if(currexpert !== expertval) {
          document.getElementById('id_condition').innerText = '';
      }
      domlist.innerText='';
      for (x in ResponseObj) {
          var opt =document.createElement('option');
          opt.text = ResponseObj[x].desc
          opt.value = ResponseObj[x].id;
          domlist.options.add(opt);
      }
      let curdomain = document.getElementById('id_domain').value;
      window.sessionStorage.setItem('domain',curdomain)
      }else{
        # show some help msg
    }
    };
  xmlhttp.open("POST", "{% url 'RuleManager:update_domains' %}", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
  {#xmlhttp.send('domain='+domainval+'&fact='+condfact);#}
  xmlhttp.send('ownerexpert='+expertval);
}

function extractafact(conds) {
    var tempres = [];
    if (conds===''){
        return ''
    }
    {#alert('in extractafact');#}
    var splited = conds.split(' AND ', 1);
    {#alert('spl:'+splited.toString()+'rrr:'+splited[0]);#}
    {#alert('gggggggggggg');#}
    if (!splited.includes(' AND ')) {
        {#alert('in extractafact not and');#}
        if (!splited[0].includes(' OR ')) {
            {#alert('in extractafact not or');#}
            tempres.push((splited[0]));
            {#alert('in extractafact tempres:'+tempres.toString());#}
        } else {
            {#alert('in extractafact not else or:'+splited[0]);#}
            splited = splited[0].split(' OR ', 1);
            tempres.push(splited[0]);
            tempres.push(extractfactdomain(splited[1]))
        }
    } else {
        {#alert('in extractafact and contains');#}
        tempres.push((splited[0]));
        {#alert('in extractafact'+tempres.toString());#}
        tempres.push(extractfactdomain(splited[1]))
    }
    {#alert('in extractafact ==========');#}
    if (!tempres[0].includes('NOT')) {
        {#alert('in extractafact tempres[0]:'+tempres[0]);#}
        return tempres[0];
    } else {
        splited = tempres[0].split('NOT',1);
        return splited[1];
    }
}

if(window.attachEvent) {
    window.attachEvent('onload', initform);
} else {
    if(window.onload) {
        var curronload = window.onload;
        var newonload = function(evt) {
            curronload(evt);
            initform(evt);
        };
        window.onload = newonload;
    } else {
        window.onload = initform;
    }
}
</script>

</form>
        </div>
    </div>
{% endblock %}