{% extends "base.html" %}
{% block title_html %}
ویرایش حقیقت
{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">
{% block h1 %}
<span style="visibility: hidden">
ویرایش حقیقت
</span>
{% endblock %}
{% block article_content %}
    <div class="w3-content w3-card-2 w3-light-gray w3-round" >
        <div class="contentheader" style="margin-bottom: 10px">
            <h2>ویرایش حقیقت
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه می توانید هر یک از بخش های حقیقت را با انتخاب آنها اصلاح کنید.
                    </span>
                </span>
            </h2>
    </div>
    <div class="w3-container " >
<form method="post" action="{% url "ServiceUser:user_expertfact_edit" exp_id afact.pk %}" >
{% csrf_token %}
<script>
    fact_id = '{{ afact.pk }}'
    exp_id = '{{ ownerexpert.id }}'
    curr_user = '{{ user.username }}'
</script>
<script src="{% static 'RuleManager/javascript/factscripts.js' %}" defer></script>
    <label for="id_ownerexpert">
        سیستم خبره قانون:
        <select class="js-example-basic-single" name="ownerexpert" id="id_ownerexpert"  required onchange="setdomains()">
            {% for exp in ownerexpert %}
            <option value="{{ exp.id }}">{{ exp }}</option>
            {% endfor %}
        </select>
    </label>
    <label for="id_domain">
        حوزه دانش حقیقت:
        <select class="js-example-basic-single" id="id_domain" name="domain" required title="یک حوزه دانش را انتخاب کنید">
            {% for dom in domain %}
            <option value="{{ dom.id }}">{{ dom }}</option>
            {% endfor %}
        </select>
        <input type="button" class="button button1" value="افزودن حوزه دانش جدید" onclick="adddomainforeditfact()"><br>
    </label>
    <label for="id_name">
        حقیقت:

        <input name="fact" id="id_name" type="text" class="inputnarrowlong" value='{{ fact }}'>

    </label>
    <label for="id_fact_type">
        نوع حقیقت:
        <select class="js-example-basic-single" id="id_fact_type" name="fact_type">
            {% for key,val in fact_type %}
                <option value="{{ key }}">{{ val }}</option>
            {% endfor %}
        </select>
    </label>
    <label for="id_fact_effect">
        محدوده تاثیر حقیقت:
        <select class="js-example-basic-single" id="id_fact_effect" name="fact_effect">
            {% for key,val in fact_effect %}
                <option value="{{ key }}">{{ val }}</option>
            {% endfor %}
        </select>
   </label>
<hr>
<p><input type="submit"  class="button button1" value="ذخیره" /></p>
<script>
    function setdomains() {
    {#alert('in setdomains');#}
  var csrftoken = '{{ csrf_token }}';
  {#alert('in setdomain2');#}
  var currexpert = window.sessionStorage.getItem('ownerexpert') ;
  var expertval = document.getElementById('id_ownerexpert').value;
  {#alert(typeof expertval);#}
  {#alert( 'expertval:'+expertval.toString());#}
  window.sessionStorage.setItem('ownerexpert',expertval);
  {#alert('in setdomain3:--ownerexpert:'+expertval);#}
  {#var condfact = extractafact(condstr);#}
  {#if (condfact===''){#}
      {#alert('in setdomain4 empty cond');#}
  {#    return#}

  {#alert('in setdomain4=='+condfact);#}
  var  xmlhttp, ResponseObj;
  xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
        {#alert('in resp');#}
        {#alert('rt:'+this.responseText);#}
      ResponseObj = JSON.parse(this.responseText);
      {#alert('my parsed resp is:---'+ResponseObj);#}
      var domlist = document.getElementById('id_domain');
      domlist.innerText='';
      {#alert('ty:'+typeof ResponseObj)#}
      for (x in ResponseObj) {
          var opt =document.createElement('option');
          opt.text = ResponseObj[x].desc;

          opt.value = ResponseObj[x].pk;

          domlist.options.add(opt);
      }
      let curdomain = document.getElementById('id_domain').value;
      window.sessionStorage.setItem('domain',curdomain)
      }else{
        {#alert('not success--rt:'+this.responseText);#}
        {#alert('not success--rs:'+(this.readyState).toString());#}
    }
    };
  xmlhttp.open("POST", "{% url 'RuleManager:update_domains' %}", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
  {#xmlhttp.send('domain='+domainval+'&fact='+condfact);#}
  xmlhttp.send('ownerexpert='+expertval);
}
</script>
</form>
        </div>
    </div>
{% endblock %}