{% extends "base.html" %}
{% block title_html %}
فهرست حقایق
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
{% block h1 %}
<span style="visibility: hidden">
فهرست حقایق
</span>
{% endblock %}
{% block article_content %}
<div class="w3-container " >
<div class="notemsg">
    <div class="noteheader">نکته</div>
    <p>
        در این بخش کلیه حقایق و اطلاعات شناخته شده در مورد قراردادهای پیمانکاری که در سیستم ثبت گردیده و سامانه برای استنتاج از انها استفاده می کند نمایش داده می شود.
        کلیه عملیات ایجاد وحذف و ویرایش حقایق در این صفحه قابل انجام می باشد.
    </p>
</div>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
    <p>
         هر گونه عملیات ویرایش یا حذف حقایق نیاز به دسترسی در سطح مدیر سیستم دارد.
    </p>
</div>
    {% csrf_token %}
    {% if Fact_list|length > 0 %}
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
             "addnewfact()"><i class="fa fa-plus-square fa-lg" ></i>
        حقیقت جدید
    </button>
        <script>
            totalpages = ' {{page_obj.paginator.num_pages}}';
            currpage = ' {{ page_obj.number }}';
            csrf = '{{ csrf_token }}';
            exp_id = '{{ expert.pk }}';
            cuser = '{{ cuser }}';

        </script>
        <script src="{% static 'RuleManager/javascript/rulescripts.js' %}" defer></script>
        <!--<script src='static/RuleManager/javascript/rulescripts.js'  defer></script>-->
        <div class="w3-card w3-light-grey" >
            <div class="w3-container" >
                <h3>فیلتر حقایق:</h3>
                <label for="id_fact" >بخشی از حقیقت:</label>
                <input type="text" name="fact" id="id_fact" class="inputdate" >
                <label for="id_facttype" > نوع حقیقت:</label>
                <select name="facttype" id="id_facttype" >
                    {% for key, value in facttypes.items %}
                        <option value={{ key }} >{{ value }}</option>
                    {% endfor %}
                </select>
                <label for="id_facteffect" > حوزه اثر حقیقت:</label>
                <select name="facteffect" id="id_facteffect" >
                    {% for key, value in facteffects.items%}
                        <option value={{ key }}>{{ value }}</option>
                    {% endfor %}
                </select>
                <label for="id_domain" > حوزه دانش:</label>
                <select name="domain" id="id_domain" >
                    {% for  dom in domains%}
                        <option value="{{ dom.pk }}" >{{ dom }}</option>
                    {% endfor %}
                </select>

                <hr>
                <button type="button"  class="button button1" title="اعمال فیلتر" onclick="filterfacts()" style="background-color: lightgrey">
                    <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>   بروزرسانی حقایق
                </button>
            </div>
        </div>

        <div class="w3-responsive w3-card w3-margin-top w3-container">
        <div class="pagination" >
            <span class="step-links" >
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
                    <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                {% endif %}
                <span style="direction: rtl">
                    صفحه {{ page_obj.number}} از  {{ page_obj.paginator.num_pages}}
                </span>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                    <a href="?page=1">&laquo; اولین</a>
                {% endif %}
            </span>
        </div>
        <table id="id_tablefact" class=" w3-hoverable w3-border" style="width:100%">
            <thead>
            <tr>
                <th>شناسه</th>
                <th>حقیقت</th>
                <th>نوع حقیقت</th>
                <th>حوزه اثر حقیقت </th>
                <th>حوزه دانش حقیقت</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="id_tbody">
            {% for fact in page_obj %}
                <tr>
                    <td><a href="{% url 'ServiceUser:user_expertfact_detail' exp_id fact.pk%}">{{ fact.pk }}</a></td>
                    <td>{{ fact.fact }}</td>
                    <td>{{ fact.fact_type|facttypedesc }}</td>
                    <td>{{ fact.fact_effect|facteffectdesc }}</td>
                    <td>{{ fact.domain|truncatechars:50 }}</td>
                    <td>
                        <button  id="edtBtn" name="edtBtn" class="button button1" title="ویرایش این حقیقت" onclick=
                                "window.location.href ='{% url "ServiceUser:user_expertfact_edit" exp_id fact.pk %}';" style="border: none;">
                            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td><button  id="delBtn" name="delBtn" class="button button1" title="حذف این حقیقت" onclick=
                            "window.location.href ='{% url "ServiceUser:user_expertfact_delete" exp_id fact.pk %}';" style="border: none;">
                        <i class="fa fa-trash fa-lg" ></i>
                    </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination" >
            <span class="step-links" >
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
                    <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                {% endif %}
                <span style="direction: rtl">
                    صفحه {{ page_obj.number}} از  {{ page_obj.paginator.num_pages}}
                </span>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                    <a href="?page=1">&laquo; اولین</a>
                {% endif %}
            </span>
        </div>
        </div>
        <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
                "addnewfact()"><i class="fa fa-plus-square fa-lg" ></i>
            حقیقت جدید
        </button>

    {% else %}
        <span class="w3-center">فاقد حقیقت!!</span>
        <hr>
        <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
                "addnewfact()"><i class="fa fa-plus-square fa-lg" ></i>
            حقیقت جدید
        </button>
    {% endif %}
</div>
    <script>
        function addnewfact() {
        window.sessionStorage.setItem('responsepage',"{% url "ServiceUser:user_expertfacts"  exp_id %}");
        window.location.href ="{% url "ServiceUser:user_expertnewfact"  exp_id %}";
    }

    </script>
{% endblock %}