{% extends "base.html" %}
{% block title_html %}
جزئیات حقیقت
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
<link rel="stylesheet" type="text/css" href="{% static '/RuleManager/css/style.css' %}">
{% block h1 %}
<span style="visibility: hidden">
جزئیات حقیقت
 </span>
{% endblock %}
{% block article_content %}
    <div class="w3-content w3-card-2 w3-light-gray w3-round" >
        <div class="contentheader" style="margin-bottom: 10px">
            <h2>جزئیات حقیقت
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">در این صفحه جزئیات حقیقت انتخاب شده نمایش داده می شود.
                    </span>
                </span>
            </h2>
    </div>
    <div class="w3-container " >
<div class="notemsg">
    <div class="noteheader">نکته</div>
    <p >هر حقیقت پایه ای ترین بخش سیستم می باشد که نشان دهنده اطلاعلات شناخته شده و معتبر در خصوص دانش موجود در سامانه هوشمند می باشد</p>
</div>
<h4>حقیقت : </h4>{{ Fact.fact }}
<hr>
<h4>نوع حقیقت:</h4>{{ Fact.fact_type|facttypedesc }}
<hr>
<h4>حوزه اثر حقیقت:</h4>{{ Fact.fact_effect|facteffectdesc}}
<hr>
<h4>حوزه دانش حقیقت:</h4>{{ Fact.domain}}
<hr>
<p>
<button type="button" id="edtBtn" class="button button1" name="edtBtn" onclick="editfact()">ویرایش این حقیقت</button>
<button type="button" id="delBtn" class="button button1" name="delBtn" onclick="deletefact()">حذف این حقیقت</button>
</p>
</div>
</div>
<script>
    function editfact()
{
    window.location.href = '{% url "ServiceUser:user_expertfact_edit" exp_id Fact.pk %}';
    {#window.location.href = '{% url "expert_initial" %}';#}
}
function deletefact() {
    window.location.href ='{% url "ServiceUser:user_expertfact_delete" exp_id Fact.pk %}';
}
</script>
{% endblock %}