{% extends "base.html" %}
{% block title_html %}
فهرست قوانین
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
{% block h1 %}
<span style="visibility: hidden">
فهرست قوانین
</span>
{% endblock %}
{% block article_content %}
<div class='notemsg'>
    <div class="noteheader">نکته</div>
    <p>
    در این بخش فهرست تمامی قوانین موجود در بانک اطلاعاتی که سامانه جهت استنتاج از آنها استفاده می نماید نمایش داده می شود.
    در این فهرست امکان ویرایش یا حذف قوانین با دکمه های روبروی هر قانون امکان پذیر گشته است.
    </p>
</div>
<div class="alerttext">
    <div class="alertheader">اخطار</div>
        <p>
         هر گونه عملیات ویرایش یا حذف قوانین نیاز به دسترسی مربوطه در سطح مدیر کاربری دارد
        </p>
</div>
 <hr>

{% csrf_token %}
{% if Rule_list|length > 0 %}
<button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
            "window.location.href ='{% url 'ServiceUser:user_expertnewrule' expert.id%}'"><i class="fa fa-plus-square fa-lg" ></i>
            قانون جدید
    </button>
    <script>
        totalpages = ' {{page_obj.paginator.num_pages}}';
        currentpage = ' {{ page_obj.number }}';
        csrf = '{{ csrf_token }}';
        exp_id = '{{ expert.pk }}';
        cuser = '{{ cuser }}';
    </script>
    <script src="{% static 'RuleManager/javascript/rulescripts.js' %}" defer></script>
        <div class="w3-card w3-light-grey" >
            <div class="w3-container" >
            <strong>جستجوی قوانین:</strong><br>
            <label for="id_condition" >بخشی از شرط:
            <input type="text" name="condition" id="id_condition" class="inputdate" >
            </label>
            <label for="id_consequence" > بخشی از نتیجه:
            <input type="text" name="consequence" id="id_consequence" class="inputdate" >
            </label>
            <label for="id_domain" > حوزه دانش:
            <select name="domain" id="id_domain" >
                {% for  dom in domains%}
                    <option value="{{ dom.pk }}" >{{ dom }}</option>
                {% endfor %}
            </select>
            </label>
            <hr>
                <button type="button"  class="button button1" title="اعمال فیلتر" onclick="filterrules()" >
                    <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>   بروزرسانی قوانین
                </button>
            </div>
        </div>
    <div class="w3-responsive w3-card w3-margin-top w3-container">
        <div class="pagination" >
            <span class="step-links" >
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>

                    {% endif %}
                    <span style="direction: rtl">
                        صفحه {{ page_obj.number}} از  {{ page_obj.paginator.num_pages}}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page=1">&laquo; اولین</a>
                        <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                    {% endif %}
            </span>
        </div>
            <table id="id_tablerule" class=" w3-hoverable w3-border" style="width:100%">
                <thead>
                <tr>
                    <th>شناسه</th>
                    <th>شرط قانون</th>
                    <th>نتیجه قانون</th>
                    <th>حوزه دانش قانون</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="id_tbody">
                {% for rule in page_obj %}
                    <tr>
                        <td><a href="{% url "ServiceUser:user_expertrule_detail" expert.id rule.pk %}">{{ rule.pk }}</a></td>
                        <td>{{ rule.condition|topersian|truncatechars:100 }}</td>
                        <td>{{ rule.consequence }}</td>
                        <td>{{ rule.domain }}</td>
                        <td>
                            <button type="button" id="edtBtn" name="edtBtn" class="button button1" title="ویرایش این قانون" onclick=
                                "window.location.href ='{% url "ServiceUser:user_expertrule_edit" expert.id  rule.pk %}';" style="border: none;">
                            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" id="delBtn" name="delBtn" class="button button1" title="حذف این قانون" onclick=
                                "window.location.href ='{% url "ServiceUser:user_expertrule_delete" expert.id  rule.pk %}';" style="border: none;">
                            <i class="fa fa-trash fa-lg" ></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="pagination" >
                    <span class="step-links" >
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
                            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                        {% endif %}
                        <span style="direction: rtl">
                            صفحه {{ page_obj.number}} از  {{ page_obj.paginator.num_pages}}
                        </span>
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                            <a href="?page=1">&laquo; اولین</a>
                        {% endif %}
                    </span>
                </div>
    </div>
    <!--</div>-->
    <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
            "window.location.href ='{% url 'ServiceUser:user_expertnewrule' expert.id%}'"><i class="fa fa-plus-square fa-lg" ></i>
            قانون جدید
    </button>

    {% else %}
        <div class="w3-panel w3-pale-red w3-text-red w3-center w3-wide">
            <strong>
           فاقد قانون!!
            </strong>
        </div>
        <hr>
        <button type="button" id="NewBtn" name="NewBtn" class="button button1" onclick=
            "window.location.href ='{% url 'ServiceUser:user_expertnewrule' expert.id%}'"><i class="fa fa-plus-square fa-lg" ></i>
            قانون جدید
        </button>
    {% endif %}
<!--</div>-->
    <script>
    </script>
{% endblock %}