{% extends "base.html" %}
{% block title_html %}
ایجاد قانون
{% endblock %}
{% block h1 %}
در این صفحه وضعیت عملیات ایجاد قانون جدید نمایش داده می شود
{% endblock %}
{% block article_content %}
<h3>Rule</h3>
{% if Rule_list|length > 0 %}
<table>
<thead>
<tr>
<td>شناسه</td>
<td> شرط قانون</td>
<td>نتیجه قانون</td>
</tr>
</thead>
<tbody>
{% for rule in Rule_list %}
<tr>
<td>{{ rule.id }}</td>
<td>{{ rule.condition }}</td>
<td>{{ rule.consequence }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<span>ایجاد قانون موفقیت آمیز نبود.</span>
{% endif %}
    <!--<p><a href="{% url "create_rule" %}">ایجاد قانون جدید</a>-->
    <!--</p>-->
    <!--<a href="{% url "index" %}">لیست قوانین</a>-->
    <button type="button" class="button button1" onclick=
        "window.location.href ='{% url "RuleManager:create_rule_by_model " %}';">ایجاد قانون جدید</button>
    <button type="button" class="button button1" onclick=
        "window.location.href ='{% url "RuleManager:index " %}';">لیست قوانین</button>
{% endblock %}