{% extends "base.html" %}
{% block title_html %}
بارگذاری فایل حقایق
{% endblock %}
{% load static %}
{% load RuleManager_filters %}
{% block h1 %}
لیست حقایق بارگذاری شده
{% endblock %}
{% block article_content %}
<div class="w3-container" >
<div class="notemsg">
    <div class="noteheader">نکته</div>
    <p>
    در این صفحه کلیه حقایق استخراج شده از فایل بارگذاری شده نمایش داده می شود.<br>
    برای ثبت حقایق در پایگاه دانش ، ردیف مربوطه را علامتگذاری کنید.
    </p>
</div>
<hr>

{% csrf_token %}
{% if flist|length > 0 %}
    <div class="w3-responsive w3-card w3-margin-top w3-container">
        <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>
    <table id="id_table" class=" w3-hoverable w3-strip w3-border" style="width:100%;">
        <tr>
            <th>انتخاب-حقیقت</th>
            <th>نوع </th>
            <th>حوزه اثر</th>
        </tr>
        <tbody id="id_tbody" >
            {% for tmpfact in page_obj %}
                <tr>
                    <td>
                        <input type= 'checkbox' id='fact{{forloop.counter}}'
                        name='fact{{forloop.counter}}' value="{{ tmpfact.fact }}">
                         <label for="fact{{forloop.counter}}"> {{ tmpfact.fact }}
                         </label>
                    </td>
                    <td>{{tmpfact.fact_type}}</td>
                    <td>{{tmpfact.fact_effect}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            <!--صفحه {{ page_obj.number }} از-->

        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
        </span>
    </div>
    </div>

<hr>
{% else %}
    <div class="w3-panel w3-pale-red w3-text-red w3-center">
        <strong>
        فایل بارگذاری شده فاقد حقییقت می باشد!!
        </strong>
        </div>
    <hr>

{% endif %}
</div>
    <script>
    </script>
{% endblock %}