{% extends "base.html" %}
{% block title_html %}
بارگذاری فایل حقایق
{% endblock %}
{% block article_content %}
{% if form.is_valid %}
    <div class="w3-container" >
        <div class="notemsg">
            <div class="noteheader">نکته</div>
            <p>
                در این صفحه کلیه حقایق استخراج شده از فایل بارگذاری شده نمایش داده می شود.<br>
                برای ثبت حقایق در پایگاه دانش ، ردیف مربوطه را علامتگذاری کنید.
            </p>
        </div>
        <hr>


        {% if flist|length > 0 %}
            <script>
                totalpages = ' {{page_obj.paginator.num_pages}}';
                currpage = ' {{ page_obj.number }}';
                csrf = '{{ csrf_token }}';
            </script>
            <script src="{% static 'ServiceUser/javascript/servicescripts.js' %}" defer></script>
            <div class="w3-responsive w3-card w3-margin-top w3-container">
                <form>
                    {% csrf_token %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; اولین</a>
                            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                        {% endif %}
                        <span class="current">
                            <!--صفحه {{ page_obj.number }} از-->
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <table id="id_table" class=" w3-hoverable w3-strip w3-border" style="width:100%;">
                    <tr>
                        <th>انتخاب-حقیقت</th>
                        <th>نوع </th>
                        <th>حوزه اثر</th>
                    </tr>
                    <tbody id="id_tbody" >
                        {% for tmpfact in page_obj %}
                            <tr>
                                <td>
                                    <input type= 'checkbox' id='fact{{forloop.counter}}'
                                    name='fact{{forloop.counter}}' value="{{forloop.counter}}">
                                    <label for="fact{{forloop.counter}}"> {{ tmpfact.fact }}
                                    </label>
                                </td>
                                <td>{{tmpfact.fact_type}}</td>
                                <td>{{tmpfact.fact_effect}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; اولین</a>
                            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                        {% endif %}
                        <span class="current">
                            <!--صفحه {{ page_obj.number }} از-->
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <button type="button" id="SaveBtn" name="SaveBtn" class="button button1" onclick=
                "window.location.href ='{% url 'ServiceUser:user_expertnewdomain' exp_id %}'"><i class="fa fa-plus-square fa-lg" ></i>
                ایجاد حوزه دانش جدید
            </button>
                </form>
            </div>
            <hr>
        {% else %}
            <div class="w3-panel w3-pale-red w3-text-red w3-center">
                <strong>
                    فایل بارگذاری شده فاقد حقییقت می باشد!!
                </strong>
            </div>
            <hr>
            <button type="button" id="SaveBtn" name="SaveBtn" class="button button1" onclick=
        "window.location.href ='{% url 'ServiceUser:user_expertnewdomain' exp_id %}'"><i class="fa fa-plus-square fa-lg" ></i>
        ایجاد حوزه دانش جدید
    </button>
        {% endif %}
    </div>
{% else %}
        <div class="w3-container">
        <div  class="w3-container w3-padding-16 w3-pale-green w3-margin-bottom" style="margin-top:45px" >

            <div class="w3-panel w3-pale-yellow w3-border w3-border-yellow">
                <p>
                    فقط فایل های با فرمت csv و xls مجاز می باشند
                    <br>
                    حداکثر اندازه مجاز 2.5 MB  می باشد.
                </p>
            </div>
            <div class="w3-container w3-padding-16" >
                {% if form.errors %}
                    <span class="w3-pale-red w3-panel">
                    {% for errfield,errmsg in form.errors.items %}
                        {{ errmsg }}
                    {% endfor %}
                    </span>
                {% endif %}

                <form enctype="multipart/form-data" method="post"
                    action="{% url 'ServiceUser:user_expert_uploadfact' expert.id %}">
                    {% csrf_token %}
                    <label for="id_content">فایل محتوی حقایق را انتخاب کنید
                    </label>
                    {{form.content}}
                    <hr>
                    <input type='submit' class="w3-button w3-green w3-round" value="بررسی و استخراج حقایق">

                </form>

            </div>
        </div>
        </div>
{% enif %}
{% endblock %}