{% extends "managementbase.html" %}
{% block title_html %}
بازیابی گذرواژه
{% endblock %}
{% block h1 %}
بازیابی گذرواژه
{% endblock %}
{% block article_content %}
<div class="contentcontainer">
<div class="infomsg">
<p>
ما دستورات لازم را برای بازیابی گذرواژه برای شما ارسال نموده ایم، اگر یک حساب با رایانامه ای که شما وارد نموده اید وجود داشته باشد
شما به زودی پیام ما را دریافت خواهید نمود
</p>
</div>
<hr>
  <div class="alerttext">
<p>
اگر شما یک رایانامه دریافت نکردید، لطفا اطمینان پیدا کنید همان رایانامه ای را که با آن ثبت نام نموده اید وارد کرده باشید،
    و پوشه اسپم صندوق پستی تان را بررسی کنید.
</p>
    </div>
</div>
{% endblock %}