{% extends 'managementbase.html' %}
{% block article_content %}
    {% if validlink %}
        <div class="centrecard" >
        <div class="contentheader">
            <h2>بازیابی رمز عبور
                <span style="font-size: medium; " class="tooltip">
                    <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="tooltiptext">چنانچه رمز خود را فراموش کرده اید در این صفحه رمز عبور جدید خود را وارد کنید.
                    </span>
                </span>
            </h2>
        </div>
        <div class="contentcontainer" >
        <form method="post">
            {% csrf_token %}
            {#      {{ form.as_p }}#}
            {% csrf_token %}
            <p><label for="id_new_password1">رمز جدید:
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            </label>
                <span class="helptext">
                    <ul>
                        <li>رمز شما نمی تواند خیلی شبیه به سایر اطلاعات شخصی شما باشد.</li>
                        <li>رمز شما باید حداقل شامل 8 کاراکتر باشد</li>
                        <li>رمز شما نمی تواند یک رمز پرکاربرد و عمومی باشد.</li>
                        <li>رمز شما نمی تواند بطور کامل عددی باشد.</li>
                    </ul>
                </span>
            </p>
            <p><label for="id_new_password2">تکرار رمز جدید:
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            </label>
            </p>
            <hr>
            <button type="submit" class="button button1">تغییر گذرواژه</button>
        </form>
    {% else %}
        <p class="alerttext">
            لینک بازیابی گذرواژه معتبر نبود، احتمالا بخاطر اینکه قبلا استفاده شده است.
            لطفا مجددا یک درخواست بازیابی رمز ارسال نمایید.
        </p>
    {% endif %}
</div>
</div>
{% endblock %}