{% extends 'managementbase.html' %}
{% block title_html %}
تغییر گذرواژه
{% block article_content %}
    <div class="centrecard" >
        <div class="contentheader">
            <h3>تغییر گذرواژه
            </h3>
        </div>
        <div class="contentcontainer" >
            <p>
                گذرواژه شما ثبت گردید.
                <br>
                . شما می توانید از اینجا <a href="{% url 'signin'%}"> وارد شوید</a>
            </p>
        </div>
    </div>
{% endblock %}