body,html,h1,h2,h3,h4,h5,h6,head,header,footer,article {
    font-family: "B Yekan",Tahoma, sans-serif;

}
* {box-sizing: border-box}

/* Add padding to containers */

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 6px;
  /*margin: 5px 0 22px 0;*/
    margin-top: 6px;
  margin-bottom: 6px;

  display: inline-block;
  border: black;
  background: #D1EFF1;

}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}
.basecontainer {
  /*background:url("/static/ExpertSystem/images/paper3.jpg");*/
  padding: 16px;
  background-color: white;
  min-height: 100%;
  /*height: 100%;*/
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #ddd;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 24px;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.star{
  color: red;
  size: ledger;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin  {
  background-color: #f1f1f1;
  text-align: center;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Set a style for all buttons */
.button {
  background-color: inherit;
  border-radius: 4px;
  border:2px solid #99ceff ;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "B Yekan",Tahoma, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
}
/* Add a hover effect for buttons */
.button1:hover {
  background-color: #ddd;
  color: #0645a1;
}


/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  opacity: 0.9;
}
.cancelbtn:hover {
  opacity:1;
}
/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.responsiveimage {
  width: 100%;
  height: auto;
}

.signin-bg-img {
  /* The image used */
  background-image: url("/static/UserManagement/images/smartman.png");
  min-height:800px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.signup-bg-img {
  /* The image used */
  background-image: url("/static/UserManagement/images/smartman.jpg");
  min-height:800px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}
/* Add padding to containers */
.container {
  padding: 16px;
}
.centercontainer {
  margin: auto;
  width: 50%;
  border: none ;
  padding: 1px;
}
.signin-container {
  position: absolute;
  right: 10;
  margin: 20px;
  max-width: 500px;
  max-height: 750px;
  padding: 16px;
  background-color: white;
  opacity: 1;
  overflow: auto;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

button:hover {
  opacity:1;
}


/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

p.alerttext {
  border-radius: 2px;
  text-align: justify;
  font-weight: bold;
  padding: 10px;
  background-color: #efc4c0;
}
p.infomsg{
    border-radius: 2px;
    font-weight: bold;
    text-align: justify;
    padding: 10px;
    background-color: #d0f1d3;
}

div {
  direction: rtl;
  unicode-bidi: normal;
}
div.alerttext {
  border-radius: 2px;
  text-align: justify;
  font-weight: normal;
  /*padding: 10px;*/
  background-color: #f3d3d0;
  }

div.alertheader {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: justify;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: #ea9289;
  }

div.infomsg{
    border-radius: 2px;
    font-weight: normal;
    text-align: justify;
    /*padding: 10px;*/
    background-color: #d0f1d3;
}
div.infoheader{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: justify;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: #6fc25f;

}
div.noteheader{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: justify;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: #57b2d5;

}
div.notemsg{
    border-radius: 2px;
    font-weight: normal;
    text-align: justify;
    /*padding: 10px;*/
    background-color: #c5e4f3;
}

