<!DOCTYPE html>
<html lang="fa" style="height:100%">
<head>
<meta name="description" content="دستیار هوشمند ">
<meta name="keywords" content="سیستم خبره,نرخ حق بیمه تامین اجتماعی,هوش مصنوعی,تعیین حق بیمه,مدیریت قوانین,ExpertSystem, Artificial Intelligence">
<meta name="author" content="رحمان زارعی">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>درباره دستیار هوشمند</title>
{% load static %}
<link href="{% static "favicon.ico" %}" rel='shortcut icon' type='image/x-icon'  />
<link href="{% static "/ExpertSystem/css/expertstyle.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "/ExpertSystem/css/menustyle.css" %}" rel="stylesheet" type="text/css" />
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static '/admin/js/django_jalali.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="{% static 'ServiceUser/javascript/menuscripts.js' %}" defer></script>
    <script >
        var jQuery_3_4_1 = $.noConflict(true);
        user = '{{user.username}}';
        $(document).ready(function(){
            manageuser(user);
            $('.persiandp').datepicker({
	            changeMonth: true,
	            changeYear: true,
                numberOfMonths: 1,
	            {#showButtonPanel: true,#}
                {#showWeek: true,#}
	            dateFormat: 'dd/mm/yy',
                {#dateFormat: 'yy/mm/dd',#}
	            {#autoSize: true,#}
                {#showOn: 'button',#}
	            {#buttonImage: '/static/admin/img/icon-calendar.svg',#}
	            {#buttonImageOnly: true#}
	        });
	        $('#id_signin').click(function(){
                let log_state = '{{ user.is_authenticated}}';
                if (log_state == 'True'){
                    $('#id_userpanel').show();
                    $('#editbtn').click(function(){
                     window.location.href ='{% url 'ServiceUser:edit_user'  %}';
                    });
                    $('#logoffbtn').click(function(){
                        window.location.href ='{% url 'sinout'  %}';
                    });
                }
                else {
                    window.location.href ='{% url 'signin'  %}';
                }
            });
	         $ = jQuery_3_4_1;
            $('.js-example-basic-single').select2({
                dir: "rtl"
            });
            $('.js-example-basic-multiple').select2({
                dir: "rtl"
            });

        });
    </script>
<style>
    body,html,h1,h2,h3,h4,h5,h6,head,header,footer,article,div {
    font-family: "B Yekan",Tahoma, sans-serif;

}
</style>
</head>
<body  style="background-color: #f3f6f8; height:100%" >
    {% include 'ServiceUser/topnavmenu.html' %}
    {% include "ServiceUser/userpanel.html" %}
    <div class="w3-container "  style="min-height:82%">
        {% include "plans/expiration_messages.html" %}
    <div class="infomsg">
    <div class="infoheader">درباره سامانه هوشمند</div>

  <p><i>
      "سامانه‌های خُبره یا سیستم‌های خُبره به دسته‌ای خاص از نرم‌افزارهای رایانه‌ای اطلاق می‌شود که در راستای کمک به کاردانان و متخصّصان انسانی یا جایگزینی جزئی آنان در زمینه‌های محدود تخصّصی تلاش دارند. "
     </i>
                 برگرفته از سایت ویکی پدیا <br>
برای توضیحات بیشتر در مورد سامانه های خبره از <a href="https://fa.wikipedia.org/wiki/%D8%B3%DB%8C%D8%B3%D8%AA%D9%85_%D8%AE%D8%A8%D8%B1%D9%87" target="_blank"> اینجا </a>بازدید کنید.
  </p>
  <p>
        سامانه هوشمند  بر اساس  مدل استنتاجی  مبتنی بر تعریف حقایق و قوانین و با روش های استنتاجی زنجیره پیشرو و پسرو عمل می کند.
    این سامانه با دارا بودن سیستم مدیریت حقایق و قوانین امکان مدیریت کامل پایگاه دانش را برای مدیر سیستم فراهم می آورد و دارای رابط کاربر پسند و امکانات
    توضیح در خصوص نحوه تصمیم گیری سامانه می باشد.
    <br>
    یکی از ویژگی های خاص این سامانه امکان بارگذاری دانش در خصوص هر موضوع مورد نظر کاربرمی باشد. بدین صورت که مدیر سیستم می تواند از طریق ایجاد دستی
    حقایق و مقررات در زمینه یک حوزه خاص یا بارگذاری بصورت فایل داده، دانش حوزه مورد نظر را در سامانه وارد نماید.
      <br>
      لازم به یادآوری است فرایند استخراج دانش و تبدیل
    آن به مقررات و حقایق جهت ثبت در پایگاه دانش امری تخصصی بوده که توسط مهندس دانش صورت می پذیرد
  </p>
  </div>
    <br>
    <div class="notemsg">
      <div class="noteheader collapsible">نکته</div>
        <p class="notecontent"><strong>
      با توجه به قابلیت بارگذاری دانش مربوط به هر زمینه مورد نظر کاربر در پایگاه داده، این سامانه فقط بمنظور نمایش قابلیت ها و عملکرد پلتفرم نرم افزاری دستیار هوشمند و دریافت بازخورد
      کاربران می باشد.
      لازم به ذکر است این پلتفرم جهت ثبت و ساماندهی دانش فرد خبره در پایگاه دانش می باشد و نحوه اخذ خبرگی از فرد خبره
       و تبدیل آن به دانش ساخت یافته امری مجزا می باشد که توسط مهندس دانش انجام می گردد.
        </strong></p>
</div>
    </div>
<div class="footer w3-padding-16 w3-margin-top">
        <h4>تمام حقوق محفوظ است
        <i class="fa fa-copyright"></i>
1400-1399
        </h4>
    </div>

</body>
</html>