<!DOCTYPE html>
<html lang="fa" style="height:100%">
<head>
<meta name="description" content="دستیار هوشمند بیمه ای پیمانکاران">
<meta name="keywords" content="سیستم خبره,نرخ حق بیمه تامین اجتماعی,هوش مصنوعی,تعیین حق بیمه,مدیریت قوانین,ExpertSystem, Artificial Intelligence">
<meta name="author" content="رحمان زارعی">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>تماس با ما</title>
{% load static %}
{% load jalali_tags %}
<link href="{% static "favicon.ico" %}" rel='shortcut icon' type='image/x-icon'  />
<link href="{% static "/ExpertSystem/css/expertstyle.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "/ExpertSystem/css/menustyle.css" %}" rel="stylesheet" type="text/css" />
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static '/admin/js/django_jalali.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="{% static 'ServiceUser/javascript/menuscripts.js' %}" defer></script>
    <script >
        var jQuery_3_4_1 = $.noConflict(true);
        user = '{{user.username}}';
        $(document).ready(function(){
            manageuser(user);
            $('.persiandp').datepicker({
	            changeMonth: true,
	            changeYear: true,
                numberOfMonths: 1,
	            {#showButtonPanel: true,#}
                {#showWeek: true,#}
	            dateFormat: 'dd/mm/yy',
                {#dateFormat: 'yy/mm/dd',#}
	            {#autoSize: true,#}
                {#showOn: 'button',#}
	            {#buttonImage: '/static/admin/img/icon-calendar.svg',#}
	            {#buttonImageOnly: true#}
	        });
	        $('#id_signin').click(function(){
                let log_state = '{{ user.is_authenticated}}';
                if (log_state == 'True'){
                    $('#id_userpanel').show();
                    $('#editbtn').click(function(){
                     window.location.href ='{% url 'ServiceUser:edit_user'  %}';
                    });
                    $('#logoffbtn').click(function(){
                        window.location.href ='{% url 'sinout'  %}';
                    });
                }
                else {
                    window.location.href ='{% url 'signin'  %}';
                }
            });
	         $ = jQuery_3_4_1;
            $('.js-example-basic-single').select2({
                dir: "rtl"
            });
            $('.js-example-basic-multiple').select2({
                dir: "rtl"
            });

        });
    </script>


<style>
.success {
  background-color: #008CBA;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
}
.failure{
  background-color: #ff3333;
  color: black;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
}
.info{
  background-color: #ccefff;
  color: black;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
}

    body,html,h1,h2,h3,h4,h5,h6,head,header,footer,article,div {
    font-family: "B Yekan",Tahoma, sans-serif;

}
</style>
</head>
<body  style="background-color: #f3f6f8; height:100%" >
    {% include 'ServiceUser/topnavmenu.html' %}
    <div class="w3-container "  style="min-height:82%">
        {% include "ServiceUser/userpanel.html" %}
        {% include "plans/expiration_messages.html" %}

    <div class="w3-panel  w3-pale-green">
    <h2>تماس با ما</h2>
        <p>چنانچه دیدگاه یا نظری در خصوص سایت و سامانه هوشمند دارید از طریق فرم زیر ارسال نمایید</p>
    </div>
    <div class="w3-row-padding w3-stretch">
    <div class="w3-half">
      <img src="/static/ExpertSystem/images/contact.jpg" alt="contact us" style="width:100%">
    </div>
    <div class="w3-half">
      <div id="id_state" class="infomsg">
          <div class="infoheader"></div>
         <strong> {{msg}} </strong>
      </div>
      <form method="post" action="{% url "ExpertSystem:contact" %}">
                {% csrf_token %}
                <label for="name">نام
                    <input type="text" id="name" name="name" class="w3-input w3-border-0 w3-border-bottom w3-hover-border-light-green" placeholder="نام خود را وارد کنید..">
                </label>
                <label for="email">رایانامه
                    <input type="text" id="email" name="email" class="w3-input w3-border-0 w3-border-bottom w3-hover-border-light-green" placeholder="رایانامه خود را وارد کنید..">
                </label>
                <label for="subject">موضوع
                    <textarea id="subject" name="subject" class="w3-input w3-hover-border-light-green" style="height: 150px;" placeholder="چیزی بنویسید.."></textarea>
                </label>
                <p class="w3-container w3-row w3-stretch">
                    <input type="submit" class="w3-button  w3-border w3-round w3-transparent w3-hover-light-green w3-hover-text-white" value="ارسال">
                </p>
            </form>
    </div>
  </div>
  </div>
    <div class="footer w3-padding-16 w3-margin-top">
    <h4>تمام حقوق محفوظ است
    <i class="fa fa-copyright"></i>
1400-1399
</h4>
</footer>
</body>
</html>