{% extends "expertbase.html" %}
{% block title_html %}
دستیار هوشمند
{% endblock %}
{% load static %}
{% block h1 %}
    <span style="visibility: hidden">
        راهبر دستیار هوشمند
    </span>
{% endblock %}
{% block article_content %}
    <div class="w3-card-4 w3-content w3-round" >
        <div class="contentheader">
            <h3>راهبر دستیار هوشمند
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">
                        سوالاتی که دستیار هوشمند از شما می پرسد را با انتخاب گزینه های "بلی" یا "خیر" پاسخ دهید
                    </span>
                </span>
            </h3>
        </div>
        <div class="w3-container" >
            <form id="expertform" method="post" action="{% url "ExpertSystem:expert_contract_byajax" %}">
                {% csrf_token %}
                <div id="detailinfo" style="margin: 10px; font-size: smaller;">
                    <strong>
                    انتخاب های کاربر:
                    </strong>
                    <table style="font-size: small;width: 100%">
                        <tr>
                            <th>
                                دستیار هوشمند
                            </th>
                            <!--<th>-->
                            <!--    نحوه شروع به کار-->
                            <!--</th>-->
                            <th>
                                موضوع
                            </th>
                            <th style="width: auto">
                                مشخصه
                            </th>
                        </tr>
                        <tr>
                            <td id="exp_id">
                                {{ exp_name }}
                            </td>
                            <!--<td id="init_id">-->
                            <!--    {{ inittypedec }}-->
                            <!--</td>-->
                            <td id="subj_id">
                                {{ subject }}
                            </td>
                            <td id="prop_id">
                                {{ detail }}
                            </td>

                        </tr>
                    </table>
                </div>
<div id="sysmsg">
    <div class="notemsg" >
        {% if  question_type == 'Y/N'%}
            <script>
        whythisdesc = '{{ whythisquestion }}';
        howthisdesc = '{{ howthisanswer }}';
        sysstep = '{{ step }}';
        csrftoken = '{{ csrf_token }}';
        curruser = '{{curruser}}';
        expert_id ='{{ exp_id }}';
        run_mode= sessionStorage.getItem('run_mode');
    </script>
            <script src="{% static 'ExpertSystem/javascript/expertscripts.js' %}" defer></script>
            <div class='noteheader' >پیام متخصص</div>
                <p>
                    {{ question }}
                    <br>
                    <br>
                    <select name="ynselect" id="ynselect">
                        <option value="بلی" >
                            بلی
                        </option>
                        <option value="خیر" >
                            خیر
                        </option>
                    </select>
                    <br>
                    <br>
                    <button type="button" id="prevBtn" name="prevBtn"  class="button button1" onclick="gotopreviouslevel()">مرحله قبل</button>
                    <button type="button" id="nextBtn" name="nextBtn" class="button button1" onclick="getajaxresponce()">مرحله بعد</button>
                </p>
        {% elif question_type == "EXP" %}
            <script>
        whythisdesc = '{{ whythisquestion }}';
        howthisdesc = '{{ howthisanswer }}';
        sysstep = '{{ step }}';
        csrftoken = '{{ csrf_token }}';
        curruser = '{{curruser}}';
        expert_id ='{{ exp_id }}';
        run_mode= sessionStorage.getItem('run_mode');
    </script>
            <script src="{% static 'ExpertSystem/javascript/expertscripts.js' %}" defer></script>
            <div class='noteheader' >پیام متخصص</div>
                <p>
                    {{ question }}
                    <br>
                    <br>
                                <label id="expanswer">
                                پاسخ شما:
                                <input name="expanswer" type="number" id="expanswer" min="0" max="100" placeholder="فقط اعداد مجاز می باشند">
                                </label>
                    <br>
                    <br>
                    <button type="button" id="prevBtn" name="prevBtn"  class="button button1" onclick="gotopreviouslevel()">مرحله قبل</button>
                    <button type="button" id="nextBtn" name="nextBtn" class="button button1" onclick="getajaxresponce()">مرحله بعد</button>
                </p>
        {% else %}
            <script>
        whythisdesc = '{{ whythisquestion }}';
        howthisdesc = '{{ howthisanswer }}';
        sysstep = '{{ step }}';
        csrftoken = '{{ csrf_token }}';
        curruser = '{{curruser}}';
        expert_id ='{{ exp_id }}';
        run_mode= sessionStorage.getItem('run_mode');
    </script>
            <script src="{% static 'ExpertSystem/javascript/expertscripts.js' %}" defer></script>
            <div class='noteheader' >پیام متخصص</div>
                <p>
                    {{ question }}
                    <br>
                    <br>
                </p>
        {% endif %}
    </div>
    <br>
    <div class="infomsg">
        <div class="infoheader ">مبانی استنتاج</div>
            <p >
                {% if  howthisanswer|length  %}
                    <button  type="button" id="howthisbtn"   class="button button1" onclick="showmehow()" >دلیل این پاسخ</button>
                    <!--<br>-->
                    <h4 id="howthis" ></h4>
                {% endif %}

                {% if  whythisquestion|length  %}
                    <button  type="button" id="whythisbtn" class="button button1" onclick="showmewhy()">دلیل این سوال</button>
                    <br>
                    <h4 id="whythis" ></h4>
                {% endif %}
            </p>
    </div>
    <br>
</div>
<hr>
<button type="button" class="button button1" onclick="gotosettings()"><i class="fa fa-home fa-lg"></i>
    بازگشت به صفحه تنظیمات</button>
</form>
        </div>
    </div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("activecontent");
    var content = this.nextElementSibling;
    // var content = this.children[0] ;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}


