{% extends "expertbase.html" %}
<!--{% load static %}-->

<!--<link rel="stylesheet" type="text/css" href="{% static '/ExpertSystem/css/style.css' %}">-->
{% block title_html %}
سیستم خبره قراردادها
{% endblock %}
{% block h1 %}
متخصص قرارداد
{% endblock %}
{% block article_content %}
<form id="expertform" method="post" action="{% url "ExpertSystem:expert_contract" %}" >
{% csrf_token %}

<h2>پیام سیستم:</h2>
<br>
<br>

<h3>{{ question }}</h3>
<br>
<br>

    {% if  question_type == 'Y/N'%}
        <select name="ynselect">
             <option value="بلی">بلی</option>
             <option value="خیر">خیر</option>

        </select>
        <br>

    {% elif question_type == "EXP" %}

        <h3>پاسخ شما:</h3>
        <input name="answer" type="number">
        <br>
    {% else %}
        <script type="text/javascript" >
            {#alert('sfddsfg');#}
            document.getElementById('prevBtn').textContent = 'dsdsdasdd';
            {#document.getElementsByName("prevBtn").disabled = true;#}
            {#alert('12165165');#}
        </script>
        <h2 >
             اتمام عملیات
             <h3>
              مهندس دانش : رحمان زارعی <br>
              طراح سیستم: رحمان زارعی

             </h3>
        </h2>
    {% endif %}
<br>

<br>
    <button type="button" id="prevBtn" name="prevBtn" disabled>مرحله قبل</button>
<div>
    <button type="submit" id="nextBtn" name="nextBtn">مرحله بعد</button>
</div>

<br>
<button  type="button"  onclick="window.location.href = '{% url "ExpertSystem:expert_initial" %}'">رفتن به صفحه تنظیمات اولیه</button>
{#<input type="text" value="رفتن به صفحه تنظیمات اولیه" onclick="gotosettings()">#}
<br>
<br>
<input  type="button" value="به من بگو چرا" onclick="showmewhy()">
<br>
<br>
<input  type="button" value="به من بگو چگونه" onclick="showmehow()">
<br>
<h4 id="whythis" >چرا:</h4>
<br>
<h4 id="howthis" >چگونه:</h4>

<script>
function gotosettings()
{
    alert('gd888ggd');
    {#window.location.href = '{% url "ExpertSystem:expert_initial" %}';#}
}
function showmewhy() {
    document.getElementById('whythis').innerHTML='چرا: <br>'+ '{{ whythisquestion }}';
}
function showmehow() {
    document.getElementById('howthis').innerHTML='چگونه: <br>'+'{{ howthisanswer }}';
}

</script>

</form>

{% endblock %}
