{% extends "expertbase.html" %}
{% block title_html %}
    سامانه هوشمند
{% endblock %}
{% load static %}
{% block h1 %}
    <span style="visibility: hidden">
        راه اندازی سامانه هوشمند
    </span>
{% endblock %}
{% block article_content %}
    <script>
        facttoken = '{{ csrf_token }}';
        sessionStorage.setItem('run_mode','classic');
    </script>
    <script src="{% static 'ExpertSystem/javascript/expertscripts.js' %}" defer></script>
    <script src="{% static 'RuleManager/javascript/rulescripts.js' %}" defer></script>
    <div class="centrecard" >
        <div class="contentheader">
            <h3>راه اندازی سامانه هوشمند
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">                        سامانه هوشمند تعیین نرخ حق بیمه با استفاده از روش های هوش مصنوعی به شما در تشخیص نرخ حق بیمه قراردادهای پیمانکاری کمک می کند.
                        کافی است با تکمیل گام های زیر اطلاعات اولیه ای که از قرارداد دارید را انتخاب کنید و دکمه شروع را بزنید.
                        با پاسخ دادن به چند سوال نرخ حق بیمه قرارداد تعیین می شود.

                    </span>
                </span>
            </h3>
        </div>
        <div class="contentcontainer" >
            <form id="expertinitial" method="post"  action="{% url "ExpertSystem:expert_initial_classic" %}  ">
                <label for="datalist">گام اول-انتخاب پایگاه دانش
                    <select class="js-example-basic-single" name="datalist" id="datalist"  required
                            style=" width:100%;">
                        <option value="">---</option>
                        {% for data in databases %}
                            <option value={{ data.id}}> {{ data}}</option>
                        {% endfor %}
                    </select>
                </label>
            <hr>
                <input type="hidden" value="priorfact" name="inittype" id="inittype">
                <label for="factlist-subject"> گام دوم-انتخاب موضوع
                    {#            </strong>#}
                    <select class="js-example-basic-single" id="factlist-subject" name="factlist-subject" style=" width:100%;"
                            title="یک گزینه را انتخاب کنید" onchange="updatedetailfacts();">
                        <option value=""> ---</option>
                        {% for f in subjectfacts %}
                            <option value="{{ f.fact}}"> {{f.fact}}</option>
                        {% endfor %}
                    </select>
                </label>
            <hr>
                <label for="factlist-detail[]"> گام سوم-انتخاب ویژگی
                    {#            </strong>#}
                    <select class="js-example-basic-multiple" id="factlist-detail[]" name="factlist-detail[]" multiple
                            title="یک یا چند گزینه را انتخاب کنید" style=" width:100%;">
                        {% for f in detailfacts %}
                            <option value="{{ f.fact}}"> {{f.fact}}</option>
                        {% endfor %}
                    </select>
                    <input type="radio" id="related_detail" name="detailtype" value="related_detail" checked
                           onchange="updatedetailfacts()" title="با انتخاب این گزینه فقط مشخصه های مرتبط با موضوع که در گام قبل انتخاب شده نمایش داده می شود">
                    <label for="related_detail" title="با انتخاب این گزینه فقط مشخصه های مرتبط با موضوع که در گام قبل انتخاب شده نمایش داده می شود"
                    >فقط مشخصه های مرتبط</label><br>
                    <input type="radio" id="all_detail" name="detailtype" value="all_detail"
                           onchange="updatedetailfacts()" title="با انتخاب این گزینه تمامی مشخصه ها قابل انتخاب می باشند">
                    <label for="all_detail" title="با انتخاب این گزینه تمامی مشخصه ها قابل انتخاب می باشند">
                        کلیه مشخصه ها</label><br>
                </label>
                <hr>
                <button type="submit" id="nextBtn" class="button button1">شروع </button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <script>

    </script>

{% endblock %}