<!DOCTYPE html>
<html lang="fa">
<head>
<title>Social AI - Artificial Intelligence Solutions to make your marketing smart and developed ! - Social AI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<link rel="canonical" href="https://SocialAI.pythonanywhere.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Social AI - Artificial Intelligence Solutions to make your marketing smart and developed ! - Social AI" />
{% load static %}
<link href="{% static "/ExpertSystem/css/expertstyle.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "/ExpertSystem/css/menustyle.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "/UserManagement/css/managementstyle.css" %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta name="google-site-verification" content="dRS3BogYdjv8GCy8a9-7hIgyHmxwiPa0uTQHzRQk1tI" />
    <script>
        curr_user = '{{user.username}}';
        if(curr_user === ''){
            curr_user = 'not_signed_in';
        }
        $(document).ready(function(){
            setregisterlink(curr_user);
        });
    </script>
<style>
body,h1,h2,h3,h4,h5,h6 {
    font-family: "B Yekan",Tahoma, sans-serif;
}
body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: 100% 100%  ;
  background-image: url("/static/ExpertSystem/images/topimg.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>

<body >

<!-- Navbar (sit on top) -->
<div class=" w3-top  w3-card-2" >
  <div class=" w3-bar w3-white " id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide w3-right"><i class="fa fa-home"></i>خانه</a>
    <a href="{% url 'signin' %}" class="w3-bar-item w3-button w3-wide w3-right" id="user_state"><i class="fa fa-sign-in"></i>ورود|ثبت نام</a>
    <!-- Left-sided navbar links -->
    <div class="w3-left w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-info"></i>درباره </a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> تیم ما </a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> خدمات ما </a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> قیمت </a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> تماس با ما </a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-left w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<div class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-right w3-hide-medium w3-hide-large " style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16 w3-right">بستن ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button  w3-left">درباره</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button  w3-left">تیم ما</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button  w3-left">خدمات ما</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button w3-left">قیمت</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button  w3-left">تماس با ما</a>
</div>

<!-- Header with full-height image -->
<div class=" bgimg-1 w3-container w3-grayscale-min " style="margin-top: 40px" id="home">
  <div class="w3-display-right w3-text-black" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">کسب و کارتان را هوشمند کنید</span><br>
    <span class="w3-xlarge w3-hide-large w3-hide-medium">کسب و کارتان را هوشمند کنید</span><br>
    <span class="w3-xlarge w3-hide-small">فعالیت شما در هر زمینه ای باشد، با کمک دستیار هوشمند شخصی سازی شده، همیشه مشتریان شما راضی خواهند بود.</span>
    <span class="w3-large w3-hide-medium w3-hide-large w3-text-red" >فعالیت شما در هر زمینه ای باشد، با کمک دستیار هوشمند شخصی سازی شده، همیشه مشتریان شما راضی خواهند بود.</span>
    <!--<p><a href="{% url 'ExpertSystem:expert_initial' %}" class=" glow  w3-padding-large w3-large w3-margin-top ">مشاهده سامانه دمو</a></p>-->
    <p><a href="{% url 'ExpertSystem:expert_initial' %}" class=" glow w3-button  w3-hide-small w3-hide-medium w3-round-xxlarge w3-text-black w3-xlarge">مشاهده سامانه دمو</a></p>
    <p><a href="{% url 'ExpertSystem:expert_initial' %}" class=" glow w3-button  w3-hide-large w3-hide-medium  w3-round-xlarge w3-text-black ">مشاهده سامانه دمو</a></p>
  </div>
  <div class="w3-display-bottomleft w3-text-blue-greygrey w3-xlarge" style="padding:24px 48px">
{#    <i class="fa fa-facebook-official w3-hover-opacity"></i>#}
    <i class="fa fa-instagram w3-hover-opacity"></i>
{#    <i class="fa fa-snapchat w3-hover-opacity"></i>#}
{#    <i class="fa fa-pinterest-p w3-hover-opacity"></i>#}
{#    <i class="fa fa-twitter w3-hover-opacity"></i>#}
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</div>


<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">درباره تیم</h3>
  <p class="w3-center w3-large">ویژگی های کلیدی تیم </p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">واکنشی</p>
      <p>در هر حال و هر جا و با هر ابزاری از خدمات ما استفاده کنید، چه با کامیوتر خانگی و لپ تاپ، چه با تبلت و چه با موبایل، ما بهترین تجربه را برای شما فراهم می کنیم</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">اشتیاق</p>
      <p>ما با اشتیاق فراوان به دنبال توسعه خدمات بهتر برای پاسخگویی به نیازهای شما هستیم.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">طراحی</p>
      <p>ارایه بهترین تجربه کاربری با بروزترین متدهای طراحی</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">پشتیبانی</p>
      <p>ما همیشه در کنار شما هستیم. کافی است با ما تماس بگیرید</p>
    </div>
  </div>
</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>راه حل های مبتنی بر هوش مصنوعی ما پشتیبان کسب و کار شما هستند</h3>
      <p>ما ابزارهایی را به شما ارائه می کنیم که با کمک به شما در بهبود خدمات قابل ارائه به مشتری هایتان، باعث توسعه کسب و کار شما خواهند شد
      و تجربه کاربری مشتریان خدمات شما را بهبود خواهند بخشید. با کمک ابزارهای ما پاسخ دهی به حجم زیادی از مشتریان با سرعت زیاد و کیفیت بالا و بدون تاخیر امکان پذیر خواهد بود.
      ما متعهد هستیم که در راه توسعه  ابزارهای هوشمند تسهیل گر کسب و کار شما با بهره گیری از علوم روز گام برداریم.<br>
      منتظر کارهای بیشتری از ما باشید...
      </p>
      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> مشاهده کارهای ما</a></p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="/static/ExpertSystem/images/our work.jpg" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">تیم</h3>
  <p class="w3-center w3-large">افرادی که این تیم را اداره می کنند</p>
  <div class="row">
  <div class="column" style="margin: auto">
    <div class="card">
      <img src="/static/ExpertSystem/images/author3.jpg" alt="Rahman" style="width:100% ">
      <div class="container">
        <h2>رحمان زارعی</h2>
        <p class="title">مهندس دانش و برنامه نویس</p>
        <p>طراح و برنامه نویس پروژه دستیار هوشمند</p>
        <p><a href="mailto:aiseeker2014@gmail.com" target="_blank">تماس مستقیم </a></p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Promo Section "Statistics" -->
{#<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">#}
{#  <div class="w3-quarter">#}
{#    <span class="w3-xxlarge">14+</span>#}
{#    <br>همکاران#}
{#  </div>#}
{#  <div class="w3-quarter">#}
{#    <span class="w3-xxlarge">55+</span>#}
{#    <br>پروژه های انجام گرفته#}
{#  </div>#}
{#  <div class="w3-quarter">#}
{#    <span class="w3-xxlarge">89+</span>#}
{#    <br>Happy مشتری ها#}
{#  </div>#}
{#  <div class="w3-quarter">#}
{#    <span class="w3-xxlarge">150+</span>#}
{#    <br>جلسات#}
{#  </div>#}
{#</div>#}

<!-- Work Section -->
<div class="w3-container" style="padding:128px 16px" id="work">
  <h3 class="w3-center">کارهای ما</h3>
  <p class="w3-center w3-large">چیزهایی که ما تاکنون انجام داده ایم</p>

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col m6">
      <img src="/static/ExpertSystem/images/expert.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="دستیار هوشمند">
    </div>
    <div class="w3-col m6">
      <img src="/static/ExpertSystem/images/rulemanager.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="سامانه مدیریت قوانین">
    </div>
  </div>

</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="بستن تصویر">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>مهارت های ما</h3>
      <p>مهندسی دانش و طراحی انواع نرم افزارها و سیستم های مبتنی بر هوش مصنوعی<br>
      طراحی سیستم های خبره برای تسهیل خدمات در زمینه های مختلف</p>
      <p>برنامه نویسی وب بصورت کامل در سمت کلاینت و سرور<br>
      طراحی و پیاده سازی نرم افزارهای مبتنی بر وب با بروزترین ابزارها</p>
      <p>طراحی صفحات وب بصورت کاملا پویا و واکنش گرا قابل دسترس در تمامی پلتفرم ها </p>
    </div>
    <div class="w3-col m6">
      <p class="w3-wide"><i class="fa fa-database w3-margin-right"></i>مهندسی دانش</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:90%">90%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-code w3-margin-right"></i>برنامه نویسی وب</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:85%">85%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>طراحی وب</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:75%">75%</div>
      </div>
    </div>
  </div>
</div>

<!-- Pricing Section -->
<div class="w3-container w3-center w3-grey" style="padding:128px 16px" id="pricing">
{% include 'ServiceUser/UserPlan/Fa_pricing.html' %}
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">تماس با ما</h3>
  <p class="w3-center w3-large">هرگونه پیشنهاد و نظر خود را از طریق فرم زیر برای ما ارسال نمایید</p>
      <div class="doublecolumn" >
    <!-- Image of location/map -->
    <img src="/static/ExpertSystem/images/contact_header.png" class="w3-image "
    alt="راه های تماس با ما" style="margin-top:48px;width: 100%">
  </div>

  <div class="doublecolumn" style="margin-top:48px">
{#    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> آدرس:</p>#}
{#    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i>تلفن</p>#}
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right" > </i>E-mail: aiseeker2014@gmail.com</p>
{#    <br>#}
      <form method="post" id="id_formcontact" action="{% url "ExpertSystem:contact" %}">
          {% csrf_token %}
        <label for="name">نام:
        <input type="text" id="name" name="name" placeholder="نام خود را وارد کنید..">
        </label>
        <label for="email">رایانامه:
        <input type="text" id="email" name="email" placeholder="رایانامه خود را وارد کنید..">
        </label>
        <label for="subject">موضوع:
        <textarea id="subject" name="subject" style="height: 150px;" placeholder="چیزی بنویسید.."></textarea>
        </label>
        <button  class="button button1" onclick="document.getElementById('id_formcontact').submit();"><i class="fa fa-paper-plane"></i>ارسال </button>
{#        <input type="submit" class="button button1" value="ارسال">#}
      </form>
  </div>
</div>
<!-- Payment -->
<!--<style>-->
<!--    #zarinpal{-->
<!--        margin:auto-->

<!--    }-->
<!--    #zarinpal img {width: 100px;}-->
<!--</style>-->
<!--<div id="zarinpal" class="w3-center w3-panel w3-blue-grey">-->
<!--<script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>-->
<!--</div>-->
<!-- Payment -->
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey w3-round-medium"><i class="fa fa-arrow-up w3-margin-right"></i>خانه</a>
  <div class="w3-xlarge w3-section">
    {#    <i class="fa fa-facebook-official w3-hover-opacity"></i>#}
        <a target="_blank" href="https://www.instagram.com/socialai_solutions/">
     <i class="fa fa-instagram w3-hover-opacity"></i>
        </a>
    {#    <i class="fa fa-snapchat w3-hover-opacity"></i>#}
    {#    <i class="fa fa-pinterest-p w3-hover-opacity"></i>#}
    {#    <i class="fa fa-twitter w3-hover-opacity"></i>#}
        <a target="_blank" href="https://www.linkedin.com/in/rahman-zarei-91a4a9115">
      <i class="fa fa-linkedin w3-hover-opacity"></i>
        </a>

     </div>
    <p>قدرت گرفته از <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
function setregisterlink(c_user) {
    var reglink = $('#user_state');
    if (c_user !== 'not_signed_in' && c_user !== ''){
        reglink.attr('href' , "{% url 'ServiceUser:user_dashboard2' %}");
        reglink.html('<i class="fa fa-vcard"></i> داشبورد');
    }else {
        reglink.attr('href' ,"{% url 'signin' %}");
        reglink.html('<i class="fa fa-sign-in"></i>ورود|ثبت نام');
    }
}
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}

function sendorder(registmode) {
    window.location.href="/ServiceUser/registration/"+registmode;

    }

function calccost() {
    tu = document.getElementById('id_user').value;
    // alert(tu);
    te = document.getElementById('id_expert').value;
    // alert(te);
    var costtext = document.getElementById('id_cost');
    costtext.innerHTML = '<b>'+parseInt(30000*tu/1.9*te/1.5).toString()+'</b>';
}
</script>

</body>
</html>
