{% extends "expertbase.html" %}
{% block title_html %}
سامانه هوشمند
{% endblock %}
{% load static %}
{% block h1 %}
    <span style="visibility: hidden">
    راه اندازی سامانه هوشمند
    </span>
{% endblock %}
{% block article_content %}
    <script>
        facttoken = '{{ csrf_token }}';
        sessionStorage.setItem('run_mode','modern');
    </script>
    <script src="{% static 'ExpertSystem/javascript/expertscripts.js' %}" defer></script>
    <script src="{% static 'RuleManager/javascript/rulescripts.js' %}" defer></script>
    <style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}


h1, h2 {
  text-align: right;
}

/* Mark elements that gets an error on validation: */
.invalid {
  border-style:2px solid red;
}

/* Hide all steps by default: */
.tab {
  display: none;
  {#width: 100%;#}
}

#prevBtn {
  background-color: #97b5ce;
}

#prevBtn:hover {
  background-color: #9ec9a9;
}


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
@media screen and (max-width: 350px) {
   .tab, select {
    width: 100%;
    margin-top: 0;
    {#max-width: 90%;#}
  }
}

@media screen and (max-width: 350px) {
  #expertinitial {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #expertinitial {
    width: 100%;
  }
}

</style>
    <div class="w3-card-4 w3-content w3-round" >
        <div class="contentheader" style="margin-bottom: 16px">
            <h3>راه اندازی سامانه هوشمند
                <span style="font-size: medium; " class="w3-tooltip">
                        <i class="fa fa-info-circle helpicon fa-lg"></i>
                    <span class="w3-text w3-round-xlarge w3-tag w3-animate-opacity ">                        سامانه هوشمند تعیین نرخ حق بیمه با استفاده از روش های هوش مصنوعی به شما در تشخیص نرخ حق بیمه قراردادهای پیمانکاری کمک می کند.
                        کافی است با تکمیل گام های زیر اطلاعات اولیه ای که از قرارداد دارید را انتخاب کنید و دکمه شروع را بزنید.
                        با پاسخ دادن به چند سوال نرخ حق بیمه قرارداد تعیین می شود.

                    </span>
                </span>
            </h3>
        </div>
        <div class="w3-container" >
            <form id="expertinitial" method="post" action="{% url "ExpertSystem:expert_initial" %}  ">
        {% csrf_token %}
        <h3>انتخاب اطلاعات و شروع به کار</h3>
        <hr>
            <div id="detailinfo" style="margin: 10px; font-size: smaller;">
                <strong>
                    انتخاب های کاربر:
                </strong>

                    <table style="width:100%">
                        <tr>
                            <th>
                                دستیار هوشمند
                            </th>
                            <!--<th>-->
                            <!--    نحوه شروع به کار-->
                            <!--</th>-->
                            <th>
                                موضوع
                            </th>
                            <th style="width: auto">
                                مشخصه
                            </th>
                        </tr>
                        <tr>
                            <td id="exp_id">
                            </td>
                            <!--<td id="init_id">-->
                            <!--</td>-->
                            <td id="subj_id">
                            </td>
                            <td id="prop_id">
                            </td>

                        </tr>
                    </table>
                </div>
        <hr>
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
        <div style="margin-bottom: 60px; width:inherit;">
            <label for="datalist">1-انتخاب دستیار هوشمند
            <select class="js-example-basic-single" name="datalist" id="datalist"  required onchange="change_db()"
            style=" width:100%">
                <option value="">---</option>
                {% for data in databases %}
                    <option value={{ data.id}}> {{ data}}</option>
                {% endfor %}
            </select>
            </label>
        </div>
            <div class="notemsg" style="margin: 20px auto;">
                <div class="noteheader ">راهنمایی</div>
                <p >
                    با توجه به موضوع مورد نظر خود دستیار هوشمند را انتخاب کنید.
                </p>
            </div>
            <div class="alerttext" style="margin: 20px auto;">
                <div class="alertheader">توجه</div>
                <p>
                    پس از انتخاب دستیار هوشمند، برای ادامه کار دکمه "مرحله بعد" را کلیک کنید.
                </p>
            </div>

        </div>

        <div  style="visibility: hidden">
            <select class="js-example-basic-single" name="inittype" id="inittype" required oninput="inittypeselect()"
            style=" width:100%;">
              <option value="priorfact" selected>با کمک اطلاعات اولیه کاربر</option>
            </select>
        </div>

        <div class="tab">
            <div style="margin-bottom: 60px; ">
            <label for="factlist-subject">2-انتخاب موضوع
            <select class="js-example-basic-single" id="factlist-subject" name="factlist-subject" style=" width:100%;"
                    title="یک گزینه را انتخاب کنید"  onchange="updatedetailfacts();">
                <option value=""> ---</option>
                {% for f in subjectfacts %}
                    <option value="{{ f.fact}}"> {{f.fact}}</option>
                {% endfor %}
            </select>
            </label>
            </div>
            <div class="notemsg" style="margin: 20px auto;">
                <div class="noteheader ">راهنمایی</div>
                <p >
                    در این مرحله موضوعی را که می خواهید دستیار هوشمند در رابطه با آن شما را راهنمایی کند انتخاب کنید
                    <br>
                     نکته: انتخاب موضوع الزامی نمی باشد.
                </p>
            </div>
            <div class="alerttext" style="margin: 20px auto;">
                <div class="alertheader">توجه</div>
                <p>
                    <strong>
                    نکته مهم:در صورت عدم انتخاب موضوع می بایست در گام بعد یک یا چند مشخصه را انتخاب کنید.
                    </strong>
                    <br>
                    برای ادامه کار دکمه "مرحله بعد" را کلیک کنید.
                    <br>
                </p>
            </div>

        </div>

        <div class="tab">
            <div style="margin-bottom: 60px; ">
            <label for="factlist-detail[]">3-انتخاب مشخصه(مبانی محاسباتی)
            <select class="js-example-basic-multiple" id="factlist-detail[]" name="factlist-detail[]" multiple
                    title="یک یا چند گزینه را انتخاب کنید" style=" width:100%;">
                {% for f in detailfacts %}
                    <option value="{{ f.fact}}"> {{f.fact}}</option>
                {% endfor %}
            </select>
            <input type="radio" id="related_detail" name="detailtype" value="related_detail" checked
                onchange="updatedetailfacts()" title="با انتخاب این گزینه فقط مشخصه های مرتبط با موضوع که در گام قبل انتخاب شده نمایش داده می شود">
            <label for="related_detail" title="با انتخاب این گزینه فقط مشخصه های مرتبط با موضوع که در گام قبل انتخاب شده نمایش داده می شود"
                >فقط مشخصه های مرتبط</label><br>
            <input type="radio" id="all_detail" name="detailtype" value="all_detail"
                onchange="updatedetailfacts()" title="با انتخاب این گزینه تمامی مشخصه ها قابل انتخاب می باشند">
            <label for="all_detail" title="با انتخاب این گزینه تمامی مشخصه ها قابل انتخاب می باشند">
                کلیه مشخصه ها</label><br>
            </label>
            </div>
            <div class="notemsg" style="margin: 20px auto;">
                <div class="noteheader ">راهنمایی</div>
                <p >
                    مشخصه، اطلاعات اولیه ای است که کاربر از موضوع مورد نظر خود دارد. دستیار هوشمند بر اساس موضوع و مشخصات انتخاب شده شما را برای رسیدن به پاسخ راهنمایی می کند.
                    <br>
                    نکته:
                    <ul>
                        <li>
                            لیست بالا قابلیت جستجو دارد. برای شروع جستجو کافی است درون کادر چیزی تایپ کنید
                        </li>
                        <li>
                            لیست بالا قابلیت انتخاب چند گزینه را دارد.
                            برای اینکار کافی است یک یا چند گزینه را انتخاب کنید.
                        </li>
                    </ul>
                </p>
            </div>
            <div class="alerttext" style="margin: 20px auto;">
                <div class="alertheader">توجه</div>
                <p>
                    <strong>
                    مهم: در صورت عدم انتخاب موضوع در گام قبل، می بایست حداقل یک مشخصه در این گام انتخاب نمایید.
                    </strong>
                    <br>
                    برای شروع کار دستیار هوشمند دکمه "شروع" را کلیک کنید.
                </p>
            </div>

        </div>

        <div style="overflow:auto;">
            <div style="float:left;">
                <button type="button" id="prevBtn" class="button " onclick="nextPrev(-1)">مرحله قبل</button>
                <button type="button" id="nextBtn" class="button button1" onclick="nextPrev(1)">مرحله بعد</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <!--<span class="step"></span>-->
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>
        </div>
    </div>
<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form ...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        // ... and fix the Previous/Next buttons:
        if (n === 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
            document.getElementById('prevBtn').classList.add('button1');
        }
        if (n === (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "شروع";
        } else {
            document.getElementById("nextBtn").innerHTML = "مرحله بعد";
        }
        // ... and run a function that displays the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n === 1 && !validateForm())
            return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form... :
        if (currentTab >= x.length) {
            //...the form gets submitted:
            document.getElementById("expertinitial").submit();
            {#return false;#}
        }
        setdetail(currentTab);
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }
    function setdetail(step) {
            if(step ===1){
                si = document.getElementById('datalist').selectedIndex;
                document.getElementById('exp_id').innerText = document.getElementById('datalist').options[si].text;
            }else if(step===2){
                si = document.getElementById('factlist-subject').selectedIndex;
                document.getElementById('subj_id').innerText = document.getElementById('factlist-subject').options[si].text;
            }
        }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].querySelectorAll("[required]");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++)
        {
            // If a field is empty...
            if (y[i].value === "")
            {
                // add an "invalid" class to the field:
                y[i].style.backgroundColor= '#ffe6e6';
                // and set the current valid status to false:
                valid = false;
                // alert(y[i].name);
                // alert(y[i].value);
                if (y[i].name === 'factlist-detail[]')
                {
                    var subjitem = document.getElementById('factlist-subject');
                    if (subjitem.value !== '')
                    {
                        y[i].style.backgroundColor= 'white';
                        valid = true;
                    }
                } else if (y[i].name === 'factlist-subject')
                {
                    var detitem = document.getElementById('factlist-detail[]');
                    if (detitem.value !== '')
                    {
                        y[i].style.backgroundColor= 'white';
                        valid = true;
                    }
                    // valid = true;
                }
            }else{
                y[i].style.backgroundColor= 'white';
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";

        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++)
        {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class to the current step:
        x[n].className += " active";
    }
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("activecontent");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}
