<!DOCTYPE html>
<html lang="fa">
<head>
<meta name="description" content="دستیار هوشمند ">
<meta name="keywords" content="سیستم خبره,نرخ حق بیمه تامین اجتماعی,هوش مصنوعی,تعیین حق بیمه,مدیریت قوانین,ExpertSystem, Artificial Intelligence">
<meta name="author" content="رحمان زارعی">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>سامانه هوشمند</title>
{% load static %}
<link href="{% static "/ExpertSystem/css/expertstyle.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "/ExpertSystem/css/menustyle.css" %}" rel="stylesheet" type="text/css" />
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static '/admin/js/django_jalali.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="{% static 'ServiceUser/javascript/menuscripts.js' %}" defer></script>
    <script >
        var jQuery_3_4_1 = $.noConflict(true);
        user = '{{user.username}}';
        $(document).ready(function(){
            manageuser(user);
            $('.persiandp').datepicker({
	            changeMonth: true,
	            changeYear: true,
                numberOfMonths: 1,
	            {#showButtonPanel: true,#}
                {#showWeek: true,#}
	            dateFormat: 'dd/mm/yy',
                {#dateFormat: 'yy/mm/dd',#}
	            {#autoSize: true,#}
                {#showOn: 'button',#}
	            {#buttonImage: '/static/admin/img/icon-calendar.svg',#}
	            {#buttonImageOnly: true#}
	        });
	        $('#id_signin').click(function(){
                let log_state = '{{ user.is_authenticated}}';
                if (log_state == 'True'){
                    $('#id_userpanel').show();
                    $('#editbtn').click(function(){
                     window.location.href ='{% url 'ServiceUser:edit_user'  %}';
                    });
                    $('#logoffbtn').click(function(){
                        window.location.href ='{% url 'sinout'  %}';
                    });
                }
                else {
                    window.location.href ='{% url 'signin'  %}';
                }
            });
	         $ = jQuery_3_4_1;
            $('.js-example-basic-single').select2({
                dir: "rtl"
            });
            $('.js-example-basic-multiple').select2({
                dir: "rtl"
            });

        });
    </script>
<style>
    body {
    font-family: "B Yekan",Tahoma, sans-serif;
}
</style>
</head>
<body >
    {% include 'ServiceUser/topnavmenu.html' %}
<div class="contentcontainer" >
        {% include "ServiceUser/userpanel.html" %}
        {% include "ServiceUser/UserManagement/custom_expiration_msg.html" %}


<h1 >راه اندازی سامانه هوشمند</h1>
<div class="contentcontainer">
<div class="row">
    <div class="contentcolumn">
        <div class="infomsg">
        <div class="infoheader">اطلاع</div>
        <p >
            سامانه هوشمند تعیین نرخ حق بیمه با استفاده از روش های هوش مصنوعی به شما در تشخیص نرخ حق بیمه قراردادهای پیمانکاری کمک می کند.
            کافی است اطلاعات اولیه ای که ازقرارداد دارید را از جدول زیر انتخاب کنید و دکمه شروع را بزنید.
            با پاسخ دادن به چند سوال نرخ حق بیمه قرارداد برای شما نمایش داده می شود
        </p>
        <br>
        راهنمایی سریع:
        <ol class="numbered ">
            <li>
                <p> از لیست موجود در ردیف اول(نحوه شروع به کار موتور استنتاج)، انتخاب اطلاعات از پایگاه حقایق را انتخاب کنید. این گزینه برای زمانی به کار برده می شود که شما دانشی در زمینه موضوع کار دارید.
                در این حالت با انتخاب اطلاعات سامانه هوشمند بر اساس این اطلاعات و بر اساس دانش قبلی سوالاتی از کاربر می پرسد و در طی مراحلی چنانچه دانشی در این رابطه وجود داشته باشد کاربر را به جواب نهایی راهنمایی می کند.
                </p>
            </li>
            <li>
                از لیست موجود در ردیف اول(نحوه شروع به کار موتور استنتاج) ، انتخاب بصورت تصادفی را انتخاب کنید و دکمه شروع را کلیک کنید.
            </li>
            <li>
                از لیست موجود در ردیف اول(نحوه شروع به کار موتور استنتاج)، از اولین قانون پایگاه داده را انتخاب کنید و دکمه شروع را کلیک کنید.
            </li>
        </ol>
    </div>
        <div class="alerttext">
            <div class="alertheader">توجه</div>
                <p>
                    نکته:گزینه های دوم و سوم جهت آزمایش کارایی سیستم در حالت عمومی یا کسب اطلاعات در مورد دانش زمینه کار می باشد.
                </p>
        </div>
        <form id="expertinitial" method="post"  action="{% url "ServiceUser:user_expert_start" exp_id%}  ">
            <label for="inittype">نحوه شروع به کار موتور استنتاج</label>
            <select id="inittype" class="js-example-basic-single" name="inittype"  oninput="inittypeselect()" required >
              <option value="priorfact" selected>انتخاب اطلاعات از پایگاه حقایق اولیه</option>
              <!--<option value="first" >از اولین قانون پایگاه داده</option>-->
              <!--<option value="random"> انتخاب بصورت تصادفی</option>-->
            </select>
            <label for="factlist">اطلاعات اولیه </label>
            <!--<select id="factlist" name="factlist"  multiple size="10">-->
            <select class="js-example-basic-multiple" id="factlist" name="factlist[]" multiple="multiple">
                {% for f in facts %}
                    <option value="{{ f.fact}}"> {{f.fact}}</option>
                {% endfor %}

            </select>
            <label for="datalist">حوزه دانش </label>
            <!--<select id="datalist" name="datalist" required  onchange="change_db()" >-->
            <select class="js-example-basic-single" name="datalist" id="datalist"  required onchange="change_db()">
                {% for data in databases %}
                    <option value={{ data.id}}> {{ data}}</option>
                {% endfor %}
            </select>
            <hr>
            <button type="submit" id="nextBtn" class="button button1">شروع </button>
            {% csrf_token %}
        </form>
    </div>
</div>
</div>

<script>
function inittypeselect() {
    var inittype = document.getElementById('inittype').value;
    var factlist = document.getElementById('factlist');
    {#alert(inittype);#}
    if (inittype==='priorfact') {
        factlist.disabled=false;
    }
    else {
        factlist.disabled=true;
    }

  }

function allvalues() {
      var factlist = document.getElementById('factlist');
      var opts = [], opt;

    // loop through options in select list
      for (var i=0, len=factlist.options.length; i<len; i++) {
          opt = factlist.options[i];

        // check if selected
          if ( opt.selected ) {
            // add to array of option elements to return from this function
              opts.push(opt);
        }
    }
  }

function change_db() {
  var db_id = document.getElementById('datalist').value;
  var  xmlhttp, ResponseObj;
  xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
      ResponseObj = JSON.parse(this.responseText);
      {#alert('my parsed resp is:---'+ResponseObj);#}
      var factlist = document.getElementById('factlist');
      factlist.innerText='';
      for (x in ResponseObj) {
          var opt =document.createElement('option');
          opt.text = ResponseObj[x].fact;
          opt.value = ResponseObj[x].id;
          factlist.options.add(opt);
      }
      }
    };
  xmlhttp.open("POST", "{% url 'ServiceUser:update_facts' user exp_id%}", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.send('db_id='+db_id);
}

function setactive(event)
{
    var x = event.target;
    x.classList.toggle("active");
}

function responsemenu() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

function manageuser(user)
{
    if(user!=='not_signed_in')
    {
        document.getElementById('id_signin').innerText = user;
        document.getElementById('id_signin').style.textShadow = "2px 2px 4px #000000";
        document.getElementById('id_signin').style.borderBottomStyle = "outset  ";
        document.getElementById('id_signin').style.borderColor='black';
        document.getElementById('id_signin').style.borderBottomWidth="medium";
        document.getElementById('id_register').remove();
    }else
    {
        // alert('not_signed_in');
        document.getElementById('id_signin').innerText = 'ورود';
        var navlinks = document.getElementById('myTopnav');
        var len = navlinks.children.length;
        if(navlinks.children[len-1].innerText!=='ثبت نام')
        {
            var reglink = document.createElement("a");               // Create a <a> element
            reglink.innerText = "ثبت نام";
            reglink.href= '{% url "princing"%}';
            reglink.className = "left";
            reglink.id = 'id_register';
            navlinks.splice(len-1, 0, reglink);
        }
    }
}
</script>

</body>
<div class="footer">
    <h4>تمام حقوق محفوظ است
        <i class="fa fa-copyright"></i>
        1399
    </h4>
</div>

</html>






















